[2018-11-16 03:16] SachinPawaskarUNO commented on #285
@emilystreetman This issue have been fixed. Please verify.
@emilystreetman and @fedamann Are there any more issues that still need to be updated?

[2018-11-16 14:55] emilystreetman commented on #285
@SachinPawaskarUNO - this ticket is verified. We will need to go through the same steps when @nyukyi and I finish ticket #281 because that will be the second (final) batch of updated measurements images.

[2018-11-16 14:55] #285 closed

[2018-11-16 16:37] SachinPawaskarUNO commented on #274
@nmcelroy, Please take a look, these are still showing up in CAT.

[2018-11-16 16:38] SachinPawaskarUNO commented on #262
@btrnew, Can you please take a look at this and close if verified as fixed

[2018-11-16 17:46] btrnew commented on #262
Issue is fixed. Thank you!

[2018-11-16 17:46] #262 closed

[2018-11-17 16:54] SachinPawaskarUNO commented on #274
@fedamann, @nmcelroy @rpernst I have addressed this issue. This issue has to do with original skeletal_bones dataset. I have now addressed this issue in both CAT and current PROD.
@mei215, Please verify this issue.

[2018-11-17 20:51] SachinPawaskarUNO commented on #198
@clegarde Can you please verify this?

[2018-11-17 20:56] clegarde commented on #198
GTG

[2018-11-17 20:56] #198 closed

[2018-11-17 22:21] SachinPawaskarUNO commented on #196
@CTegtmeyer, @emilystreetman @tlvandeest Please verify this issue.
@fedamann This data issue will have to be verified in PROD once we do the v1.0.0 release.

[2018-11-17 22:26] SachinPawaskarUNO commented on #185
@fedamann and @TarawaProject This issue has now been addressed by showing the appropriate bone cora-docs measurements in the right hand side slideout panel.
@TarawaProject Can you please verify this issue?

[2018-11-17 22:29] SachinPawaskarUNO commented on #158
@nyukyi Please verify this is CAT and close out issue if verified.

[2018-11-17 22:30] SachinPawaskarUNO commented on #188
@clegarde Can you please verify this issue?

[2018-11-17 22:32] SachinPawaskarUNO commented on #180
@TarawaProject and @fedamann Can you please verify this issue?

[2018-11-17 22:36] SachinPawaskarUNO commented on #172
@veronicak7 and @fedamann Can you please verify this issue?

[2018-11-17 22:37] SachinPawaskarUNO commented on #167
@tlvandeest and @fedamann, Can we please verify this issue?

[2018-11-17 22:38] SachinPawaskarUNO commented on #164
@skindsc1, Can you please verify this issue?

[2018-11-17 22:41] SachinPawaskarUNO commented on #157
@clegarde Can we please verify this issue?
I'm hoping we have addressed most of what was originally discussed, I'm just not sure.

[2018-11-17 22:42] SachinPawaskarUNO commented on #60
@fedamann and @emilystreetman Can we please verify this issue?

[2018-11-17 22:45] SachinPawaskarUNO commented on #76
@cbrown311, @nyukyi Can you please verify this issue?

[2018-11-17 23:17] SachinPawaskarUNO commented on #151
@rpernst Has this issue been addressed?

[2018-11-18 15:43] clegarde commented on #157
GTG

[2018-11-18 15:43] #157 closed

[2018-11-18 15:52] clegarde commented on #188
I don't see a field for re-samples anymore, so I don't think I can verify this. Are we still building out the DNA profile page? I think this one may be in a hold until that is all worked out?

[2018-11-18 15:54] clegarde commented on #240
GTG
I'm very happy you can click the mito sequence number from this search and get the list of elements in the mito sequence, too! Awesome!

[2018-11-18 15:54] #240 closed

[2018-11-18 15:58] clegarde commented on #151
Doesn't appear to be. Still getting the same list of left and right elements for the example above.

[2018-11-18 16:01] SachinPawaskarUNO commented on #188
@clegarde and @fedamann , The first phase of the redesign removes resample number as a field from DNA record. It is just sample numbers. A SE can now have multiple DNA records, the first of these will be considered standard sample number and remaining will be re-sample numbers, this will require the Anthropologists to use the appropriate naming convention either as done today (244, 254a, 254b, etc

[2018-11-18 16:04] SachinPawaskarUNO commented on #151
@rpernst please see @clegarde comment above. This has not been addressed as yet. Please take a look as this as soon as possible.

[2018-11-19 13:22] skindsc1 opened #288 "Add Individual Number and DNA sequence to CoRA search"
Based on the discussion on Friday, add Individual Number and DNA sequence number to the search so that you can see whether an element has been associated with either an I-#, DNA sequence, or both and this list can be exported.

[2018-11-19 13:31] skindsc1 commented on #164
@SachinPawaskarUNO @nmcelroy Yes, I can confirm this works.  Just FYI, it took me several tries before it successfully saved the subsequence and in at least one case I did not get the green bar message at the top that said my changes were made successfully.

[2018-11-19 13:31] #164 closed

[2018-11-19 14:33] emilystreetman commented on #196
Cervical vertebra 1 and 2 look good.
![image](https://user-images.githubusercontent.com/34662044/48713163-4734bc80-ebd5-11e8-8e39-68329d02b490.png)
![image](https://user-images.githubusercontent.com/34662044/48713183-4e5bca80-ebd5-11e8-8cf1-dbb86352462c.png)

Mandible looks good.
![image](https://user-images.githubusercontent.com/34662044/48713207-587dc900-ebd5-11e8-8971-ae9dabbdbe23.png)

Mastoid

[2018-11-19 14:34] emilystreetman opened #289 "Update measurements help guide to show bilateral measurements"
The Help Guide needs to be updated to include the measurements as reflected in ticket #196

[2018-11-19 15:16] nyukyi commented on #158
@SachinPawaskarUNO Verified & closing this issue now.

[2018-11-19 15:16] #158 closed

[2018-11-19 15:17] mei215 commented on #274
This issue has been fixed.

[2018-11-19 15:17] #274 closed

[2018-11-19 15:22] SachinPawaskarUNO commented on #196
@emilystreetman This issue has been addressed. Please verify this issue.
@fedamann This data issues will have to be verified in PROD once we do the v1.0.0 release.

[2018-11-19 16:41] nyukyi commented on #76
Checked again - sacrum zones still out of order. Everything else looks good.
![cora_sacrum_zone](https://user-images.githubusercontent.com/34749060/48721503-ad2a3f80-ebe7-11e8-8b59-42746e8e0022.PNG)

[2018-11-19 18:15] emilystreetman commented on #60
@skindsc1 has offered to take a look at this ticket in conjunction with #239 which she opened as a threshold error ticket

[2018-11-19 18:19] emilystreetman commented on #167
@skindsc1 has offered to verify #239, which is a similar measurement threshold issue and also the root ticket #60 - you guys may want to communicate to avoid duplicating efforts. unique issue in this ticket may be the error message for elements with no thresholds noted by @tlvandeest on may 30

[2018-11-19 18:20] skindsc1 commented on #239
Verified that these specific measurement thresholds are correct.

[2018-11-19 18:20] #239 closed

[2018-11-19 18:38] nyukyi opened #290 "Zone Report Bug"
There is a bug when selecting zones.  This is an example of what I encountered:  I looked up zones for the sacrum, and then selected tibia right after that.  When I clicked on "zones" after selecting tibia, the zones for the sacrum (or other previously selected element) showed up.
![cora_zones_bug](https://user-images.githubusercontent.com/34749060/48721838-4bb6a080-ebe8-11e8-9551-2555e47ae7fe.PNG

[2018-11-19 19:39] SachinPawaskarUNO commented on #290
@nyukyi Here is what I'm seeing in CAT (see screenshot below). Are you going to the right environment. Can you please reverify.

![image](https://user-images.githubusercontent.com/19599773/48730598-86c4ce00-ec00-11e8-823b-6a31e4c6469e.png)

[2018-11-19 19:51] emilystreetman commented on #279
verified as fixed

[2018-11-19 19:51] #279 closed

[2018-11-19 19:53] nyukyi commented on #290
@SachinPawaskarUNO I was/am in CAT! I just checked it again, and it's working now... Did you secretly fix it??

[2018-11-19 19:53] #290 closed

[2018-11-19 21:17] lfkennedy opened #291 "Add ability to include null results to search"
When running a methods search, it would be helpful to include specimens for which this method could not be scored. For example, when running a methods search for os coxae of a certain age range, I would like the search to also return those specimens of this element for which this age data is unavailable due to damage/fragmentation/etc, so that all os coxae with the dorsal demiface scored as 0-3 wo

[2018-11-19 21:20] lfkennedy commented on #287
The above search was run selecting the following criteria: zones 1, 4-6 "Exclusive"

[2018-11-19 21:32] lfkennedy opened #292 "Zone search for elements that do not have specific zones present"
Currently, if I want to find a potential refit for a fragmentary element, I am not able to run a search for elements where specific zones are absent.

In the below example, I have the proximal end (zone 1) of a fibula, and I want to find any elements in the USS Oklahoma accession where this zone is not present. I have added a new column to the help information box to demonstrate what the results w

[2018-11-20 18:22] emilystreetman commented on #196
Cranium and mandible measurements are OK.

Didn't catch this yesterday: The old (non-sided) mastoid length currently follows Cra_22 and should be removed.  Left and right mastoid are OK:
![image](https://user-images.githubusercontent.com/34662044/48794080-868b0800-ecbe-11e8-9499-bbb4b1dd2fba.png)

[2018-11-20 18:41] emilystreetman commented on #289
updated and pull request created. waiting to verify in documentation

[2018-11-20 18:42] emilystreetman commented on #281
All measurements images updated and pull request created. waiting to verify in Help documentation and on measurements pages in CoRA

[2018-11-20 19:17] SachinPawaskarUNO commented on #196
@emilystreetman The above Cranium data issue (Car_25 Mastoid Length) has also be addressed. Please verify this issue.
@fedamann This data issues will have to be verified in PROD once we do the v1.0.0 release.

[2018-11-20 19:19] SachinPawaskarUNO commented on #284
@emilystreetman This issue has been addressed, Please verify.

[2018-11-21 19:39] SachinPawaskarUNO commented on #286
@skindsc1, Please verify.

[2018-11-21 19:39] SachinPawaskarUNO commented on #288
@skindsc1 Please verify

[2018-11-21 19:41] SachinPawaskarUNO commented on #281
@emilystreetman @nyukyi Please verify

[2018-11-21 20:02] SachinPawaskarUNO commented on #236
@tlvandeest Please verify

[2018-11-21 20:17] SachinPawaskarUNO commented on #167
@tlvandeest Please verify

[2018-11-21 20:29] SachinPawaskarUNO commented on #140
@skindsc1 Please verify

[2018-11-21 20:35] SachinPawaskarUNO commented on #60
@fedamann Please verify

[2018-11-21 20:36] SachinPawaskarUNO commented on #48
@mei215 Please verify

[2018-11-21 20:40] SachinPawaskarUNO commented on #13
@skindsc1 Please verify

[2018-11-21 20:50] skindsc1 commented on #13
Verified and closed.

[2018-11-21 20:50] #13 closed

[2018-11-21 20:54] skindsc1 commented on #286
Verified and closed

[2018-11-21 20:56] skindsc1 commented on #288
Verified and closed.

[2018-11-21 20:56] #288 closed

[2018-11-21 20:59] skindsc1 commented on #140
The report looks good for now so I will close the ticket.  We may want to add some results to the report such as DNA sample number, I-#, and sequence # but that can be a separate ticket.

[2018-11-21 20:59] #140 closed

[2018-11-21 21:25] nyukyi opened #294 "Sacrum zone report - zone list out of order"
Under the zone list for the sacrum in the zones report section, the list is out of order

![cora_sacrum_zone](https://user-images.githubusercontent.com/34749060/48869099-93345c80-eda1-11e8-9fcb-2847eca8fbca.PNG)

[2018-11-21 21:55] nyukyi opened #295 "Tying images with appropriate elements: hands, feet, and vertebrae"
![hand_500](https://user-images.githubusercontent.com/34749060/48869710-cbd53580-eda3-11e8-9f86-e3a638c46846.png)

Hand elements to be tied with this above image:
- Metacarpal 1
- Metacarpal 2
- Metacarpal 3
- Metacarpal 4
- Metacarpal 5
- Hamate
- Capitate
- Trapezoid
- Trapezium
- Pisiform
- Triquetral
- Lunate
- Scaphoid

---

![foot_500](https://user-images.githubusercontent.com/34749060/48869

[2018-11-21 22:49] fedamann commented on #16
Verified and closed.

[2018-11-21 22:49] #16 closed

[2018-11-21 22:54] fedamann commented on #60
Threshold limits set. Verified and closed this issue. Correct values for thresholds are assessed under #167

[2018-11-21 22:54] #60 closed

[2018-11-21 23:00] fedamann commented on #249
@clegarde @jjlynch2 please verify appropriate values are associated with each measurement in cat-coracore.org

[2018-11-21 23:35] btrnew opened #296 "Phalanx Count Function"
I thought I recalled someone mentioning that there would be a count function that would allow you to add X amount of unseriated phalanges, but there doesn't appear to be a count option or phalanges skeletal group option. I don't see a ticket for this, so I thought I would make the suggestion.

An example of the necessity of this feature:
I have an accession with over 100 unseriated proximal phalan

[2018-11-21 23:39] btrnew opened #297 "Sesamoids in Hand/Foot Bone Groups"
We have instances where complete or nearly complete hands/feet come to us with associated sesamoid bone(s). Currently, there is no sesamoid (1,2,3,etc.) option in the Hand or Foot bone groups.

<img width="809" alt="no sesamoids" src="https://user-images.githubusercontent.com/43450732/48873603-db984e00-ed92-11e8-9789-7db75256f30b.PNG">
<img width="878" alt="no sesamoids foot" src="https://user-ima

[2018-11-22 04:04] SachinPawaskarUNO commented on #260
@tlvandeest, Please verify

[2018-11-22 16:03] SachinPawaskarUNO commented on #297
@fedamann, If we have a valid use case as suggested by @btrnew I'm Ok with adding additional bones to these bone groups. I would however encourage the Anthropologists groups in Omaha & Hawaii have a group discussion on this as well as see if the rest of the groups look Ok. We can then follow up with a quick summary conversation during the SCRUM and move forward based upon the decision the group ma

[2018-11-22 16:19] SachinPawaskarUNO commented on #296
@btrnew, @fedamann, Currently only the list of Skeletal_Bones (SB) flagged as countable will have count and mass fields available for inventorying purposes. We currently have **Unidentified phalanx** that could be use for this purpose. I would like the groups in Hawaii & Omaha to work together on coming up with a list of such bones, if what we have currently is not sufficient. We currently have th

[2018-11-22 16:42] SachinPawaskarUNO commented on #295
@nyukyi Please verify

[2018-11-22 16:42] SachinPawaskarUNO commented on #294
@nyukyi Please verify

[2018-11-22 17:55] SachinPawaskarUNO commented on #276
@skindsc1 This is a data issue, where existing SEs do not have corresponding accessions created. This should typically not happen in PROD for any new data being add as corresponding accessions would be created either by Project Leads or when Anthropologist Users create SEs and auto creation privileges are enabled for the project by the Project lead.
For the existing data, we will run a script that

[2018-11-22 17:55] SachinPawaskarUNO commented on #277
@skindsc1 and @fedamann This is a data issue, where existing SEs do not have corresponding accessions created. This should typically not happen in PROD for any new data being add as corresponding accessions would be created either by Project Leads or when Anthropologist Users create SEs and auto creation privileges are enabled for the project by the Project lead.
For the existing data, we will run

[2018-11-22 22:46] SachinPawaskarUNO commented on #80
@clegarde Please take a look at this issue to see if we are missing something that has not already been addressed in the new v1.0.0 in CAT.

[2018-11-22 22:49] SachinPawaskarUNO commented on #182
@TarawaProject, Please verify, this has currently been implemented for the following bones

1. Unidentified cranium
2. Unidentified fragments
3. Unidentified rib fragments
4. Unidentified long bone
5. Unidentified metacarpal/tarsal
6. Unidentified phalanx
7. Unidentified vertebra

Adding @TarawaProject, @CTegtmeyer, @clegarde @skindsc1 and @emilystreetman to this conversation. Please note that the

[2018-11-22 22:50] SachinPawaskarUNO commented on #173
@TarawaProject This has been implemented, Please verify

[2018-11-22 22:52] SachinPawaskarUNO commented on #181
@TarawaProject, Please verify that a new skeletal bone named "unidentified rib fragments" is now available for inventory in CoRA.

[2018-11-22 23:14] SachinPawaskarUNO commented on #146
@fedamann and @tlvandeest, I need the following information for the new method, **reference, description, does this use composite_score (assuming false)**

name = 'Schaefer 2008', submethod = '', type = 'Age', 'reference' => '????',  description = 'Age estimation based on various skeletal morphology',  uses_feature_score = true, uses_composite_score = false, help_url = 'https://cora-docs.readthedo

[2018-11-25 22:29] clegarde commented on #80
GTG

[2018-11-25 22:29] #80 closed

[2018-11-26 04:00] SachinPawaskarUNO commented on #190
@tlvandeest Please verify.

[2018-11-26 04:04] SachinPawaskarUNO commented on #151
@clegarde Can you please verify this issue?

[2018-11-26 13:54] emilystreetman commented on #196
Looks good!

[2018-11-26 13:54] #196 closed

[2018-11-26 13:56] emilystreetman commented on #284
Looks good!

[2018-11-26 13:56] #284 closed

[2018-11-26 14:18] emilystreetman commented on #281
Looks good!

[2018-11-26 14:18] #281 closed

[2018-11-26 16:39] CTegtmeyer commented on #173
Verified

[2018-11-26 16:39] #173 closed

[2018-11-26 16:44] CTegtmeyer commented on #174
This has been verified

[2018-11-26 16:44] #174 closed

[2018-11-26 16:44] CTegtmeyer commented on #176
This has been verified

[2018-11-26 16:44] #176 closed

[2018-11-26 16:45] CTegtmeyer commented on #175
This has been verified

[2018-11-26 16:45] #175 closed

[2018-11-26 17:03] CTegtmeyer commented on #185
This issue has been verified. Cora-docs is in the right had side of the screen on the measurement search page.

[2018-11-26 17:03] #185 closed

[2018-11-26 17:05] CTegtmeyer commented on #187
This has been verified. MCC Date is on the DNA profile page.

[2018-11-26 17:07] emilystreetman commented on #289
done

[2018-11-26 17:07] #289 closed

[2018-11-26 17:09] CTegtmeyer commented on #180
This issue has been verified

[2018-11-26 17:09] #180 closed

[2018-11-26 17:11] emilystreetman opened #298 "Methods help guide should show relevant section"
When observations are being saved according to a method, the help guide should automatically open to the Methods section (general) or the specific method section (e.g., McKern and Stewart 1957)

Current display for humerus>age>McKern and Stewart shown below, with the help guide home page linked on the right
![image](https://user-images.githubusercontent.com/34662044/49030073-f50f1080-f16b-11e8-8a7

[2018-11-26 17:13] CTegtmeyer commented on #181
this issue is verified

[2018-11-26 17:13] #181 closed

[2018-11-26 17:16] emilystreetman commented on #286
Can someone please show me how to do this? I see the column in advanced search results, but can't sort or export by I-# presence?

[2018-11-26 17:20] emilystreetman opened #299 "Drop-down of element designators should show side and element"
In a comment for ticket #151 , @clegarde made a comment that I think should be its own idea. It would be easier to choose articulating elements (or other associations) if the side and bone were shown in the drop-down selection list in a similar way to how it's shown in this screencap:

![image](https://user-images.githubusercontent.com/34662044/49030525-2b995b00-f16d-11e8-85d3-fbf1e23504db.png)

[2018-11-26 17:24] CTegtmeyer commented on #182
I have verified that this has been implemented for these elements. Before I close this issue, can I open the discussion (@fedamann, @SachinPawaskarUNO) of adding counts to smaller elements like phalanges so that we do not have to enter each individual phalanx to CoRA? Would this be something to consider, or should they keep being individually put in (I only ask because we sometimes get upwards of

[2018-11-26 17:36] SachinPawaskarUNO commented on #182
@CTegtmeyer and @fedamann This issue is related to #296 where I have mentioned the following. Currently only the list of Skeletal_Bones (SB) flagged as countable will have count and mass fields available for inventorying purposes. We currently have Unidentified phalanx that could be use for this purpose. We could consider renaming this to **Unidentified phalanges**.
Anyway, I would like the groups

[2018-11-26 20:07] lfkennedy opened #300 "Reports application error"
This page and error occurred when I attempted to run a Measurements Report in the production environment for the left humerus

![image](https://user-images.githubusercontent.com/35273714/49039150-90ac7b00-f184-11e8-9381-b9992a9c012f.png)

Edited to add: this also occurs when running the same measurements report in the cat.coracore.org/reports/measurements page (identical error).

[2018-11-27 00:31] clegarde commented on #151
GTG

[2018-11-27 00:31] #151 closed

[2018-11-27 00:38] clegarde commented on #300
I've been getting this error a lot. I just got it when I clicked on a cat key from a "bone search". I clicked on the DNA sample number instead, and it opened, but then asked me to log in again before I could edit. It seems like it's related to some kind of "time out" issue. I'll give more specific examples as it continues to happen.

[2018-11-27 14:54] emilystreetman commented on #298
Wow, quick turnaround on this, guys! Looks good!

[2018-11-27 14:54] #298 closed

[2018-11-27 15:32] nyukyi commented on #294
Looks good, thank you!

[2018-11-27 15:32] #294 closed

[2018-11-27 20:57] TarawaProject commented on #177
verified

[2018-11-27 20:57] #177 closed

[2018-11-27 22:44] TarawaProject commented on #178
verified that this was added

[2018-11-27 22:44] #178 closed

[2018-11-27 22:53] TarawaProject commented on #182
What the Tarawa project is looking for is a count for "distal manual phalanges" not just unidentified phalanx.  If we can agree on a business rule that they are treated as unidentified phalanx I am ok with this, but think this would cause more confusion than necessary.  I think this needs to be a discussion topic @CTegtmeyer @Megyesimm  for the scrum

[2018-11-27 22:55] TarawaProject commented on #186
I did not see this in the current cat environment.

[2018-11-27 23:54] nyukyi commented on #295
@SachinPawaskarUNO Verified, good to go!

[2018-11-27 23:54] #295 closed

[2018-11-28 02:17] SachinPawaskarUNO commented on #182
@fedamann, @TarawaProject, @CTegtmeyer We do not have "distal manual phalanges" as a bone in CoRA, we have distal manual phalanx 1,..., distal manual phalanx 5 and distal pedal phalanx 1,..., distal pedal phalanx 5. But these in my opinion should be used for a specific instance of a bone and not a collection of bones.

As I think through this a couple of thoughts come to my mind.
1. We cannot just

[2018-11-28 14:18] clegarde commented on #182
I think the reason to have distal manual phalanges, intermediate manual phalanges, etc. would be if the project wants to separate these counts. We do have "unseriated distal/intermediate/proximal manual/pedal phalanx", so I think we could add the count option to these to take care of this.

SIDE COMMENT/THOUGHT: would it be possible to add a function to the "new skeletal element" page that is a "c

[2018-11-28 16:01] SachinPawaskarUNO commented on #182
@fedamann @TarawaProject @CTegtmeyer @clegarde @emilystreetman This is good conversation, please continue this with the end goal of making a recommendation by this Friday for what we want to do for the CoRA v1.0.0 release.

[2018-11-28 23:50] SachinPawaskarUNO commented on #43
@fedamann Based on our discussions and given that Microsoft is recommending the use of Microsoft Edge browser over IE for compatibility issues with W3C standards. We will not be addressing any IE related issues. Users should be encouraged to user the Microsoft Edge browser.

[2018-11-29 01:41] CTegtmeyer commented on #182
I agree that I think @TarawaProject was referring more towards the categories of unseriated distal, intermediate, and proximal phalanges (both manual and pedal -- at least this is how I understood it in my discussion with Rebecca).

I think it would be okay to have these smaller bones be countable and not have analytics attached to them. Unseriated phalanges don't really offer much in the way of a

[2018-11-29 01:48] SachinPawaskarUNO commented on #182
@fedamann @TarawaProject @CTegtmeyer @clegarde @emilystreetman If we agree to have these smaller bones be countable and not have analytics then can we agree on the list below.

1. unseriated proximal manual phalanges
2. unseriated intermediate manual phalanges
3. unseriated distal manual phalanges
4. unseriated proximal pedal phalanges
5. unseriated intermediate pedal phalanges and
6. unseriated d

[2018-11-29 02:06] clegarde commented on #182
Yes, I will clarify that I was not talking about a batch import. I was just suggesting another way to generate multiple new elements at one time into CoRA. Similar to adding a "bone group" but for it to be generating multiple entries/designators of the same skeletal element. Just thinking about what may be more efficient entry for different projects/scenarios.

[2018-11-29 02:13] SachinPawaskarUNO commented on #182
So, @clegarde do you agree with the list above in context of the current need for the Tarawa project?

[2018-11-29 02:15] clegarde commented on #182
Yes, I agree that the above list should meet the needs for the Tarawa project.

[2018-11-29 15:08] mei215 commented on #48
@SachinPawaskarUNO. Verified. Use of a business rule where logical groupings can be tracked through a variation on an Individual Number (e.g., .1) before the official I-### is assigned meets my current project needs. I still think a cumulative report of all reports, essentially the Report of Segregation, should be able to be produced at any point during analysis to guide the project lead regarding

[2018-11-29 15:08] #48 closed

[2018-11-29 15:47] SachinPawaskarUNO commented on #182
@emilystreetman Thank you.
@CTegtmeyer @TarawaProject @fedamann Let me know you thoughts ASAP.
For now based on the conversation above and my understanding I'm recommending we flag the following bones as countable for use with the Tarawa project.

1. unseriated distal manual phalanx
2. unseriated intermediate manual phalanx
3. unseriated proximal manual phalanx
4. unseriated distal pedal phalanx
5

[2018-11-29 19:41] tlvandeest commented on #190
In CoRA-CAT, you can now articulate two unseriated thoracic vertebra. This issue would also apply to unseriated cervical and lumbar vertebrae. @clegarde @fedamann @SachinPawaskarUNO

[2018-11-30 04:40] SachinPawaskarUNO commented on #186
@tlvandeest, This should now be in CAT. Please verify.

[2018-11-30 04:41] SachinPawaskarUNO commented on #233
@tlvandeest, This should now be in CAT. Please verify.

[2018-11-30 04:42] SachinPawaskarUNO commented on #236
@tlvandeest. Please verify.

[2018-11-30 04:42] SachinPawaskarUNO commented on #260
@tlvandeest Please verify.

[2018-11-30 15:02] tlvandeest commented on #167
Verified min and max thresholds and measurement entry can be done for calcaneus and talus.  Other element min and max values covered in #249 so closing this ticket.

[2018-11-30 15:02] #167 closed

[2018-11-30 15:45] SachinPawaskarUNO commented on #275
@tlvandeest @fedamann, It can be combination of # of users and types of activities being done. It can even be a single user that runs a report or search that requires more memory than what is allocated. Essentially any activity that can take the memory utilized above the current dyno memory quota threshold.
Please also note that the CAT servers are currently sized at the smallest memory level. @fe

[2018-11-30 18:17] tlvandeest commented on #260
The same error continues to appear when trying to open the Review tab for at least the Calcaneus and the Talus.  Attempts to check other elements via search results in the Application Error (#275) and they cannot be checked.

![cora cat review tab error 3](https://user-images.githubusercontent.com/35308331/49307012-8ac2dc80-f499-11e8-92ae-15e27d29a5c0.JPG)

[2018-11-30 18:18] tlvandeest commented on #260
@SachinPawaskarUNO @fedamann

[2018-11-30 18:20] tlvandeest commented on #233
Unable to verify at this time due to Application Error when searching for elements in CoRA CAT @SachinPawaskarUNO @fedamann

[2018-11-30 18:21] tlvandeest commented on #186
Unable to verify at this time due to Application Error when searching for elements in CoRA CAT @SachinPawaskarUNO @fedamann

[2018-11-30 20:07] SachinPawaskarUNO commented on #155
@clegarde Please verify

[2018-11-30 20:08] SachinPawaskarUNO commented on #165
@skindsc1 Please verify

[2018-11-30 20:09] SachinPawaskarUNO commented on #172
@veronicak7 and @fedamann Can you please verify this issue?

[2018-11-30 20:10] SachinPawaskarUNO commented on #188
@clegarde and @fedamann, Please verify

[2018-11-30 23:30] SachinPawaskarUNO commented on #186
During the SCRUM today, I have discussed with @tlvandeest a way to get past the search error and search an element using a composite key and from there go to the Review Screen for that element. Hopefully we should be able to make progress on this issue.

[2018-11-30 23:31] SachinPawaskarUNO commented on #233
During the SCRUM today, I have discussed with @tlvandeest a way to get past the search error and search an element using a composite key and from there go to the Review Screen for that element. Hopefully we should be able to make progress on this issue.

[2018-12-03 16:57] emilystreetman commented on #165
attempted to visit DNA page after saving "DNA sampled" for right fibula CIL 2018-351-X-5405--408, and received this error:
![image](https://user-images.githubusercontent.com/34662044/49388720-35313e80-f6ea-11e8-8860-a1fd3640ab03.png)

[2018-12-03 18:14] emilystreetman commented on #172
Verified, closing. I created designators 345, 346, and 347. When I clicked the dropdown menu for 346, the other two were the first and second selections:
![image](https://user-images.githubusercontent.com/34662044/49392763-05d3ff00-f6f5-11e8-9767-2780e889c5df.png)

[2018-12-03 18:14] #172 closed

[2018-12-03 21:30] tlvandeest commented on #146
I updated the CoRA Docs code and submitted a pull request for adding Schaefer 2008 to the Methods help section.  Below is a spreadsheet (Schaefer 2008 Methods Labels) that has the requested information from Sachin's comment above. The included help_url may need to be checked. @emilystreetman

The other spreadsheet is the updated Schaefer 2008 method parameters with age intervals (Schaefer 2008 w i

[2018-12-04 01:41] SachinPawaskarUNO commented on #146
@tlvandeest your pull request for the cora-docs update has been accepted. Please verify that your changes are showing up in cora-docs appropriately.
@tlvandeest and @emilystreetman, The help_url was incorrect, but I have identified and addressed this. Please verify this also.
@tlvandeest @fedamann The new Schaefer 2008 (Age) has been added and the old Schaefer et al 2009 (Age) has been deleted. Pl

[2018-12-04 05:00] rpernst commented on #165
the error was fixed with pull request sachinpawaskaruno/cora2#584

[2018-12-04 13:19] SachinPawaskarUNO commented on #165
@skindsc1 @emilystreetman Please verify

[2018-12-04 15:12] SachinPawaskarUNO commented on #165
@emilystreetman With the new design changes there will be no new screen for Additional DNA testing. The data fields for additional testing will now be under the DNA sample. The reason for this is that if additional tests are are done from the same sample then they will be fields for that DNA sample number that can be filled out (such as loci for ..., etc). If additional testing is being done with

[2018-12-04 21:18] SachinPawaskarUNO commented on #165
@nmcelroy will explain how to create a new DNA sample. within the same element.

@emilystreetman Please note that the DNA module is going to change further in the upcoming releases after v1.0.0 is deployed based upon conversation with AFDIL. We will be having additional discussions on this topic at a later date. For now I'm going to remove the v1.0.0 tag from this issue and we will handle this sep

[2018-12-06 02:17] clegarde commented on #188
I'm not sure how to add a re-sample, so I can't verify this issue yet. Maybe someone else should? This is sort of related to #165 discussion.

[2018-12-06 02:18] clegarde commented on #155
GTG

[2018-12-06 02:18] #155 closed

[2018-12-06 02:21] SachinPawaskarUNO commented on #188
@clegarde when you go to the DNA for an SE, go to Action/All. This screen gives you a listing of all DNA Sample records associated with this SE and the ability to Add a new DNA sample (Resample). In future conversation on the DNA module we need to discuss this and other related issues.

[2018-12-06 02:31] clegarde opened #302 "Error when trying to update DNA sample"
When attempting to update/edit DNA, I'm getting the following error:
![screen shot 2018-12-05 at 9 26 22 pm](https://user-images.githubusercontent.com/7350474/49557215-ee536c80-f8d4-11e8-83d9-f5058d230196.png)

I got this after adding a new sample, then choosing "Edit" to add other data (date, results, mito seq number, etc.).

[2018-12-06 02:32] clegarde commented on #302
Sorry @SachinPawaskarUNO , I should have stated, this is happening for multiple skeletal elements, not just 1994B. I tested a handful of different samples/skeletal elements.

[2018-12-06 03:32] clegarde commented on #302
This isn’t because I’m trying to add a duplicate sample number. I’m trying to edit a sample that already exists in CoRA and then I get this message. As of now, it’s not letting me edit any DNA samples already in CoRA, so I can’t add mito results to an existing sample.

[2018-12-06 03:40] SachinPawaskarUNO commented on #302
@clegarde, Ohh, Let me restate for our understanding, you are editing an existing DNA record and when saving you are getting that error. If that is the case, then it is a bug. It should only do what I stated above when creating a new DNA record.
@nmcelroy Please address this issue. I'm guessing that you have added this check to both store and update methods. This should only be in store when you a

[2018-12-06 03:43] clegarde commented on #302
Correct. Error received when editing existing record.

[2018-12-06 03:47] SachinPawaskarUNO commented on #302
@clegarde I have uploaded a fix for this. Can you please verify?

[2018-12-06 03:56] clegarde commented on #302
GTG

[2018-12-06 03:56] #302 closed

[2018-12-06 16:38] tlvandeest commented on #236
Verified in CoRA CAT and closed.

[2018-12-06 16:38] #236 closed

[2018-12-06 16:40] tlvandeest commented on #144
Verified as covered by implementation of Trauma, Pathological Condition, and Anomaly Report.

[2018-12-06 16:40] #144 closed

[2018-12-06 16:47] emilystreetman opened #303 "Error when attempting to switch projects"
Got the following error when switching in cat.coracore.org from Demo project to USS OK project. When I clicked Back on my browser, it had successfully switched projects, despite this error appearing.

![image](https://user-images.githubusercontent.com/34662044/49598445-470e1e00-f944-11e8-96e9-c7db191c0fb3.png)

[2018-12-06 16:50] tlvandeest commented on #233
Tested Review funciton on a femur and both Save for Reviewer and Accept for Analyst reviewer, respectively.  When changes suggested by the Reveiwer were accepted, the values corrected within the element measurement record also.  @emilystreetman @SachinPawaskarUNO

[2018-12-06 16:50] #233 closed

[2018-12-09 13:54] SachinPawaskarUNO opened #304 "CoRA Reports help and documentation"
@fedamann We need to incorporate some CoRA guidance verbiage and help documentation.

1. Some help verbiage on the various reports screens to provide guidance on how to use these reports.
2. Update cora-docs with more advanced and descriptive help with possible screenshots

[2018-12-10 23:23] clegarde opened #305 "Link to Individual Number Report does return results"
After searching by skeletal element (Ex: humerus), if you click on the Individual Number link:
![a1 humerus search](https://user-images.githubusercontent.com/7350474/49767802-9a170680-fc9f-11e8-99ff-2c32e8ec9e21.png)
You don't return results, just directed to the Individual Report page with no results:
![a2 individual number report page](https://user-images.githubusercontent.com/7350474/49767815-a

[2018-12-10 23:28] clegarde opened #306 "Accession search does not return results"
Skeletal elements > Accession > UNO-2016-212 (I tested in CoRA Demo since I thought USS Oklahoma was too large to try):
![b1 se search_accession search](https://user-images.githubusercontent.com/7350474/49768073-9e8fef00-fca0-11e8-8570-4d60002c3765.png)
Returned the following:
![b2 se search_accession search_results](https://user-images.githubusercontent.com/7350474/49768095-b9626380-fca0-11e8-8de

[2018-12-10 23:31] clegarde opened #307 "Skeletal Elements > External ID search not returning results"
Skeletal Elements > External ID > 2015H0996 entered as follows:
![se search_external id](https://user-images.githubusercontent.com/7350474/49768227-4b6a6c00-fca1-11e8-8cde-7144ca87b867.png)

Returns the following:
![se search_external id_results](https://user-images.githubusercontent.com/7350474/49768238-51f8e380-fca1-11e8-90e9-8e75a3a1149c.png)

***This does work under DNA > External ID, so maybe

[2018-12-10 23:34] clegarde opened #308 "Measurements Report Export has too much data in Column A"
The exports for a measurement report returns the entire help text for the measurement in Column A, rather than just the measurement name (ex: Cra_01). See attached.
[CoRA Measurement Report_CIL2003-116-I-136.pdf](https://github.com/spawaskar-cora/cora-docs/files/2665357/CoRA.Measurement.Report_CIL2003-116-I-136.pdf)
[CoRA Measurement Report_CIL2003-116-I-136.xlsx](https://github.com/spawaskar-cora

[2018-12-10 23:42] clegarde opened #309 "No export option for Measurement Report by Bone"
When generating a Measurement Report by Individual Number (Ex: CIL 2003-116-I-136) there is the option to export:
![c2 measurement report by individual_export option available](https://user-images.githubusercontent.com/7350474/49768678-bb2d2680-fca2-11e8-983b-51cba1821a6d.png)

When generating a Measurement Report by Bone (Ex: Sacrum) there is not an option to export and the full list is shown, ra

[2018-12-10 23:53] clegarde opened #310 "Skeletal Element Search pdf export cuts off data"
In this example I searched by Skeletal Element > Provenance 2 > X-223E
The pdf export of the results cuts off in the middle of "CT scanned" and does not provide the last column. See attached.
[CoRA Skeletal Element Search Report.pdf](https://github.com/spawaskar-cora/cora-docs/files/2665398/CoRA.Skeletal.Element.Search.Report.pdf)

I'm not sure who/when the pdf export would be used, but can it be

[2018-12-11 00:01] clegarde commented on #187
This date has to be entered in a specific format or you continue to get the following error when you click save:
![error when trying to add mcc date_only accepts specific format](https://user-images.githubusercontent.com/7350474/49769246-0ea07400-fca5-11e8-9f63-81feb99cfbe7.png)

I thought it wasn't working because the "Results Date" field will take the date in multiple formats (Ex: 09/23/18, 9/23

[2018-12-11 00:07] clegarde opened #311 "Zones out of order in drop downs for Trauma and Pathology Reports"
Zones out of order in drop downs for Trauma and Pathology Advanced Reports:
![add trauma_zones out of order_mandible](https://user-images.githubusercontent.com/7350474/49769540-33491b80-fca6-11e8-84e2-c9b157b51cf0.png)

Only something to address if we want everything to be in numerical or alphabetical order.

[2018-12-11 00:08] clegarde opened #312 "Provenance 1 and 2 out of order in drop downs for all Advanced Reports"
Only something to address if we want everything to be in numerical or alphabetical order.

![mtdna advanced report_provenance 1 out of order](https://user-images.githubusercontent.com/7350474/49769632-88852d00-fca6-11e8-9385-1106f44dc64a.png)

[2018-12-11 02:08] SachinPawaskarUNO commented on #307
@clegarde I agree with you we should just remove it from the list of search by options under Skeletal Elements as it is rightly under DNA. This is probably a fallout of the old search in CoRA v0.7.0. I have made this change. Please verify.

[2018-12-11 02:39] clegarde commented on #307
GTG

[2018-12-11 02:39] #307 closed

[2018-12-11 16:30] nmcelroy commented on #305
Addressed in SachinPawaskarUNO/cora2#600

[2018-12-11 16:33] #305 closed

[2018-12-11 17:48] clegarde opened #313 "Skeletal Element - return to "edit" vs "view" page from Methods"
When adding/editing methods, if you click on return to SE page icon on the "methods" bar:
![methods_se home](https://user-images.githubusercontent.com/7350474/49819167-50c7c500-fd3a-11e8-9786-359d51a37aef.png)

You return in EDIT mode:
![screen shot 2018-12-11 at 11 41 06 am](https://user-images.githubusercontent.com/7350474/49819190-64732b80-fd3a-11e8-9c46-56c0629b465e.png)

If you choose the ico

[2018-12-11 18:58] CTegtmeyer opened #314 ""No skeletal articulations available for this bone" banner despite articulations selected"
Articulations shows “No articulations have been associated with this skeletal element” notification, despite there being a skeletal element associated with the element.

![capture](https://user-images.githubusercontent.com/36896992/49822995-b8721600-fd22-11e8-95a9-8d7089e0d922.JPG)

[2018-12-11 19:00] CTegtmeyer opened #315 "Narrow mito sequence in search based on accession and provenance"
On the Advance DNA report function, when it asks you to choose a mito sequence, mito sequences aren’t narrowed by accession or provenance 1 and/or 2, but all possible mito sequences are listed (310?). Would it be possible to have this be limited to what mito sequences are available per accession and the very least, and provenance at the very most?

[2018-12-11 19:01] CTegtmeyer opened #316 "Narrow down provenance 1 and 2 baased on accession choice"
Search functions: choosing an accession doesn’t limit your choices of provenances 1 or 2. Would it be possible to narrow down the choices of provenances based on accession? (It is hard to remember what provenance goes with what accession especially when you have a lot of both).

[2018-12-11 19:02] CTegtmeyer opened #317 "Dashboard setting: adding and saving additional pie charts"
Dashboard: settings: when you select additional pie charts to show on the dashboard it doesn’t save the setting. You must reselect the charts each time you open your dashboard. Is there a way to save the new pie charts?

[2018-12-11 19:03] CTegtmeyer opened #318 "Column visibility in bone search"
Bone search: Column visibility; extra selected columns don’t stay visible after logging out and logging back in. Can we make it so these extra selected columns stay visible if selected (e.g. created by column, reviewed by column).

[2018-12-11 19:07] CTegtmeyer opened #319 "Zone for lunate opens at upper limb"
When clicking on the zone for lunate, it opens the CoRA doc sidebar for upper limb instead of hands and feet. Should open the sidebar at: https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/zones/#hands-and-feet instead.

[2018-12-11 19:09] clegarde commented on #319
I was just noting this in another issue. It looks like the help for zones is linking to the regional header ("Thorax and Shoulder" for the clavicle), rather than the element ("Clavicle"), for all skeletal elements.

[2018-12-11 19:13] clegarde commented on #315
I was wondering if we could search just by provenance (1 or 2) under the mtDNA advanced report, and not have to choose a mito sequence? This would then generate all mito sequences for a particular provenance 1 or provenance 2. I think this would be a useful feature. Somewhat relates to @CTegtmeyer issue here. A different approach to getting the same type of data?

[2018-12-11 19:21] clegarde opened #320 "Several SE Zone pages only have a "placeholder" rather than image"
Several skeletal elements have a placeholder rather than an image for the zone page:
Accessory rib
Calcaneus
Clavicle
Coccyx
Distal pedal phalanx 1
Hamate
Humerus
Lumbar vertebra 1/2
Lumbar vertebra 5
Metacarpal 2
Metacarpal 3
Metacarpal 5
Metatarsal 3
Metatarsal 4
Os coxa
Proximal manual phalanx 1
Radius
Scapula
Thoracic vertebra 10/11
Thoracic vertebra 12
Tibia
Trapezoid
Triquetral
Ulna
Unseriat

[2018-12-12 18:03] clegarde opened #321 "Dashboard: DNA Sampled chart not showing "reportable" results"
I added "Reportable" to "Results Confidence" for 4 skeletal elements under Seq 172 on Monday to see if the DNA Sampled chart on the Dashboard to ensure the chart was working. It's still showing 100% for "Pending".
![screen shot 2018-12-12 at 11 35 19 am](https://user-images.githubusercontent.com/7350474/49887621-7a4c2380-fe02-11e8-9841-6dc16bfd88d6.png)

I just added Inconclusive, Cancelled, and U

[2018-12-12 18:15] clegarde opened #322 "Add "Results Confidence" to mtDNA Advanced Report and/or Dashboard DNA Sampled details"
Would be nice to have "Results Confidence" as a way to generate a report in mtDNA Advanced reporting.
![mtdna advanced report](https://user-images.githubusercontent.com/7350474/49889768-f72dcc00-fe07-11e8-870a-2df1a3bf3a73.png)
Also would be nice to be able to sort by "Results Confidence" in the DNA Sampled dashboard details since this is how the chart is being generated.
![dashboard_dna sampled_a

[2018-12-12 18:33] SachinPawaskarUNO commented on #322
@clegarde and @fedamann This is working as designed. Some of the Dashboard widgets (including DNA sampled) only updates once a day (actually the night before). So the data will be refreshed the next time the job runs.

[2018-12-12 18:38] clegarde commented on #321
@SachinPawaskarUNO, regarding your comment about this updating daily to it is working correctly: I opened this issue because it did not update with the information I added on Monday. I made sure to wait to see if the changes were reflected and they were not. I only added the other information today so that we'd know if it was only an issue with "Reportable" or with all.
@fedamann

[2018-12-12 18:41] clegarde opened #323 "No zone description for cuboid"
Other tarsals (navicular and cuneiforms) say "1 - All". Cuboid only has "1- ". Not that "All" provides a lot of information, but for continuity.
![cuboid_zone_no text](https://user-images.githubusercontent.com/7350474/49890594-1299d680-fe0a-11e8-8aba-98c0ece9c284.png)

[2018-12-12 18:53] clegarde commented on #321
Reportable is showing correctly.

@SachinPawaskarUNO
Pending needs to be calculated from total sampled minus reportable minus inclusive minus canceled minus unable to assign.

[2018-12-13 01:13] SachinPawaskarUNO commented on #323
@clegarde Please verify

[2018-12-13 01:20] SachinPawaskarUNO commented on #321
@clegarde When I looked at the code, I recollected that the business rule is that you the Anthropologist would select the Received Date and then select one of the Results Reportable option. So if you follow the rule and go back to the ones you marked as reportable and put in a Receive Date for when you received the results. It will be reflected correctly on the Dashboard.
I however think that we s

[2018-12-13 01:40] clegarde commented on #323
GTG

[2018-12-13 01:40] #323 closed

[2018-12-13 02:01] clegarde commented on #321
Received date added. Will verify issue after dashboard updates tonight.

[2018-12-13 17:10] clegarde commented on #321
Appears to be working appropriately. The numbers don't add up, but I must not have put the date for all of the samples I added yesterday. I have to look up each one to know whether or not I did. This is a reason for adding "Results Confidence" as a way to generate an mtDNA Report. Then I could quickly generate a report for all the "Canceled" elements, for example. Currently, there's no way to know

[2018-12-13 17:21] clegarde commented on #321
I just checked (because I had written down the samples I added), and I had not put a date for the "Cancelled" elements. I just added this. During my check, I noticed that we've spelled cancelled/canceled two different ways.
Dashboard: Canceled
![screen shot 2018-12-13 at 11 18 52 am](https://user-images.githubusercontent.com/7350474/49955695-193b5300-fec9-11e8-8495-d658ae0554d7.png)

Results Confi

[2018-12-13 18:31] SachinPawaskarUNO commented on #311
@clegarde Please verify

[2018-12-13 18:46] clegarde commented on #311
GTG

[2018-12-13 18:46] #311 closed

[2018-12-13 19:02] SachinPawaskarUNO commented on #321
@clegarde I have updated the spelling inconsistency issue, we will go with "Cancelled" on the dashboard UI. Please verify.

[2018-12-13 19:08] clegarde commented on #321
GTG

[2018-12-13 19:08] #321 closed

[2018-12-13 19:15] clegarde commented on #322
The mtDNA report is likely to change, but I'm reiterating here that we really need a way to generate reports/searches by "Results Confidence". I chatted with @SachinPawaskarUNO about this and it is something we will come back to at a later date.
I'm linking to #321 (closed) since I made some related comments on the issue there.

[2018-12-13 19:52] SachinPawaskarUNO commented on #322
@nmcelroy please keep this in mind for our DNA Module redesign. We will need to look at all DNA Reports.

[2018-12-14 03:15] SachinPawaskarUNO commented on #308
@clegarde Please verify

[2018-12-14 03:16] SachinPawaskarUNO commented on #309
@clegarde Please verify

[2018-12-14 03:19] SachinPawaskarUNO commented on #322
@clegarde I have added the Results Confidence column to the DNA sampled Dashboard drilldown.

[2018-12-14 03:58] clegarde commented on #308
GTG

[2018-12-14 03:58] #308 closed

[2018-12-14 03:59] clegarde commented on #309
GTG

[2018-12-14 03:59] #309 closed

[2018-12-14 23:13] clegarde commented on #319
@SachinPawaskarUNO @fedamann If a discussion led to the decision to link to regional headers, that seems just fine. I just wasn't sure, since the measurement help linked right to the element. Either way seems reasonable!

[2018-12-14 23:45] clegarde commented on #322
That is great! I can't see it since you disabled the "View Details" button, but I think that will be helpful to have.

[2018-12-14 23:46] SachinPawaskarUNO commented on #320
@clegarde Please verify.
I have tried to get as many as I could, if I'm missing some, please let me know.
This was because the new images had different file names

[2018-12-14 23:49] SachinPawaskarUNO commented on #322
@clegarde Yes, that is why I did not ask you to verify, as you rightly pointed out the reason. Once we address the memory/resources issue it will be available.

[2018-12-14 23:54] SachinPawaskarUNO commented on #319
@clegarde and @fedamann, I think if we have the URL anchors in the cora-docs, then let's use it. Since we have the control we might as well make it easier for the Anthropologist by taking them to the exact bone. I would prefer the users not have to scroll to find the bone they are working with. Thoughts???

[2018-12-14 23:56] clegarde commented on #319
Agreed. I can work on this if @fedamann agrees.

[2018-12-15 00:53] clegarde commented on #320
I just looked through a bunch. Most important one I see that is missing:
Os coxa

Others:
Accessory rib (Image: Ribs 2-12)
Unseriated thoracic vertebra (Image: Thoracic and lumbar vertebrae)

[2018-12-15 04:39] clegarde commented on #320
Verified!

Sacrum image for the coccyx and coccygeal vertebrae.

[2018-12-15 04:51] SachinPawaskarUNO commented on #320
@clegarde Added the zone images for Coccyx and Coccygeal vertebrae. Please verify.
Also while doing the above I found Sacral vertebrae 1 - 5 did not have zone images, so took my best judgement and used the Sacrum image for these also. Please Verify these also and/or let me know if I should be using some other image.

[2018-12-15 15:38] clegarde commented on #320
Verified! And yes, sacral vertebra should have sacrum image. Verified (we only have one sacral vertebra 1 in USS Oklahoma project, so I did not verify the other 4 sacral vertebrae).

It looks like we did not provide zones for the sacral vertebrae. @fedamann these should be the same as the zones for the sacrum as a whole, correct? Zones 1-4. The zone page is also not linking to the zone help:
![scr

[2018-12-15 15:47] fedamann commented on #320
Help guide is correct, app page wrong.  Concur w/ @celarde for short handle fix of sacrum in ui

[2018-12-16 13:37] clegarde commented on #320
@SachinPawaskarUNO Sacral vertebrae 1 - 5 can be the same zones as sacrum.

[2018-12-16 16:38] clegarde commented on #320
GTG

[2018-12-16 16:38] #320 closed

[2018-12-16 16:44] clegarde commented on #187
I just looked at this again, and it looks like this is just a Safari-CoRA hangup. I looked at this in Chrome, and it looks good. The differences are shown below. Since this is working to operate best in Chrome and Edge, @SachinPawaskarUNO would you like me to close this issue again?

Safari, no date guide/calendar:
![screen shot 2018-12-16 at 10 41 19 am](https://user-images.githubusercontent.com/

[2018-12-17 15:10] CTegtmeyer commented on #319
verified. I will leave this thread open for now, given the current conversation

[2018-12-18 14:54] SachinPawaskarUNO commented on #314
@CTegtmeyer, Please verify

[2018-12-18 14:55] SachinPawaskarUNO commented on #313
@clegarde Please verify

[2018-12-18 15:01] SachinPawaskarUNO commented on #319
@clegarde and @fedamann, Can you two please connect and see if we can have work done on this? We are talking about first creating anchors in cora-docs to specific elements ("Clavicle")instead of regional header ("Thorax and Shoulder" for the clavicle). Then provide these new anchor URL links to me along with the bone they map to.

[2018-12-18 16:09] clegarde commented on #313
GTG

[2018-12-18 16:09] #313 closed

[2018-12-18 16:47] CTegtmeyer commented on #314
verified. issue has been resolved

[2018-12-18 16:47] #314 closed

[2018-12-19 17:50] clegarde commented on #319
Sent doc to @SachinPawaskarUNO.

We are missing the following in the help docs (so no image in CoRA, but the zones are listed):
-Malleus
-Stapes
-Incus
-Hyoid

@emilystreetman, can you work on this? I just sent you an email directly, so we can confer there as necessary.

[2018-12-19 17:54] clegarde commented on #322
Glad to see that we can now do a mtDNA report by provenance! Thank you!! This is working.

When I tried to do a search by "Results Confidence", I did not get any results:
![screen shot 2018-12-19 at 11 52 39 am](https://user-images.githubusercontent.com/7350474/50238340-ca883000-0384-11e9-9f3e-8f26dcf56333.png)

But I know there are samples marked "Inconclusive" - 12A, 145A, 151A, 77A

[2018-12-20 02:40] SachinPawaskarUNO commented on #312
@clegarde Please verify

[2018-12-20 02:41] SachinPawaskarUNO commented on #316
@CTegtmeyer, Please verify

[2018-12-20 02:43] SachinPawaskarUNO commented on #322
@clegarde Please verify

[2018-12-20 02:59] clegarde commented on #312
GTG

[2018-12-20 02:59] #312 closed

[2018-12-20 02:59] clegarde commented on #322
GTG

[2018-12-20 02:59] #322 closed

[2018-12-20 06:18] SachinPawaskarUNO commented on #319
@clegarde Please verify

[2018-12-20 17:17] CTegtmeyer commented on #316
verified! Awesome!

[2018-12-20 17:17] #316 closed

[2018-12-20 18:36] clegarde commented on #319
I checked through every bone with zones TRUE. The following do not have the correct link yet:
-Clavicle -> https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/zones/#clavicle
-Lumbar vertebra 1/2 -> https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/zones/#thoracic-and-lumbar-vertebrae
-Lumbar vertebra 2/3 -> https://cora-docs.readthedocs.io/en/latest/forensics-anthro-

[2018-12-20 18:47] clegarde opened #324 "No zone images for cranial bones - no zones for palatine, vomer, ethmoid, lacrimal, inferior nasal concha"
1. There are no zone images for the bones of the cranium. We can add the same image that is used for the cranium for the following:
Maxilla
Occipital
Parietal
Sphenoid
Temporal
Frontal
Zygomatic
Nasal

2. The following do not have any zones marked with the cranium:
Lacrimal
Palatine
Ethmoid
Vomer
Inferior nasal concha
@fedamann @cbrown311 @mei215 @emilystreetman @nyukyi , can/should we add additio

[2018-12-20 18:57] emilystreetman commented on #324
1. This is an issue related to the business rules of cranium inventorying that we have discussed being different between projects. For the _Oklahoma_, the rule is to only inventory an element as cranium, and mark zones so that all cranial remains are searchable by bone, single zone, or combined zones. For other projects, if they do individual bones, there is no point in doing zones because there a

[2018-12-20 23:57] SachinPawaskarUNO commented on #319
@clegarde Please verify. The Clavicle, Lumbar vertebra 1/2, 2/3, 3/4, 4/5 zone help_url have been updated.

[2018-12-21 00:02] SachinPawaskarUNO commented on #315
@clegarde and @CTegtmeyer please verify. We have implemented what @clegarde suggested above, as it seems to give the anthropologists the most flexibility.

[2018-12-21 00:43] CTegtmeyer commented on #315
@SachinPawaskarUNO @clegarde Verified. Looks good. I agree, this gives much more flexibility and it helps the search for mito sequences.

[2018-12-21 00:43] #315 closed

[2018-12-21 00:48] CTegtmeyer opened #325 "Search results limited to 500 entries?"
This is more a question/comment than an issue. Can we expand the number to entries the search results are limited to? We have accessions that are narrowed down all the way to Provenance 2 that still return over 500 results when searched. I don't know if 500 was chosen for the capabilities of the search function and if it cannot be expanded, but I thought I'd mention it.

[2018-12-21 00:51] clegarde opened #326 "Need zone info/images for help docs for malleus, stapes, incus, and hyoid"
We are missing the following in the help docs (so no image in CoRA, but the zones are listed):
-Malleus
-Stapes
-Incus
-Hyoid

Being worked on by @emilystreetman @nyukyi

First mentioned in #319 but opening here for easier visibility and tracking.

[2018-12-21 00:52] clegarde commented on #319
GTG. Closing ticket because new issues were opened for other items mentioned - for easier visibility and tracking.

[2018-12-21 00:52] #319 closed

[2019-01-01 22:05] clegarde opened #327 "DNA Searches -> Make "Individual Number" link to report"
Can we have the Individual Number link to a report under a "DNA Search"? It appears we only have this a link to the report under "Skeletal Element" search options. In the example below I was doing a "Mito Seq Number" search for 282.
![link individual number to report](https://user-images.githubusercontent.com/7350474/50576772-9e39ce00-0dde-11e9-88b9-cad95184fac5.png)

We have this ability under a

[2019-01-01 23:39] SachinPawaskarUNO commented on #327
@clegarde Please verify

[2019-01-01 23:53] clegarde commented on #327
Awesome! GTG

[2019-01-01 23:53] #327 closed

[2019-01-03 02:30] clegarde opened #328 "Sca_03 and Sca_04 labels swapped"
The measurement numbers are swapped for Sca_03 and Sca_04. This was a problem with the labeling of the original data. CoRA Help Docs are correct.
Sca_03 - Glenoid cavity breadth
Sca_04 - Glenoid cavity height

The data matches the description NOT the measurement name. In the example below, glenoid cavity breadth = 29.03. It should be:
Sca_03 Glenoid cavity breadth = 29.03
Sca_04 Glenoid cavity hei

[2019-01-03 02:38] clegarde opened #329 "Fem_05 and Fem_06 descriptions swapped"
Another problem with the original data. This is a swap in the measurement description, so the measurement name (Fem_05) matches the data (33.5). CoRA Help Docs are correct. Should be:
Fem_05 Medial-Lateral (Sagittal) Subtrochanteric Diameter = 33.5
Fem_06 Anterior-Posterior (Transverse) Subtrochanteric Diameter = 28.07

![screen shot 2019-01-02 at 4 54 28 pm](https://user-images.githubusercontent.

[2019-01-03 04:08] fedamann commented on #329
Put on hold

[2019-01-03 04:08] fedamann commented on #328
Put on hold

[2019-01-03 04:17] clegarde commented on #329
These are errors that I think should be addressed sooner rather than later. It could cause problems with data entry for anyone that uses CoRA. If they read the description, they may put in the wrong measurement and it doesn't match the data in the help docs (which is correct), so it's confusing.

[2019-01-03 14:16] jjlynch2 commented on #329
Just some more information: OsteoSort and the Standard list has already been updated to match what @clegarde  is saying. I thought this issue (and the scapula one) had already been resolved.

[2019-01-03 15:37] fedamann commented on #329
Thanks @jjlynch2 and @clegarde for the verification. That is want I wanted to get sorted.

[2019-01-04 16:46] emilystreetman commented on #326
Pull request created following image upload

[2019-01-04 21:48] fedamann commented on #328
Sachin will make the change to the label this weekend. However, this one is more complicated than the Fem_05 and Fem_06 because the glenoid measurement data will need to be swapped after he makes the label change.  Go interns!

[2019-01-04 21:49] fedamann commented on #329
Sachin will make the change to the label this weekend, and should complete this task.  The data will be correct once the label swap is made.

[2019-01-05 04:47] SachinPawaskarUNO commented on #326
@clegarde @emilystreetman @nyukyi Cora now has the new zones images for malleus, stapes, incus, and hyoid. Please verify.

[2019-01-05 14:53] clegarde commented on #329
GTG

[2019-01-05 14:53] #329 closed

[2019-01-05 15:00] clegarde commented on #328
GTG

[2019-01-05 15:00] #328 closed

[2019-01-05 15:01] clegarde commented on #326
I don't see these. Still showing placeholder. I also don't see them in the linked help.

[2019-01-05 15:30] fedamann opened #331 "Manual swap Sca_03 & Sca_04 data"
Perform a manual swap of the data values for these two measurements in USSOK project for the 400+ scapula with measurements.

[2019-01-05 16:00] SachinPawaskarUNO commented on #326
@clegarde @emilystreetman @nyukyi The images are not showing in CoRA because the images are in jpg/jpeg format. They need to be in png format just like the rest of them. Please convert these to png and send me a pull request. I'll then upload them again to CoRA.
Please also note that I'll need the appropriate URL for the linked help, once it is created.

[2019-01-05 17:59] SachinPawaskarUNO commented on #306
@clegarde Do you have access to any other DPAA projects other than the USS Oklahoma? If you do, please check this out, if not can you please ask someone on the DPAA team such as Tarawa or Ploesti to verify this issue.

[2019-01-05 18:01] clegarde commented on #306
I only have USS Oklahoma. Can @CTegtmeyer or @mei215 check this, please?

[2019-01-05 18:51] SachinPawaskarUNO commented on #299
@clegarde @emilystreetman, Please verify.

[2019-01-05 18:55] clegarde commented on #299
This is great! GTG

[2019-01-05 18:55] #299 closed

[2019-01-07 14:59] mei215 commented on #306
I ran both searches with the Ploesti data in Production and did not have the same problem. Skeletal elements and/or DNA results were produced.

[2019-01-07 15:39] emilystreetman commented on #324
2. If we add these delicate bones as zones, would we have to also add them as freestanding disarticulated cranial bones? That is how the other cranium zones exist in the system. Left maxilla is zone 12 on a cranium, but can also be inventoried as an individual bone.

[2019-01-07 15:44] clegarde commented on #324
They already exist in CoRA as individual bones, so I would assume we would treat them in the same manner as the other cranial elements that currently have zones.

[2019-01-07 15:46] mei215 commented on #324
1. Agree with Emily.

2. It would be ideal to be able to capture the presence of the small bones of the face if possible.

3. Agreed

[2019-01-07 16:11] emilystreetman commented on #326
New pull request sent with corrected image formats.

[2019-01-07 16:32] emilystreetman opened #333 "Error when searching for lacrimal"
Followin gup on ticket #324, searched for "lacrimal" bone and receive the following error:

If this is appearing because there are no lacrimal bones inventoried in the USS OK Project, a "no search results" would likely be more appropriate.

![image](https://user-images.githubusercontent.com/34662044/50779945-534d0a00-1267-11e9-9be1-6a2954e606da.png)

[2019-01-07 16:36] emilystreetman commented on #333
Palatine looks good
![image](https://user-images.githubusercontent.com/34662044/50780236-0a498580-1268-11e9-9774-aee8f6f50e15.png)

[2019-01-07 17:25] sfuehr opened #334 "Zone errors for zygomatics"
When trying to add a complete left zygomatic as a new element (even though we don't enter cranial elements this way for the USS OK project, others might), the zone section auto-populates with Zones 10 and 11. If you unclick Zone 11 (right zygomatic), the completeness for the element changes to incomplete. Since the sided bones have their own zone, can the connection between zones and element compl

[2019-01-07 17:34] emilystreetman commented on #334
For individual cranial bones, the element is created as a left OR a right. Therefore, the zone of "right zygomatic" shouldn't be possible in Stephanie's example above.

I argue that there should not be any zonation of individual cranial bones, because they each consist of a single zone as indicated by the cranium schema. (And because a 'by zone' search across both crania and individual cranial bon

[2019-01-07 17:48] sfuehr opened #335 "Error when saving zones"
Got the following error when saving zone information for an element. When I clicked Back on my browser, it had successfully saved the zone, despite this error appearing.

It won't let me attach the snip of the error message, but it's the one with the white background that says "Whoops, looks like something went wrong."

[2019-01-07 17:57] SachinPawaskarUNO commented on #326
@clegarde @emilystreetman @nyukyi CoRA now has the new zones images for malleus, stapes, incus, and hyoid in the correct PNG format. Please verify.

[2019-01-07 18:03] clegarde commented on #326
Images GTG in CoRA. @emilystreetman, can you add these to the zones.md and then provide the necessary URL link for @SachinPawaskarUNO to get these linked in CoRA to the help?

[2019-01-07 18:06] nyukyi commented on #326
@SachinPawaskarUNO Verified for zones page, but the CoRA Docs that show up on the right side of the screen for these elements have not been updated.

[2019-01-07 18:31] SachinPawaskarUNO commented on #326
@nyukyi @emilystreetman, Please see @clegarde comment above, someone at DPAA needs to add these to the zones.md and then provide the necessary URL link for @SachinPawaskarUNO to get these linked in CoRA to the help.

[2019-01-08 16:21] CTegtmeyer commented on #306
I also ran searches with the Tarawa data in Production and did not have the same problem. Results were returned when accession or DNA was searched.

[2019-01-08 21:18] clegarde commented on #306
@SachinPawaskarUNO, I just tried this again and it worked for me too. I tried in USS Oklahoma as well, and it worked too. Giving me the first 500 results (as it indicates). I'm not sure if something changed with other updates or not, but this appears to be GTG.

[2019-01-08 21:18] #306 closed

[2019-01-10 21:01] SachinPawaskarUNO commented on #334
@sfuehr to provide all bones from which zones need to be removed.

[2019-01-10 21:17] SachinPawaskarUNO commented on #303
@emilystreetman Please verify

[2019-01-10 21:24] SachinPawaskarUNO commented on #296
@btrnew Please verify

[2019-01-10 21:42] sfuehr opened #336 "Ability to export advanced search results"
Can we have an export option on the results page of advanced searches? Related to ticket #286.

[2019-01-10 21:45] emilystreetman commented on #336
This is what @cbrown311 suggested as a solve for searching for left femora with OR without an I-# attached, but it is not currently possible to export the results:
![image](https://user-images.githubusercontent.com/34662044/50998983-bef4d880-14ee-11e9-82b0-fcb0cd150c38.png)

[2019-01-10 21:46] emilystreetman commented on #333
Lacrimal worked today, closing:
![image](https://user-images.githubusercontent.com/34662044/50999050-e8adff80-14ee-11e9-8056-63583e3a0b7f.png)

[2019-01-10 21:46] #333 closed

[2019-01-10 21:47] emilystreetman commented on #303
This worked today. Closing.

[2019-01-10 21:47] #303 closed

[2019-01-10 21:50] emilystreetman commented on #297
Sesamoids exist as a bone, but it is not possible to add a multiple-count bone into the automatically generated groups. In your ticket, you note there are no "sesamoid 1,2,3" but these numbered sesamoids do not exist as skeletal element options in the system.

Current best practice is to add a hand or foot group, then add sesamoid with count as a separate action, per the scrum 10JAN19.

I am makin

[2019-01-10 21:51] emilystreetman opened #337 ""Sesamoid" should have count possible"
New element creation of "sesamoid" should show a count box. Related to ticket #297 and #296

[2019-01-11 05:06] SachinPawaskarUNO commented on #336
@sfuehr Please verify

[2019-01-11 20:18] SachinPawaskarUNO opened #338 "create reports section for cora-docs"
create reports section for cora-docs.
@SachinPawaskarUNO to create scaffolding for this.
@lfkennedy To start with Zones report
@cbrown311 To start with Individual Number report

[2019-01-12 00:09] SachinPawaskarUNO commented on #338
@lfkennedy and @cbrown311. There is a reports,md file in the cora-docs/docs/user-guide/ directory. Ignore what is in it currently and treat is as a blank canvas for you to organize the reports information however you best see fit that would be helpful to all Anthropologists. @clegarde and @emilystreetman are your resident experts on **markdown** as they have created plenty of cora-docs pages. Ther

[2019-01-12 00:26] fedamann opened #339 "Add I-0# to mtDNA report"
Add field to mtDNA Report results to surface individual number.

[2019-01-13 21:39] SachinPawaskarUNO commented on #292
@lfkennedy Please verify

[2019-01-14 00:04] SachinPawaskarUNO opened #340 "Refactor Notifications Controller"
Refactor Notifications Controller to use dependency injection for route methods. Also missing logging and authorization check.

[2019-01-14 00:56] #340 closed

[2019-01-14 15:12] fedamann opened #341 "Add mito seq# to Individual Report Number"
Add the mito sequence number associated with each individual number.

[2019-01-15 18:23] emilystreetman opened #342 "Remove zones pages for some elements"
The following elements should not have a Zones page active:
- coccygeal vertebra 1
- coccygeal vertebra 2
- coccygeal vertebra 3
- coccygeal vertebra 4
- Ethmoid
- Inferior nasal concha
- Lacrimal
- Maxilla
- Nasal
- Occipital
- Palatine
- Parietal
- Temporal
- Unidentified Cranium
- Unidentified Metacarpal/tarsal
- Unidentified Phalanx
- Unidentified Vertebra
- Vomer
- Xiphoid Process
- Zygomatic

[2019-01-15 18:31] emilystreetman opened #343 "Elements that need to be linked to existing zones images"
The following elements should get the indicated images added to their Zones page

Extra vertebra - thoracic_500.png
Frontal - cranium_zones_composite_500.png
Sphenoid - cranium_zones_composite_500.png
Sternal body - sternum_500.png

Related to ticket #342

[2019-01-15 18:37] emilystreetman commented on #182
I am verifying the phalanges as countable and making a new ticket for the suggested list.

[2019-01-15 18:37] #182 closed

[2019-01-15 18:38] emilystreetman opened #344 "Additional elements for "count" to be added to"
Per comment by @SachinPawaskarUNO: In the future, we may also want to consider the following as countable. Thoughts?

- unseriated cervical vertebra
- unseriated lumbar vertebra
- unseriated metacarpal
- unseriated metatarsal
- unseriated rib
- unseriated thoracic vertebra

Following discussion in ticket #182

[2019-01-15 18:42] emilystreetman commented on #296
I am verifying that the elements listed by @SachinPawaskarUNO on 22NOV18 have count function enabled.

Related unseriated phalanges counts were fixed in ticket #182

[2019-01-15 18:42] #296 closed

[2019-01-15 20:02] emilystreetman opened #345 "Siding options should be limited for some elements"
Impossible siding of elements should be limited by the system. The below screenshot demonstrates two os coxae that were entered as "middle" into CoRA - that is not possible, and should not be permitted as an option. The attached spreadsheet (bottom) contains the information provided in the lists below.

![image](https://user-images.githubusercontent.com/34662044/51205633-ef13f100-18cb-11e9-8c35-6c

[2019-01-15 22:06] lfkennedy commented on #345
My two cents -

The following elements should also have "left," "right," or "unsided" as options for siding:
* Ossified cartilage* Sesamoid* Tissue* Unidentified Cranium* Unidentified Fragments* Unidentified Long Bone* Unidentified Metacarpal/tarsal* Unidentified Phalanx* Unidentified Rib Fragments* Unseriated Distal Manual Phalanx* Unseriated Distal Pedal Phalanx* Unseriated Intermediate Manual P

[2019-01-15 22:07] lfkennedy commented on #345
My two cents -

The following elements should also only have the options "left," "right," or "unsided" as options:
 * Ossified cartilage * Sesamoid * Tissue * Unidentified Cranium * Unidentified Fragments * Unidentified Long Bone * Unidentified Metacarpal/tarsal * Unidentified Phalanx * Unidentified Rib Fragments * Unseriated Distal Manual Phalanx * Unseriated Distal Pedal Phalanx * Unseriated Int

[2019-01-15 23:59] CTegtmeyer opened #346 "View details buttons don't work"
The "View Details" buttons on the dashboard for the charts aren't click-able. I cannot view the details of any of the charts, either the standard ones or the new ones I add to the dashboard.

[2019-01-16 00:03] CTegtmeyer opened #347 ""DNA sampled" check mark doesn't appear on search results"
A check mark doesn't appear on the search results page for elements that have been DNA sampled. (See Left femur, element 401 below)

![dna check mark capture1](https://user-images.githubusercontent.com/36896992/51217907-2d121480-18ce-11e9-83ba-4e7656ab0978.JPG)

![dna check mark capture](https://user-images.githubusercontent.com/36896992/51217910-3307f580-18ce-11e9-9879-f4bfa5361abd.JPG)

[2019-01-16 00:03] SachinPawaskarUNO commented on #346
@CTegtmeyer This has been done intentionally as these queries pull in a lot more data and currently can degrade performance on the servers. This is related to the 500 limit. This is a known issue and @fedamann is aware of this. We are working towards getting additional memory resources on these servers.

[2019-01-16 00:06] SachinPawaskarUNO commented on #347
@CTegtmeyer The current process is that you should create a DNA Profile record before you mark the Specimen as DNA sampled. Once you do that it will automatically show you the DNA Sample number in that column. This is new functionality based upon feedback from @clegarde, She can provide more details in needed.

[2019-01-16 00:08] CTegtmeyer opened #348 "mtDNA report page cannot be found"
When trying to access the mtDNA reports page using the link on the side of the website, the page cannot be found.

![mtdna report capture](https://user-images.githubusercontent.com/36896992/51218108-fa1c5080-18ce-11e9-8d33-3708cee854a9.JPG)

However, this page is accessible through the reports dashboard.

[2019-01-16 00:09] CTegtmeyer commented on #346
Understood. Will close this issue.

[2019-01-16 00:09] #346 closed

[2019-01-16 00:15] CTegtmeyer opened #349 "Cannot add DNA sample numbers"
When trying to add DNA sample numbers and update DNA profile for a specimen, the saved page cannot be found.

I tried to add sample number 01A to this specimen, and when I went to save the page, I got an error (see below).

![mtdna save capture](https://user-images.githubusercontent.com/36896992/51218307-e0c7d400-18cf-11e9-8e2d-fc7b86368dcd.JPG)

![mtdna save capture1](https://user-images.githubus

[2019-01-16 00:22] SachinPawaskarUNO commented on #349
@CTegtmeyer That is a bug, @nmcelroy Can you please take a look at this?

[2019-01-16 00:25] CTegtmeyer opened #350 "Weight/Mass option for tissue?"
Would it be beneficial to have a weight/mass box for tissue? This gets weighed in the course of analysis, but there isn't currently an option to put a mass like there is for fragments.

[2019-01-16 00:28] CTegtmeyer opened #351 "Hair as a new category or as part of tissue?"
This is something I'd like feedback on from the group. Should hair (and nails for that matter) be a part of tissue or should they be their own category? Hair especially may be important as the isotope project moves forward for analysis, and currently there is no way to individually capture its presence in CoRA.

[2019-01-16 00:32] CTegtmeyer opened #352 "Group completed notification doesn't always pop up"
The notification for a group of skeletal elements being completed doesn't always pop up. I'd say of the last 7 individuals I put into CoRA, using skeletal groups for teeth, hands, feet, ribs, and vertebrae, it only notified me approximately 50% of the time that my group have finished rendering. The more I used it, the less often it appeared to work.

[2019-01-16 00:37] SachinPawaskarUNO commented on #349
@nmcelroy This is failing in the checkUniqueDnaSampleNumber() function. Happens in CAT, so you can verify it there. Please check this out ASAP.

[2019-01-16 00:55] fedamann commented on #344
@emilystreetman: These look good to me, and I would add Tissue to this list too provided "count" also includes "weight" per @CTegtmeyer and #350

[2019-01-16 03:14] SachinPawaskarUNO commented on #342
@emilystreetman Please verify

[2019-01-16 03:21] SachinPawaskarUNO commented on #343
@emilystreetman Please verify

[2019-01-16 03:59] SachinPawaskarUNO commented on #341
@fedamann Please verify. I think you will like the additional information we have added. The report now gives you the Specimen count, Specimens, Mito-Sequence Count and Mito Sequences.

[2019-01-16 17:51] CTegtmeyer commented on #348
verified

[2019-01-16 17:51] #348 closed

[2019-01-17 01:37] fedamann commented on #339
Verified and closed.

[2019-01-17 01:37] #339 closed

[2019-01-17 04:19] SachinPawaskarUNO commented on #349
@CTegtmeyer Please verify

[2019-01-17 14:42] emilystreetman opened #353 "Age features for cervical vertebra 1 and cervical vertebra 2 are wrong"
Cervical vertebra 1 > Age > Schaefer et al 2009 (=method) has incorrect features

The features for cervical vertebra 1 should be:
Anterior Arch
Posterior Arch

The features for cervical vertebra 2 should be:
Centrum
Dens
Posterior Arch

Currently, C1 has centrum (incorrect), and C2 has anterior arch (incorrect)

Issue identified by Max during Age compiling

[2019-01-17 16:45] mei215 opened #354 "Cannot Edit DNA Sample #"
An incorrect DNA sample # was entered during inventory and cannot be corrected. I would like to be able to fix this.

![github](https://user-images.githubusercontent.com/34662044/51336175-83f02900-1a49-11e9-8616-73165347d7a6.JPG)

[2019-01-17 18:17] cbrown311 opened #355 "Need to delete elements"
We need to be able to delete elements.  Logged in as a PM, but still cannot delete a duplicated element.  There are two options for "Discard Changes" once you are editing an element, but no option for delete.
![cora duplicated element](https://user-images.githubusercontent.com/34662044/51340383-67a5b980-1a54-11e9-8062-b6105f2a8b5f.png)
![cora edit](https://user-images.githubusercontent.com/3466204

[2019-01-17 23:33] CTegtmeyer commented on #349
verified

[2019-01-17 23:33] #349 closed

[2019-01-21 00:53] SachinPawaskarUNO commented on #355
@cbrown311 Please verify

[2019-01-21 00:57] SachinPawaskarUNO commented on #354
@mei215 and @fedamann, @clegarde had a similar question, but it was via a direct email to me. The DNA Sample Number is currently treated as a special field which goes through a unique check within an accession. This happens when we create a new DNA record, after which the system does not allow any updates to the DNA sample number. The workflow for now should be to delete the DNA record for the sam

[2019-01-21 02:47] clegarde commented on #354
The ability to delete will be available for project managers and org admin, correct?

[2019-01-21 04:47] SachinPawaskarUNO commented on #354
@clegarde That is correct, Both Specimens and DNA records can be deleted by project managers and org admin.

[2019-01-22 21:42] cbrown311 commented on #355
Verified.  Deleted duplicated element without any issues.

[2019-01-22 21:42] #355 closed

[2019-01-23 17:05] emilystreetman commented on #343
Extra vertebra, frontal, sphenoid, sternal body - good

Verified and closed.

[2019-01-23 17:05] #343 closed

[2019-01-23 17:14] emilystreetman commented on #342
Verified and closed.

[2019-01-23 17:14] #342 closed

[2019-01-23 17:16] emilystreetman commented on #336
Verified and closed.

[2019-01-23 17:16] #336 closed

[2019-01-23 20:59] emilystreetman commented on #334
This issue resolved in #342 - no zones are presentfor zygomatics now.
Verified and closing.

[2019-01-23 20:59] #334 closed

[2019-01-24 15:10] #354 closed

[2019-01-24 16:42] skindsc1 commented on #286
I talked with Emily and we are in agreement that this ticket has been addressed.

[2019-01-24 16:42] #286 closed

[2019-01-24 16:53] emilystreetman commented on #324
Issues 1 and 3 have been dealt with in separate tickets (#334, #342). Currently, we still need to deal with issue 2 from the original ticket, and I think we're agreed that @clegarde 's suggestion is good.

I suggest that next steps are @clegarde and @fedamann confirm the below and request action on it from the dev team:
Add zones to cranium:
- 16 - left lacrimal
- 17 - right lacrimal
- 18 - left p

[2019-01-24 19:59] emilystreetman opened #356 "Age intervals for Schaefer 2009 and Cunningham et al 2016"
Related to ticket #250 (Age analysis and McKern and Stewart 1957), which was compiling the age intervals indicated by each fusion or morphological score provided in McKern and Stewart.

@maxwellsrooney has been compiling a list of the age intervals indicated by Schaefer 2009 and Cunningham et al 2016. Following discussions with @tlvandeest and @fedamann , it was decided to table this project, due

[2019-01-24 20:49] fedamann commented on #351
add hair

[2019-01-24 20:57] fedamann opened #357 "Slack"
Create a slack channel for the lab and cora...and invite us to the work space

[2019-01-24 21:36] emilystreetman commented on #357
Wait do we have to have a Slack account? Do we submit our username and/ or email address to this "please invite me" list?

[2019-01-24 21:37] emilystreetman commented on #350
Please verify

[2019-01-24 21:44] emilystreetman commented on #344
Agreed, please add to list of countable elements:
- Tissue
- Hair (once it's created)

[2019-01-24 21:47] emilystreetman opened #358 "How are units indicated in "Mass" field?"
The mass field is only available in "count" elements. I don't believe there's a way to indicate units. If CoRA is making a unit decision, I suggest it be indicated to the right of the fillable numeric field (e.g., "grams (g)")

I can't test whether this field is numeric only, due to an editing issue that I have to make a different ticket for.

![image](https://user-images.githubusercontent.com/346

[2019-01-24 21:47] Lariabeth commented on #357
You need to create a Slack account - you can do this before or after you are added by Sachin to the Cora group: cora-spawaskar.slack.com

[2019-01-24 21:50] emilystreetman opened #359 "Edit element erases Accession/Provenance 1/Provenance 2"
I wanted to edit the count and mass of an element, but when I clicked edit, the Accession/Provenance 1/Provenance 2 fields were blank and the accession numbers associated with this element were not available to select. Changes to the count and mass could not be changed because "no accession number was selected"

Accession should be filled in as "2018-025" per the element header:
![image](https://u

[2019-01-24 21:53] emilystreetman commented on #297
Ok to close, @btrnew ?

[2019-01-24 22:06] emilystreetman opened #360 "Element sorting in new Individual Number Report"
I can't tell how the elements within an individual number are sorted. Could these please be sorted/alphabetized by Key or Element name?

![image](https://user-images.githubusercontent.com/34662044/51711480-de612a80-1ff1-11e9-927e-a18b50225ac1.png)

[2019-01-24 22:31] btrnew commented on #297
Yup! I'll try and close it later. Having issues getting into GitHub right
now.

On Thu, Jan 24, 2019 at 11:53 AM Emily Streetman <notifications@github.com>
wrote:

--
Briana New
Anthropologist for DPAA Hawaii

SNA International

*The Global Leader in Forensics, Biometrics and Identity Intelligence*

*An SBA 8(a) Woman-Owned Business Enterprise*
525 Wythe Street
Alexandria, VA 22314
Phone: 703-370-

[2019-01-25 00:00] CTegtmeyer commented on #350
still no weight or count function available for tissue

[2019-01-25 03:45] SachinPawaskarUNO commented on #350
@CTegtmeyer Please verify

[2019-01-25 03:45] SachinPawaskarUNO commented on #351
@CTegtmeyer Please verify

[2019-01-25 03:46] SachinPawaskarUNO commented on #344
This is related to #350 and #351.
@emilystreetman Tissue and Hair have been added as countable. Please verify

[2019-01-25 03:59] SachinPawaskarUNO commented on #344
@emilystreetman, @CTegtmeyer and @fedamann Currently we have the following specimens as being countable. Please review this list and let me know if we are missing something, I see that we have a bunch of tickets related to making specimens countable (one on Sesamoid, the list I have in this ticket above, do we still need these specimens as countable?).

List of specimens that are currently countab

[2019-01-25 14:46] emilystreetman commented on #359
@SachinPawaskarUNO This was in CoRA Demo project. I did not create the element:
- I searched for "unseriated rib";
- selected the first search result;
- and clicked edit on the upper right side of the element page.
As you can see at the top of the page, this element was originally created with the accession number "2018-025".

[2019-01-25 14:54] emilystreetman commented on #344
Per @fedamann 's previous comment, yes, these additional 7 elements should be countable.

[2019-01-25 14:59] #359 closed

[2019-01-25 15:17] emilystreetman commented on #326
Zones Help Guide updated and pull request made in github. Waiting for that help guide to go live so that I can find the links that should be connected to each element's zones page

[2019-01-25 16:15] SachinPawaskarUNO commented on #344
related to #337
@emilystreetman, @CTegtmeyer and @fedamann The following are now countable. Please verify

1. Sesamoid
2. Unseriated cervical vertebra
3. Unseriated lumbar vertebra
4. Unseriated metacarpal
5. Unseriated metatarsal
6. Unseriated rib
7. Unseriated thoracic vertebra

[2019-01-25 16:43] emilystreetman commented on #337
GTG

[2019-01-25 16:43] #337 closed

[2019-01-25 16:54] #344 closed

[2019-01-25 16:56] emilystreetman opened #362 "Recording instrument for mass/measurements"
In our bench notes, we normally have to record the instrument used for measurements, including mass, so that they are traceable. Is there a way to do this yet within CoRA, either for mass (main element page) or measurements (measurements page)?

[2019-01-25 16:58] emilystreetman commented on #326
- Hyoid - https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/zones/#vertebrae-and-hyoid
- Malleus - https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/zones/#cranium
- Incus - https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/zones/#cranium
- Stapes - https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/zones/#cranium

[2019-01-25 17:32] SachinPawaskarUNO commented on #326
@emilystreetman, @clegarde The above links to cora-docs have been updated. Please verify.

[2019-01-25 17:37] emilystreetman commented on #326
@clegarde ossicles look good, but I just found out that there are two zones listed for hyoid
1) body
2) greater horn
Do you think these should be left (2) and right (3) greater horns? Either way, I have to update the help guide and the image, because there is only a (1) present and the guide lists (1) as present/absent.

![image](https://user-images.githubusercontent.com/34662044/51762522-9267c180

[2019-01-25 18:48] Megyesimm opened #363 "Auto-populated drop down menus keep your mistakes"
When entering new skeletal elements - the drop down menus for Accession and Provenance keep ANYTHING you have EVER entered in them, even if its a mistake and you fixed that entry.  For instance, now I have GC 215 (instead of CG 215)  forever in the drop down menu, even though it was fixed and it does not exist in an entry.  Same with any mistake in Accession numbers.  Can we delete items in the Au

[2019-01-25 19:11] SachinPawaskarUNO commented on #363
@Megyesimm, @fedamann This is not a CoRA issue, This auto saving of previous values is done by your Browser for form inputs. You can clear your browser cache to clear these saved values.

[2019-01-25 23:52] clegarde commented on #326
@emilystreetman Yes! I think we should do the horns and body. Does K&Outram distinguish left and right? It seems like we should go ahead and do both.

[2019-01-27 21:11] SachinPawaskarUNO opened #364 "Automatic project switching from Org Administrators Dashboard"
Automatic project switching from Org Administrators Dashboard

[2019-01-28 16:08] emilystreetman commented on #326
I don't see the hyoid in K&O at all - not sure where these two zones originated. I will make a new ticket for this issue - I think we could reasonably close this one and move the remaining narrow-scope conversation to the new ticket instead. ((I have verified the original issue, if @clegarde agrees, please close ticket.))

[2019-01-28 16:11] emilystreetman opened #365 "Update zone names (and image and guide) for hyoid"
Following #326 and discussion with @clegarde:
For the dev team to update, the zones for hyoid should be -

1. Hyoid body
2. Left greater horn
3. Right greater horn

Also, @emilystreetman will update the related image and help guide section.

[2019-01-28 16:32] CTegtmeyer commented on #358
The field is numeric only (based on the last time I've used it), the g cannot be added. I agree that standard operating procedures should make mass be in grams, or that it be fillable to the right of the field.

[2019-01-28 16:54] clegarde commented on #326
K&O suggest zoning the hyoid per your particular research (pg 87), and an example being body, and left and right horns. Seems we're GTG with your new ticket to address this.

[2019-01-28 16:54] #326 closed

[2019-01-28 22:21] clegarde commented on #310
Heard this is just the way it is. Closing.

[2019-01-28 22:21] #310 closed

[2019-01-29 03:47] SachinPawaskarUNO commented on #358
@emilystreetman, @CTegtmeyer, The unit of measure (UoM) for mass is set at the Organization level by the Org Administrator, in your case @fedamann. You should now see the UoM displayed to the right as shown below. Please verify.
![image](https://user-images.githubusercontent.com/19599773/51882903-2c559580-2346-11e9-8e19-ec96052971ed.png)

[2019-01-29 03:54] SachinPawaskarUNO commented on #365
@emilystreetman Please verify

[2019-01-29 14:17] clegarde opened #366 ""Dna" needs to be "DNA""
DNA needs to be capitalized.
![screen shot 2019-01-29 at 8 13 26 am](https://user-images.githubusercontent.com/7350474/51914295-24c1db00-239e-11e9-978c-9efdeaa3b550.png)
![screen shot 2019-01-29 at 8 13 37 am](https://user-images.githubusercontent.com/7350474/51914297-268b9e80-239e-11e9-9c78-be764afaf33f.png)

[2019-01-30 00:58] SachinPawaskarUNO commented on #366
@clegarde Please verify

[2019-01-30 00:59] clegarde commented on #366
GTG

[2019-01-30 00:59] #366 closed

[2019-01-30 02:12] fedamann commented on #341
Verified.  Complete.

[2019-01-30 02:12] #341 closed

[2019-01-30 08:00] fedamann commented on #364
@sachin this function appears to be working. From the org admin dashboard I can select a project from the data grid and be taken to the specific project dashboard without having to switch the project from the top drop-down menu.  When switching to a new project dashboard page the project menu automatically swaps over.

[2019-01-30 14:43] SachinPawaskarUNO commented on #364
@fedamann Yes I coded this for you and @John Byrd and was going to ask you to verify this and close this ticket out. Plus I wanted this feature to demo to the Rear Admiral. Can you please close this out if verified?

[2019-01-30 14:50] SachinPawaskarUNO commented on #363
@Megyesimm, you probably still have this in your Accessions, so go to the accessions for your project and delete it. It only allow you to delete it as long as you do not have any Specimens that are tied to it.
@fedamann I think we need to have and provide some more structured, formal and regular training for folks.

[2019-01-30 17:35] Megyesimm commented on #363
The typos are no longer in the accessions.  That is the whole issue.  When you mistakenly enter something incorrectly, and then go back and fix it, the mistake/typo remains an option to choose from.

[2019-01-30 17:57] SachinPawaskarUNO commented on #363
@Megyesimm Can you send me the entire accession, meaning AN and P1 that this is happening for? I'm assuming this is for the Cabanatuan project. Can you also add a screenshot? might give be some clues and clarify things for me.

For others in the future, Please note that if you removed it using the Accession Management screen and then made the typo, you need to clear your form cache.

[2019-01-31 02:57] fedamann commented on #364
Verified.

[2019-01-31 02:57] #364 closed

[2019-02-01 04:57] fedamann commented on #351
Verified

[2019-02-01 04:57] #351 closed

[2019-02-01 17:43] SachinPawaskarUNO commented on #360
@emilystreetman Please Verify

[2019-02-01 21:48] SachinPawaskarUNO opened #367 "Create labels/buckets for the CIL Analytics group/project to use."
Create labels/buckets for the CIL Analytics group/project to use. ARDS (buckets) for the DPAA Data Registry
- Metrics-cranial+mandibular
- Metrics-dental
- Metrics-postcranial
- Nonmetrics-cranial+mandibular
- Nonmetrics-dental
- Nonmetrics-postcranial
- Age (scores/observations by methods)
- Image processing
    + 2D; photographs, radiographs
    + 3D; CT [dicom], surface scans [obj, xyz, stl, pl

[2019-02-01 23:49] SachinPawaskarUNO opened #368 "CIL Analytics - First meeting Notes"
**Notes**
1. We see a need for governance of (i) lab case data and (ii) extant reference data sets
2. Develop tools and rules for cleaning and validating data to create Authoritative Reference Data Sets (ARDS) that form a Registry for forensic anthropology
3. Use the Registry to create in house analytical models
4. Case data must be mined from Form 3401, and possibly loaded into SL for identified

[2019-02-03 14:13] clegarde commented on #324
Agreed that the listed zones should be added.

@emilystreetman @nyukyi - can you add the numbers to the cranial image and update image/text in CoRA help docs? I think this is feasible without getting too cluttered. Use your discretion. If we can't add one, then we can just add a line and list in help docs "Zones not depicted:" or something. At a minimum, I think the palatines should be labeled. @f

[2019-02-04 20:44] rpernst commented on #335
@sfuehr This should be fixed now.

[2019-02-04 21:36] SachinPawaskarUNO commented on #368
@SachinPawaskarUNO added @jcaple18 as collaborator.

[2019-02-04 21:41] Katie-East opened #369 "Confusing screenshot in help manual under create new skeletal element"
In the CoRA online help manual under User Guide>Skeletal Element>Creating a New Skeletal Element, the screenshot uses a "Left, Complete, Third Cervical Vertebra" as an example. This is incorrect at DPAA or for outside users because if a midline element is described as left it cannot also be complete. This is present in a number of places on this page:
https://cora-docs.readthedocs.io/en/latest/use

[2019-02-04 22:00] SachinPawaskarUNO commented on #369
@Katie-East and @fedamann This is a good idea. Please feel free to change the docs/screenshots as you see fit. I will leave it up to the anthropologists to discuss and update docs/screenshots.

[2019-02-05 20:34] CTegtmeyer opened #370 "Buttons just disappeared?"
I was entering information into CoRA and all of the buttons just disappeared. I've relogged, and cleared my cache and it still looks the same. They're still there if I scroll over them, but they've disappeared from the screen and I am not sure why. (I'd attach a screen capture, but of course, I cannot because I am on Edge). Is anyone else having this problem?

[2019-02-05 20:37] jjlynch2 commented on #370
I also see this issue. The buttons (icons) on the left-side navigation are not showing.

[2019-02-06 00:17] SachinPawaskarUNO commented on #370
@CTegtmeyer @jjlynch2 @fedamann, My best guess right now is that the something was upgraded on your local machines for example the edge browser, or OS patch. Maybe a new version was pushed out or something, Because the logs show that several users have used CoRA since 3:00 pm CST and have been doing lots of different activities on CoRA. Please see if there are version differences with others in yo

[2019-02-06 01:13] fedamann commented on #370
@CTegtmeyer and @jjlynch2 what is your winver on the machine where this happened?

[2019-02-06 01:17] jjlynch2 commented on #370
@fedamann @SachinPawaskarUNO This happened on the Windows 10 laptop I've been using. I will check tomorrow for the browser and OS patch version. I don't recall seeing an update notification, but maybe it was pushed overnight.

[2019-02-06 01:35] nyukyi commented on #370
I have the same problem too, and I have winver 1607.  The buttons came back for about 3 seconds after @CTegtmeyer and I discovered this problem, but it suddenly logged me out (maybe @SachinPawaskarUNO was fixing something?).  When I logged back in, the buttons are gone again.

[2019-02-06 03:32] cbrown311 commented on #370
I didn't have the buttons when working today either. I was in Edge, winver 1607. I can still do everything I need to but basically have to remember what was where because ico d are gone.

[2019-02-06 03:44] jjlynch2 commented on #370
@SachinPawaskarUNO I can see the icons from my home machine (chromium on Linux and edge on win10 1803).

Also, I should note that I experienced the logout that @nyukyi mentioned during work hours. It appeared that my session was  terminated.

[2019-02-06 03:44] SachinPawaskarUNO commented on #370
@cbrown311 Thank you for the quick response. That is good to know.
@fedamann Next step would be to see if you can access this on Edge from outside of DPAA network. BTW I just tested this with using Windows 10 and IE Edge Browser see screenshot below. Seems to be working fine (versions might be different)

![image](https://user-images.githubusercontent.com/19599773/52319351-d0ff5500-298e-11e9-920e-

[2019-02-06 03:48] clegarde commented on #370
I was using CoRA on Google Chrome and did not have any issues. I don't have Edge on my Mac to test. @SachinPawaskarUNO

[2019-02-06 03:49] SachinPawaskarUNO commented on #370
@jjlynch2 Thanks for verifying. That is good news.
The session was terminated issue is a know issue because of memory resources limitations. The 2 are not related. See memory threshold being crossed in screenshot below several times today.
![image](https://user-images.githubusercontent.com/19599773/52319519-cb563f00-298f-11e9-9491-0ae51d97ee86.png)

[2019-02-06 03:54] SachinPawaskarUNO commented on #370
@clegarde Thanks you for verifying/testing that out for me.

[2019-02-06 04:10] fedamann commented on #370
Chrome and Edge 1803 provide full function on my home machines.

[2019-02-06 16:30] CTegtmeyer commented on #370
@SachinPawaskarUNO @fedamann I am running CoRA on edge from my work laptop, windows version 1607 OS build 14393.2724.

Like others, when I run it from my personal computer, on chrome, the buttons are there.

I don't recall them pushing an update to my computer at all. I was literally in the middle of working on CoRA when the buttons disappeared, so if they did, it was a background update.

[2019-02-06 17:22] SachinPawaskarUNO commented on #370
@CTegtmeyer, Thank you for confirming the OS version, This was released January 8th, 2019 by Microsoft and an update was probably silently pushed yesterday. See below from Micorsoft's support website. I have also attached the
[support link](https://support.microsoft.com/en-us/help/4480961/windows-10-update-kb4480961) here for convenience.

January 8, 2019—KB4480961 (**OS Build 14393.2724**)
**Appl

[2019-02-06 17:54] nyukyi commented on #370
@SachinPawaskarUNO Yes I did all of my new element/group entries even though the buttons were gone because I still had to finish my work. It was a lot of guessing and hovering over icons.

[2019-02-06 20:01] cbrown311 opened #371 "Autopopulate mtDNA Results Confidence"
Requesting an option to autopopulate the mtDNA Results Confidence Field with "Reportable" as soon as sequence data is entered.

E.g., an analyst enters mtDNA Seq 5 for an element.  Because we have a specific sequence, we know the data is reportable.

![image](https://user-images.githubusercontent.com/34662044/52370381-5844db00-2a18-11e9-9e63-3848209d0310.png)

[2019-02-06 22:49] brittanywalter commented on #331
These measurements have been swapped and verified by lab interns.

[2019-02-06 22:49] #331 closed

[2019-02-07 02:19] SachinPawaskarUNO opened #372 "Remove CoRA Demo project from DPAA users, since they have the CAT environment to play around with."
Remove CoRA Demo project from DPAA users, since they have the CAT environment to play around with.

[2019-02-07 20:24] SachinPawaskarUNO opened #373 "Create logical diagram for Cora Analytics and interaction with External Systems and Independent Analytics Apps"

[2019-02-07 21:07] SachinPawaskarUNO commented on #372
@SachinPawaskarUNO to move forward with this change based on SCRUM discussion today

[2019-02-07 21:14] SachinPawaskarUNO commented on #371
Based upon conversation in SCRUM today, this violates our current rule that the mito sequence number and some other fields are only available when the results are reportable

[2019-02-07 21:15] SachinPawaskarUNO commented on #370
This has now been identified as a DPAA IT OS/Browser image issue and no longer belongs here. Hence closing this issue.

[2019-02-07 21:15] #370 closed

[2019-02-08 14:30] SachinPawaskarUNO commented on #373
This has been completed and added to the online cora-docs.

[2019-02-08 14:30] #373 closed

[2019-02-08 14:30] SachinPawaskarUNO commented on #367
This has been completed, we can always add additional labels as needed

[2019-02-08 14:30] #367 closed

[2019-02-08 15:47] jjlynch2 opened #374 "Save last used search criteria"
This is a nice to have feature request. When searching for elements using a particular search criteria (such as provenance 2), it would be nice for the dropdown menu to remember the last used criteria. Adding this as a option to user profiles would be good (rather than forcing it globally). This will make the workflow of searching for multiple elements within a single sequence under the same crite

[2019-02-10 15:53] SachinPawaskarUNO opened #375 "Update Org Profiles Screens used by Org Admin"

[2019-02-11 22:48] CTegtmeyer opened #376 "Fem_05 and Fem_06 wrong"
I think the names for Fem_05 and Fem_06 are wrong. Fem_05 should be *Anterior-Posterior* Sagittal Subtrochanteric... and Fem_06 should be *Medial-Lateral* Transverse Subtrochanteric... , but the planes are opposite.

[2019-02-12 14:55] jjlynch2 commented on #376
The order of Medial-Lateral (Fem_05) and Anterior-Posterior (Fem_06) is correct. This change was made according to the reorganization of measurements in the UTK DCP 2.0, which now lists Anterior-Posterior (80) after Medial-Lateral (79).

[2019-02-12 15:15] CTegtmeyer commented on #376
Okay, let me rephrase. The order is not wrong then, but currently CoRA has it listed as Medial-Lateral (Sagittal) and Anterior-Posterior (Transverse). The planes in the parentheses should be switched I believe. At least if it is to match the help docs.

[2019-02-12 15:31] clegarde commented on #376
Ah yes! You are correct @CTegtmeyer. The help guide is correct. I may have missed the Sagittal/Transverse in ( ) when I verified the fixed measurement names in CoRA earlier.

Measurement names should be:
Fem_05 Medial-Lateral (Transverse) Subtrochanteric Diameter
Fem_06 Anterior-Posterior (Sagittal) Subtrochanteric Diameter

[2019-02-12 15:41] clegarde commented on #376
@SachinPawaskarUNO this is just an issue of switching (Transverse) and (Sagittal) in the current field names. This was an issue with the field names from the beginning that I missed with our earlier updates to the field names.

[2019-02-12 15:44] nyukyi opened #377 "Tibia doesn't show up for Articulations with Talus"
When I tried to add articulations for a talus, tibia doesn't show up and is not an option even when I type it in, but when I went to tibia and added articulation with talus, it works.

Here's a screenshot of my issue:
https://imgur.com/ubChJOq

[2019-02-12 18:17] lfkennedy opened #378 "Links to mito sequence on Dashboard are broken"
clicking links in dashboard sometimes results in a "page not found" error

![broken link1](https://user-images.githubusercontent.com/34662044/52660023-5f5e6400-2ec4-11e9-8fd6-a4efb3a62738.PNG)
![broken link2](https://user-images.githubusercontent.com/34662044/52660027-608f9100-2ec4-11e9-9c93-5c1469f163ff.PNG)

[2019-02-12 18:49] emilystreetman commented on #378
I recreated this issue at my station using the following steps:
1) Go to dashboard
2) Under the "User Activity: DNA" module on the lower right, click on the hyperlink for a mitochondrial DNA sequence (in my case "251")
3) "Sorry, the page you are looking for could not be found." error appears with the following URL: https://www.coracore.org/reports/mtDNA/results/251

[2019-02-12 20:57] SachinPawaskarUNO commented on #377
@nyukyi Good catch. This is a data issue related to missing data for articulations from original list provided by Anthropologists.
@fedamann FYI, I'll get this missing articulation added in CoRA.

[2019-02-12 20:58] nyukyi opened #379 "Issues in Peer Review Process"
I'm working through the peer review process for an Oklahoma case as an analyst and found some things that might be worth looking into.  I've discussed them with @fedamann and @clegarde and came up with the following issues/questions:
1) I can only see the "Accept" button in the "Review" section (see image below).  Is there supposed to be a "Reject" button too?  If so, I can't see it.

2) Under "Me

[2019-02-12 21:06] emilystreetman commented on #379
I am curious how we know which column of measurements is which in the screenshot - are the Peer-Reviewer's measurements on the right, and therefore editable by the Analyst?

I think "mm" should be noted somewhere on this page as the unit of measurement.

A business rule to note - the SOP asks for postcranial measurements to be to the nearest mm only.

I suggest the business rule that the PR should

[2019-02-12 21:11] nyukyi commented on #379
@emilystreetman - I just checked my measurements, and it seems that the column on the left (the un-editable one) is the analyst's (mine) and the one on the right (the editable one) is the peer reviewer's (@CTegtmeyer), which means I can edit Caryn's measurements but not mine.

[2019-02-12 21:39] emilystreetman commented on #358
verified

[2019-02-12 21:39] #358 closed

[2019-02-12 21:46] cbrown311 commented on #379
Measurements should only be changed if they are +/- 2 mm off for measurements <200 mm or +/ -3 mm for 200+ mm.

Concerning postcranial measurements, they should be taken as described in the original method. For example, the supplemental measurements are taken to the tenth decimal place.

[2019-02-12 22:08] emilystreetman commented on #350
verified

[2019-02-12 22:08] #350 closed

[2019-02-12 22:12] emilystreetman commented on #360
verified

[2019-02-12 22:12] #360 closed

[2019-02-13 03:12] SachinPawaskarUNO commented on #378
@lfkennedy @emilystreetman This should now be fixed. Please verify.

[2019-02-13 03:12] SachinPawaskarUNO commented on #377
@nyukyi This data issue has been fixed. Please verify.

[2019-02-13 03:13] SachinPawaskarUNO commented on #376
@CTegtmeyer @jjlynch2 @clegarde This data issue has been addressed. Please verify.

[2019-02-13 03:25] SachinPawaskarUNO commented on #379
@nyukyi @CTegtmeyer @fedamann @clegarde @cbrown311 @emilystreetman, we have addressed some UI issues. See below.
I think the discussion the team is having is very important and useful. This will help flush out the review process as it gets exercised and we can add new capabilities/features as needed.

1. The review screen should now show which are the **Initial** and **Review** columns/values.
2.

[2019-02-13 03:36] clegarde commented on #376
GTG. Thanks @SachinPawaskarUNO

[2019-02-13 03:36] #376 closed

[2019-02-13 14:14] lfkennedy commented on #378
Verified. I'll speak for Emily, too.

[2019-02-13 14:14] #378 closed

[2019-02-13 14:36] nyukyi commented on #377
@SachinPawaskarUNO Looks good now, thank you!

[2019-02-13 14:36] #377 closed

[2019-02-14 14:41] SachinPawaskarUNO opened #380 "Ability to have multiple versions of CoRA documentation."
Ability to have multiple versions of CoRA documentation. The goal/objective is to provide users with the ability to view previous versions of the docs mapped to previous release versions of the CoRA codebase. See example below.

1. latest --> master
2. v1.0.0 --> v1.0.0 release tag/branch
3. v0.3.0 --> v0.3.0 release tag/branch

[2019-02-14 16:42] jjlynch2 opened #381 "Searching by I number"
Perhaps this is a resource problem?

Sometimes when searching by an I number the element that is associated via articulation only (not via mtDNA sequence) does not show up under the I number results (despite it having the same I number). The results will return the 14  mtDNA sequenced elements rather than all 15 associated elements. This happens very randomly and I cannot always replicate it.

[2019-02-14 19:44] SachinPawaskarUNO commented on #381
@jjlynch2 Can you provide us with the I-Number is question and project name, I'm assuming you are doing the quicksearch from the nav header. Are you doing Specimens by I-Number or DNAs by I-Number?

[2019-02-14 19:59] jjlynch2 commented on #381
Ah, disregard this issue. Just a PEBKAC. I was accidentally doing DNA by I number.

[2019-02-14 19:59] #381 closed

[2019-02-14 21:45] emilystreetman opened #382 ""mm" formats weird on a small screen"
I was working on my laptop on the lab floor, and see that "mm" is split across two lines in the measurements review screen. Since we will be very commonly using CoRA in this situation, I thought it was worth mentioning.
![image](https://user-images.githubusercontent.com/34662044/52819681-8c9b4580-306f-11e9-8a91-d8d165117b09.png)

[2019-02-14 21:46] emilystreetman opened #383 "Indicate to analyst that measurement should *not* have been taken"
How do I (peer reviewer) indicate to the analyst that I don't think she should have taken this measurement?
![image](https://user-images.githubusercontent.com/34662044/52819736-b6ed0300-306f-11e9-8325-71102e78c2c1.png)

[2019-02-14 21:47] emilystreetman opened #384 "Moving forward through tabs during peer review"
After I saved Measurements Review page, the screen automatically reloaded the General tab. I suggest auto-forwarding to the next tab to streamline the review process.

![image](https://user-images.githubusercontent.com/34662044/52819802-e3088400-306f-11e9-9c1a-68966761e8f7.png)

[2019-02-15 17:23] SachinPawaskarUNO opened #385 "Enhancements to User Screens for Org Administrator"
Enhancements to User Screens for Org Administrator
- [ ] Ability to see when user was last active
- [ ] Ability to see how long the user has been inactive, if they have an inactivity lock

[2019-02-15 17:42] #385 closed

[2019-02-19 03:06] SachinPawaskarUNO opened #386 "Duplicate Instrument Code"
Duplicate Instrument Code, discuss with @fedamann on addressing this data issue from the original data import for the USS Oklahoma project.

![image](https://user-images.githubusercontent.com/19599773/53779372-7988d200-3ec5-11e9-836f-de3b2b1c8de8.png)

[2019-02-25 17:53] CTegtmeyer opened #387 "Dashboard won't display"
I logged into today and when I go to click on the Dashboard Icon, it comes up with the "Whoops looks like something went wrong" error. Is anyone else getting this error? I am using CoRA on edge, so we already know there are issues there. I am not sure if it is a system bug or an edge bug.

[2019-02-25 18:08] clegarde commented on #387
I am also having this problem in Edge and IE. Getting the "Whoops, looks like something went wrong." error. I can check Chrome later today.

[2019-02-25 18:22] CTegtmeyer opened #388 "Session timed out due to inactivity"
I think there might be something wrong with the inactivity settings in the system. Multiple times now I have gotten the error "session timed out due to inactivity, please refresh and try again" when I have been in the middle of entering data, and haven't let the system go inactive for any period of time.  The page then forces me to re-log and erases the data for the page that I have been working o

[2019-02-25 19:37] jwarsom opened #389 "Individual Numbers Report Excel Export"
Individual Numbers Report Excel Export
Behavior: Export to excel only outputs the first skeletal element assigned to an individual number.
Expected: Export to excel outputs each of the skeletal elements assigned to an individual number.
Browser Used: Chrome

[2019-02-25 19:47] jwarsom commented on #389
<img width="735" alt="screen shot 2019-02-25 at 1 46 28 pm" src="https://user-images.githubusercontent.com/22533192/53364195-e61f3200-3903-11e9-83d8-d2a02ac84e4a.png">

[2019-02-25 22:36] CTegtmeyer commented on #387
The dashboard appears to be working properly now.

[2019-02-25 23:08] fedamann commented on #387
It works in chrome on a non-DPAA network

[2019-02-26 16:27] CTegtmeyer opened #390 "Zone page wont display"
I am getting the "Whoops, looks like something went wrong error" when trying to access the zone page. This is similar to the dashboard issue I had yesterday. I don't know if there is a bug that is making these pages temporarily unable to display? Seemed like it was working fine yesterday.

[2019-02-26 16:28] CTegtmeyer commented on #387
Closing this issue as the dashboard appears to be working okay now. Will reopen if fails to display again.

[2019-02-26 16:28] #387 closed

[2019-02-26 17:45] sfuehr commented on #335
Verified and will close ticket.

[2019-02-26 17:45] #335 closed

[2019-02-26 18:04] clegarde opened #391 "Os coxa > Age method > McKern and Stewart 1957 - no composite score when sum is 0"
We just had help getting the composite score sum for this method. Edit, then save for the composite score to show. For those with a score of 0 for each (Dorsal, Ventral, and Rim), it would not provide a composite score. The composite score field remained blank.
Ex: CIL 2003-116-G-04-X-56G-901
Will upload screenshot when I can.

[2019-02-26 18:40] clegarde commented on #391
Not sure if this will work...
https://drive.google.com/open?id=1-DYlRx1QRdAQDkunhNjj8MsKM9WIg8zG

[2019-02-26 20:11] CTegtmeyer opened #392 "Group articulations won't form on some occasions"
Every so often, a group articulation, will not form, even after repeated attempts at entering it. This has happened with hand and foot group creations. The groups I form after create with no problems, but these groups just never appear?

[2019-02-26 21:47] SachinPawaskarUNO commented on #391
@clegarde This was an odd/tricky scenario, I'm guessing this only happens when the composite score adds up to 0. Is that correct?

[2019-02-26 22:04] SachinPawaskarUNO commented on #392
@CTegtmeyer, This was a difficult one to identify, I think I have narrowed these down to timeout issues due to resources. Currently we have some of these specimen group creation jobs taking longer than the allowed job time of 60 seconds on the current resources. For now I'm going to increase the allowed job time to 90 seconds. We can fine tune this timeout/allowed timeout value as we continue to u

[2019-02-26 22:06] SachinPawaskarUNO commented on #390
@CTegtmeyer Please verify, I think this is longer an issue.

[2019-02-26 22:29] clegarde commented on #391
Yes, this is happening when each score is 0, so the composite score is 0.

[2019-02-26 22:52] CTegtmeyer commented on #390
Correct. It is working now. I will close the issue.

[2019-02-26 22:52] #390 closed

[2019-02-26 22:54] CTegtmeyer commented on #392
Yes, I've only had it happen with the hands and feet, however, they have not been full groups, but have been partial groups, so have not had that many elements in them. I have had vertebrae and rib groups with more elements that have had no problems forming.

[2019-02-26 23:09] SachinPawaskarUNO commented on #392
@CTegtmeyer, It essentially has to do with how much work needs to get done in a given Specimen Group Creation job, which is highly variable depending on how many articulations it has to create (hands and feet have a lot more articulations amongst themselves compared to ribs/vertebrae groups which a little less more articulations amongst themselves. Add to this additional associations that may need

[2019-02-27 02:40] SachinPawaskarUNO commented on #391
@clegarde, Please verify

[2019-02-27 02:47] SachinPawaskarUNO commented on #388
@CTegtmeyer and @fedamann This is a symptom of the resources issue. When someone is working and the application goes down due to memory/other issues, and it comes back up, it no longer recognizes the old sessions at the time the app/server went down. The new server will then provide the error "session timed out due to inactivity, please refresh and try again" and then when you log back in provide

[2019-02-27 14:45] clegarde commented on #391
GTG

[2019-02-27 14:45] #391 closed

[2019-02-27 20:16] Megyesimm opened #393 "Dashboard info changes"
The information for Cabanatuan that I need on the dashboard to see at a glance is:

- [x] Number of accessions
- [x] Number of Common Graves
- [ ] A bar chart showing the Common Grave number (for instance CG 717, CG 312 etc) and the number of accessions associated with each CG.
- [x] Number of DNA samples

Some of this info I may be able to do already, but CoRA is not working properly for me.  The

[2019-02-28 00:03] fedamann commented on #393
@sachin per our earlier conversation re custom dashboards and integrating with CMS, at least being able to "point" qlik to some Cora tables

[2019-02-28 00:25] CTegtmeyer commented on #392
So, it turns out that these groups do form, sometimes hours later. Instead of creating an error when the composite key is already used, it just moved on to the next designator number in the sequence. Is it possible to create a fail-safe that if you accidentally double create a group that it won't form the second group if the composite key is already used?

We still have a lot of specimens to add.

[2019-02-28 16:44] lfkennedy opened #394 "Associations used by analysts for segregation not reflected in "associations" list"
The list of associations that analysts can use to link elements do not include OSR/regression information or age.  In sequences with MNI >1, we have been segregating out these separate individuals using this information.  Adding these lines of evidence may be worthwhile, especially if the end result of this process will be a reflection of the segregation reports that we generate in the lab.

![ima

[2019-02-28 17:09] lfkennedy opened #395 "Cannot associate additional pair matches manually after eliminating one"
I am unable to click in the box that says "Select Pair Matches" on the pair match screen and/or to associate additional pair matches after one initial attempt.

Here is the path I followed to get to this point:
Left femur CIL 2003-116-G-07-X-241G-401 -> associations -> pair matches -> Actions -> Edit -> "Select"-ed CIL 2003-116-G-07-X-241G-402 as a possible pair match -> realized I had associated

[2019-02-28 18:40] mei215 opened #396 "mtDNA Report Enhancement"
When an mtDNA Report is created for a specific sequence, can there be other columns visible that indicate any other remains that have been associated with each element in that sequence by articulation, refit, and pair match?

It currently seems clunky/inefficient to determine what other elements have been associated. For example, if I see CIL 2017-310-X-5150--202 is associated with Ploesti DNA Seq

[2019-02-28 19:35] SachinPawaskarUNO commented on #389
@jwarsom The data for all specimens is there. Just click the cell to see it. See screenshot below.

![image](https://user-images.githubusercontent.com/19599773/53593181-a3f12d00-3b5d-11e9-8e89-f97f519d972e.png)

[2019-02-28 20:42] jwarsom commented on #389
Verified!

[2019-02-28 20:42] #389 closed

[2019-02-28 21:57] clegarde commented on #365
The three zones have been added in CoRA. @emilystreetman can you please update the help guide?

[2019-03-01 19:43] mei215 opened #397 ""Reviewed By" Column Not Updating"
When I review element inventories and check the boxes for "Inventory Completed" and "Reviewed," the column that should indicate this task has been done is not updating. As a result, I cannot tell unless I click on the element if the review has been completed.

[2019-03-02 11:15] SachinPawaskarUNO commented on #397
@mei215 Good catch, Please verify.
@mei215 Are you receiving the notifications when you mark them are reviewed?
@tlvandeest Are you receiving the notifications when the reviewer marks the specimens you inventoried as reviewed?
@fedamann We need to document the behavior of the reviewed status flag change.

[2019-03-02 12:08] SachinPawaskarUNO commented on #395
@rpernst Please take a look at this issue.

[2019-03-04 20:00] SachinPawaskarUNO commented on #379
@rpernst make the review headings clickable, which take them to the appropriate Specimen association screen.

[2019-03-05 03:32] SachinPawaskarUNO commented on #395
@lfkennedy Please verify

[2019-03-05 03:37] SachinPawaskarUNO commented on #386
After discussion with @fedamann at our last SCRUM meeting, the first record will be deleted and then the unique code constraint will be added.

[2019-03-05 03:51] fedamann commented on #379
DPAA Org Admin verified units of measurement are set to millimeters and
grams

On Mon, Mar 4, 2019, 14:00 Sachin Pawaskar <notifications@github.com> wrote:

[2019-03-05 04:24] SachinPawaskarUNO commented on #386
Data has been cleaned from all environments.

[2019-03-05 04:24] #386 closed

[2019-03-05 13:41] lfkennedy commented on #395
Verified.

[2019-03-05 13:41] #395 closed

[2019-03-07 04:20] SachinPawaskarUNO commented on #384
@emilystreetman Please verify

[2019-03-07 04:25] SachinPawaskarUNO commented on #379
@nyukyi The Review Tab sections now have clickable headers that will take the individual who originally inventoried the items directly to the specific Specimen association page to make necessary changes. Meaning if you are on the Measurements Tab of the Review Screen, then clicking the Measurements header will take you to that specific Specimen's measurements page. This is a usability feature that

[2019-03-11 15:58] mei215 commented on #397
I am receiving notifications that a specimen has been reviewed as soon as I do that. However, the "Reviewed By" column does not update to show a name/check mark that the review has been completed. Also, the "Updated At" column does not update to show that the specimen has been recently updated.

[2019-03-11 18:53] clegarde opened #398 "Os coxa > Age (method) > McKern and Stewart 1957 pubic symphysis"
Os coxa > Age (method) > McKern and Stewart 1957 pubic symphysis
For this method, the age range for a composite score = 0 ("Composite Score - SUMALL") needs to be changed from "<17" to "<19". This is an update to the data we provided. Screenshot of example to follow.

[2019-03-12 00:22] clegarde commented on #398
![MS 1957_CompScore0](https://user-images.githubusercontent.com/7350474/54166388-033f1f00-4433-11e9-978f-71794a16f2dd.PNG)

[2019-03-12 03:44] SachinPawaskarUNO commented on #398
@clegarde Please verify

[2019-03-12 03:49] clegarde commented on #398
GTG

[2019-03-12 03:49] #398 closed

[2019-03-12 16:15] mei215 commented on #397
Also, my project Dashboard Inventory section is not updating to show elements have been Inventoried and Reviewed.

[2019-03-12 21:07] mei215 opened #399 "Column Visibility Preferences"
Can we make it possible for users to select their Column Visibility preferences in their profile or for the search process to save it automatically? Some columns are used much more frequently than others.

[2019-03-12 21:14] mei215 opened #400 "Remains Status Enhancement"
Can there be an additional check box on the inventory page for Remains Status? A way to indicate if the remains are at the lab or have been released would be useful. A date box for when the remains were released would also be useful.

[2019-03-14 13:53] mei215 commented on #397
Verified this is working now

[2019-03-14 13:53] #397 closed

[2019-03-14 20:18] SachinPawaskarUNO commented on #399
related to #318

[2019-03-14 21:07] SachinPawaskarUNO commented on #372
verified and closed

[2019-03-14 21:07] #372 closed

[2019-03-15 01:25] SachinPawaskarUNO opened #401 "Update Password Reset info message to match NIST standard"
Update Password Reset info message
![image](https://user-images.githubusercontent.com/19599773/54401796-34b82480-4697-11e9-9210-7c8943380e3c.png)

[2019-03-15 01:57] SachinPawaskarUNO opened #402 "Add additional specimen information in searches"
Add additional specimen information in searches such as inventoried, reviewed, inventoried_at, reviewed_at.

[2019-03-15 01:58] SachinPawaskarUNO commented on #402
related to #397

[2019-03-19 15:33] emilystreetman opened #403 "I-# search does not populate specimens without a sample #"
I saved the I-# for all specimens associated with CIL 2003-116-I-165, including the left and right scapulae below. One was associated via mtDNA sequence (37), and one was associated with pair matching. Both have the I-# saved in their element data page.
![image](https://user-images.githubusercontent.com/34662044/54619036-fc676c00-4a31-11e9-92e8-e64841ace664.png)

However, when I search for CIL 200

[2019-03-19 18:33] jjlynch2 opened #404 "Project Name Disclosure Bug"
I noticed all project names are visible under My Profile -> Projects -> Default Project. This could be an information disclosure problem if CoRA becomes public as it allows anyone to view project names regardless of account privileges.

[2019-03-19 18:53] jjlynch2 opened #405 "Profile Image Disclosure Bug"
Another minor bug. Under 'My Profile' if you edit the user number in the browser URL, that users profile image will show up under your profile. Similar to the previous ticket #404 , this could allow none-DPAA staff (once CoRA becomes public) to view information that should be only accessible by admin level accounts.

[2019-03-19 20:07] drjohnbyrd opened #406 "Project population structure info for mtDNA FRS's"
Project population structure info for mtDNA FRS's

- This product will show the distribution in numbers of the FRS's per mtDNA sequence number.

- Purpose is to show at a glance how probative mtDNA is expected to be, and which sequences are most/least probative.

- This info will be available at the beginning of the project.

[2019-03-19 21:22] jjlynch2 commented on #405
This also shows the "Role" assignment so you are able to determine which user accounts have management access, etc.

[2019-03-19 23:25] clegarde commented on #403
I suggest we just remove the "Individual Number" search from the **DNA search** options. It exists under the **Skeletal Element search** and this would avoid this problem. I don't see a reason to need to do an Individual Number search that would only return elements that were sampled.

[2019-03-20 11:35] fedamann commented on #403
This should go into the backlog for an eventual solution if necessary.
Functionality exists to do what needs to be done, as long as the correct
search/report function is used.  I wouldn't remove it at this point as
other users may find it useful.

On Tue, Mar 19, 2019, 18:25 C. LeGarde <notifications@github.com> wrote:

[2019-03-20 17:46] #399 closed

[2019-03-20 18:30] SachinPawaskarUNO commented on #404
@jjlynch2 and @fedamann , Upon investigation and closer look. This is not really a bug, You are seeing projects that belong to your org and also projects that have been made public.
Since we are not using the public projects capabilities right now, I'm going to turn this off for now and we can revisit availability of public projects at a later time. I think this will minimize confusion.

[2019-03-20 18:39] jjlynch2 commented on #404
@SachinPawaskarUNO Sounds good. That makes sense to me. I didn't know that was even built into CoRA yet!

[2019-03-20 19:51] clegarde opened #407 "Dashboard -> DNA Sampled does not include re-samples"
Project Management Dashboard:
The number provided next to DNA Sampled does not include re-samples. Therefore, the "Pending" portion is not reflecting an accurate number since this is calculated based on: DNA samples - reportable - inconclusive - unable to assign - cancelled (see #321).

This is an example for Buna:
![Dashboard DNA Sampled_Buna](https://user-images.githubusercontent.com/7350474/547

[2019-03-20 20:19] Megyesimm commented on #363
met with Sachin and I figured out how to resolve this issue

[2019-03-20 20:19] #363 closed

[2019-03-21 06:22] SachinPawaskarUNO commented on #405
@jjlynch2 Please verify

[2019-03-21 06:22] SachinPawaskarUNO commented on #404
@jjlynch2 Please verify

[2019-03-21 13:50] jjlynch2 commented on #405
@SachinPawaskarUNO Verified

[2019-03-21 13:50] #405 closed

[2019-03-21 14:03] jjlynch2 commented on #404
@SachinPawaskarUNO Verified

[2019-03-21 14:03] #404 closed

[2019-03-21 17:17] Megyesimm opened #408 "Cabanatuan Dashboard Common Grave number of accessions in each"
The CAB project needs a visual on the dashboard that displays how many accessions are in each Common Grave.  Related to this, I need a basic counter that tells me how many different Common Graves are in the Project.  These are important descriptive statistics that I need to be able to see and report at a glance.  Anticipate somewhere around 100-200 Common Graves for the whole project looking forwa

[2019-03-21 17:25] Megyesimm opened #409 "Cabanatuan Common Grave Chronology"
Each Common Grave is associated with a (small) range of dates of burial/death.  For instance, CG 811 has dates of burial/death from 26-27 December 1942.  I need a way to see the Common Graves in Chronological order.  This is important because individuals may be commingled with CGs that were active around the same time.  In addition, some CGs have overlapping dates.  I need a way to basically see a

[2019-03-22 14:57] nyukyi commented on #379
@SachinPawaskarUNO - @Katie-East and I have been using the new feature, and one comment we have is that it would be easier if the link to the measurements page would open up in a new tab.

Another comment as a peer reviewer is, it would be nice to have the Help Page sidebar while checking the analyst's measurements. Thanks!

[2019-03-22 15:04] nyukyi opened #410 "Provenance 1 and 2 Search Formatting"
When I search for elements by Provenance 1 and 2, the suggested example that comes up in the search bar is formatted "G21 or G212," or "X1," etc. but I think most (if not all?) of us format it "G-21 or G-212" with a dash in between.  Is it possible to change the example format?

![CoRA_ProvenanceSearch](https://user-images.githubusercontent.com/34749060/54832135-9b39d580-4c89-11e9-95d7-ede80e8af61

[2019-03-22 15:17] nyukyi opened #411 "Zoom feature for measurement pictures not working"
On the measurements page, the function to zoom in on the pictures is not working.

![CoRA_PictureZoom](https://user-images.githubusercontent.com/34749060/54833209-a2fa7980-4c8b-11e9-99db-0018f32cc2cc.png)

[2019-03-22 15:22] nyukyi opened #412 "Export function for measurements"
I'm working on making pair match lists for some USS Oklahoma Group 2 elements and realized that there is no feature/function to export the measurements for the elements.  It would be super nice to have that function so that analysts wouldn't have to type in measurements manually onto an excel sheet for the pair match list making process.

[2019-03-22 15:54] brittanywalter opened #413 ""Specimen update successful" bug"
I came across the following bug while adding I numbers to a sequence.
-I edited a specimen and the green "specimen update successful"  popped up when it saved.
-I closed the window to edit the next specimen
-When the window opened for the next specimen, the green box with "specimen update successful" was there, though nothing had yet been edited (see attachment).

This isn't a big deal but may lea

[2019-03-23 05:36] SachinPawaskarUNO commented on #407
@clegarde That makes sense. I agree with the suggestion.

[2019-03-23 05:41] SachinPawaskarUNO commented on #400
@mei215 @clegarde and @fedamann I like the suggestion, Is it just 2 items [In-Lab, Released]? Can you all do an internal discussion and come up with the a list of possible values for that dropdown?

[2019-03-25 17:23] skorps opened #414 "Accession Search Not Chronological"
When searching for an accession, the drop down is listed in the order that the accessions were added to CoRA.  Can this list be in chronological order instead?

![Accession Search List](https://user-images.githubusercontent.com/37446598/54940265-65e6ef00-4ef8-11e9-98f3-6f4bd0cfb92d.PNG)

[2019-03-25 18:36] skorps opened #415 "Mito sequence specimen number on dashboard incorrect"
The number of specimens for mito sequence 2 is incorrect on the dashboard for Buna.  The dashboard says there are 6 specimens, but only 5 are entered (which is correct - there should be 5).  The other mito sequences displayed on the dashboard have the correct number of specimens.

![Mito Sequence 2 Dashboard](https://user-images.githubusercontent.com/37446598/54945352-997b4680-4f03-11e9-950f-bcf5d

[2019-03-26 14:06] cbrown311 commented on #371
Agree.  Closed.

[2019-03-26 14:06] #371 closed

[2019-03-26 16:48] nyukyi commented on #413
I have encountered this as well.

[2019-03-26 17:08] Katie-East commented on #379
@SachinPawaskarUNO in response to your 12 Feb 2019 comment, point 2: I am still able to edit the peer reviewer's measurements for elements I initially inventoried. This only happens for some elements, others work appropriately.
![created element but cora thinks im a reviewer](https://user-images.githubusercontent.com/46726506/55017891-ca0bc080-4f95-11e9-9ca1-7678c896cc58.PNG)

[2019-03-26 17:10] Katie-East commented on #379
After accepting the reviewer's measurements the reviewer's measurements and the initial measurement are not visible. Thus it is not possible to tell which measurements were changed. Could this pose an issue for tracking purposes?
![recommended measurment not saved](https://user-images.githubusercontent.com/46726506/55018086-32f33880-4f96-11e9-8b1f-b70a8d152cd8.PNG)

[2019-03-26 17:11] Katie-East commented on #379
(Last one for today I promise)
The check mark indicating that an item has been peer reviewed is not visible for all specimens. On a slightly unrelated note... date of inventory is also inconsistently present.
![Inventory and review buttons present no inventory date](https://user-images.githubusercontent.com/46726506/55018215-6cc43f00-4f96-11e9-9018-85b5813ab70e.PNG)
![Inventory and review buttons

[2019-03-27 20:13] Katie-East commented on #369
I have updated the create "new skeletal element" and "view skeletal element" screenshots in the user docs.

[2019-03-27 20:13] #369 closed

[2019-03-28 15:52] mei215 commented on #400
Spoke with @clegarde, @skorps, @emilystreetman, and @cbrown311. The general consensus is two options for Remains Status: 1) In Lab and 2) Released. Having this function should make writing a group report at the end of a project easier and help with prioritizing APRs.

@clegarde and @emilystreetman also suggested a separate area for Identification Status (also binary) with an area to record Date of

[2019-03-28 18:33] emilystreetman commented on #324
Done.

Dev team, please create the zones indicated in the comment from @emilystreetman on Jan 24.

[2019-03-28 18:42] emilystreetman opened #419 "Adding an ID Date to all elements of an I-#"
We currently have a space for _I-#_, but no way to indicate that an individual has been **identified** by the medical examiner. I'm not sure where an **ID Date** should go (presence of a date would indicate **ID** and absence of a date would indicate "not IDed yet"). This is not the same as entering an _ID-#_ because _assigning a number_ and **making an ID** are done at different times in the proc

[2019-03-28 18:44] emilystreetman commented on #384
This didn't work for me, but I don't have a case that I'm actively peer reviewing - @nyukyi and @Katie-East can you speak to this?

[2019-03-28 18:55] emilystreetman commented on #365
Help guide text and images updated. Waiting for merge to verify they're live before closing this ticket.

[2019-03-28 19:28] nyukyi commented on #384
@emilystreetman It technically works, but it does weird things in between.  So for example, when I finish reviewing "Measurements," and then hit save, it goes straight back to "General," which is the first tab on the list.  And then it freezes up for a few minutes, and you get a "coracore.org is not responding" message at the bottom, and only then, it goes to the next tab.  It does that every time

[2019-03-28 19:39] SachinPawaskarUNO commented on #365
@emilystreetman Please verify

[2019-03-28 19:42] emilystreetman commented on #365
Image in CoRA and CoRADocs not updated

[2019-03-28 19:46] SachinPawaskarUNO commented on #365
@emilystreetman Images in CoRA will be updated at a later date. For now can you please verify the CoRA Docs images. I'm seeing an issue with rotated images. Is this related to what you did?

![image](https://user-images.githubusercontent.com/19599773/55187977-3e965900-5168-11e9-9a56-e78fc82d8bb4.png)

[2019-03-28 19:58] emilystreetman commented on #365
Hyoid images are OK - verified and closing. @SachinPawaskarUNO your last comment is related to ticket #324, not this one

[2019-03-28 19:58] #365 closed

[2019-03-28 20:59] Katie-East commented on #384
While reviewing one page (such as the measurement page) it will occasionally revert back to the general page even if I haven't hit save or accept.

[2019-03-28 23:11] SachinPawaskarUNO commented on #415
@skorps Thanks for all the details provided, this is very useful. I think we have identified the issue. There were soft delete records that are being incorrectly being pulled into the count. This will be addressed in the next release.

[2019-03-30 03:51] SachinPawaskarUNO commented on #415
@skorps Please verify

[2019-03-30 03:52] SachinPawaskarUNO commented on #414
@skorps Please verify

[2019-03-30 03:56] SachinPawaskarUNO commented on #410
@nyukyi Please verify

[2019-04-01 14:09] skorps commented on #414
@SachinPawaskarUNO Verified

[2019-04-01 14:10] skorps commented on #415
@SachinPawaskarUNO Verified

[2019-04-01 14:10] #415 closed

[2019-04-01 20:55] Katie-East opened #421 "Unable to suggest age/ sex/ ancestry methods during peer review"
When peer reviewing the biological profile page, it is not possible to suggest a method that should have been applied to estimate age/ sex/ ancestry. This happens both when no method has been applied or when a method has been applied and I would like to suggest another or alternative. It would be beneficial, I think. for the peer reviewer to be able to suggest methods, not just alter scores in thi

[2019-04-02 04:00] SachinPawaskarUNO opened #422 "DNA Module Redesign"
DNA Module Redesign

[2019-04-02 04:25] SachinPawaskarUNO opened #423 "New Isotope Module"
New Isotope Module

[2019-04-02 19:41] Katie-East commented on #379
@SachinPawaskarUNO in regards to my above comment about being able to edit the peer reviewer's measurements but not accept changes. I have determined that it happens only for elements that I did not initially create a record for, even if I am the one who completed the inventory and measurements. It seems I am only able to accept reviewer comments for skeletal elements I originally created in CoRA.

[2019-04-02 20:10] sfuehr opened #424 "Unable to disagree with a pair match during peer review"
When peer reviewing the Association section, there is no way to disagree with the analyst about a pair match, articulation, and refit. The review box only allows the peer reviewer to add an element they think is a pair match, but doesn't allow for any type of comment about removing/rejecting a pair match.

Somewhat similar to ticket #421

[2019-04-02 20:31] sfuehr opened #425 "Pair matches not appearing on review page"
Elements that are documented as pair matches are not always showing up as a pair match on the review page for associations (only one of the elements will list the pair match). Pictures attached.
![Ulna PM review](https://user-images.githubusercontent.com/34749000/55433905-fefeb100-555b-11e9-8e6a-3514f7f1688e.jpg)
![Ulna PM review2](https://user-images.githubusercontent.com/34749000/55433906-fefeb1

[2019-04-04 19:11] fedamann commented on #424
Consider a change to be similar to the measurement PR, or even an agree or disagree function.

[2019-04-04 19:31] fedamann commented on #410
verified and closed.

[2019-04-04 19:31] #410 closed

[2019-04-04 21:33] emilystreetman commented on #412
Per scrum today, we believe this functionality exists in the Reports>Measurement Report function. Measurements would be exportable then, although the analyst would still have to manually select which elements from the downloaded xlsx would be used in the comparison. For full automation of a pair match list, the ongoing efforts to link CoRA with CoRA Analytics are in the works but not operational y

[2019-04-04 21:36] emilystreetman commented on #243
Per scrum discussion, @SachinPawaskarUNO agrees to add "*Mito Haplogroup*" and "*Mito Subgroup*" as suggested by @clegarde, and *Population* would then auto-populate based on the Mito Subgroup entered (it would not be a user-entered field via a dropdown menu).

Next step: DNA folks would need to agree on the list of options for each of these two categories and what would display in Populations for

[2019-04-05 04:07] SachinPawaskarUNO commented on #408
@Megyesimm You should now be able to see the number of Common Graves (Provenance1) on the Project Dashboard.

[2019-04-05 04:10] SachinPawaskarUNO commented on #393
@Megyesimm The following are now available on the project dashboard

- [ ] Number of accessions
- [ ] Number of Common Graves

[2019-04-11 19:11] veronicak7 opened #426 "free-form text box in "View DNA""
The KWP requires a free-form text space on the "View DNA" page to track the name comparison requests for nuclear testing. This information is not captured in eLISA and is only documented through email. This is an inefficient process and increases the likelihood that requests will fall through the cracks. @pearl0918

[2019-04-12 02:24] fedamann commented on #412
@emilystreetman @cbrown311 I agree that it would be a nice feature enhancement to return a measurement report for any one of the Report Criteria listed.  In the example however, @nyukyi can still pull the list of measurements for pair-matching because she will know what specimen type to pull from for the comparisons.  The suck part is that if she has to pair match a femur, humerus, radius, tibia..

[2019-04-12 02:51] clegarde commented on #412
Looking at @emilystreetman comment and image - it looks like if you do not choose a bone, it will only return what looks like an inventory list. Bone is marked with an * but you can still run the report without choosing one, which gives you the inventory list, not measurements. If you choose G-02 and a bone, then you get measurements. Or if you choose only a bone or Individual Number you get a mea

[2019-04-12 19:02] jjlynch2 opened #427 "Time zone differences"
The last logon time and activity feed under 'My Profile' is different than the localization time zone selected. For example, "2019-04-12 06:51:39 PM" is listed when it should have been "2019-04-12 01:51:39 PM".

Is this a bug or is there a different global time zone for CoRA? The time zone currently being displayed is not in the US.
Perhaps it is worth providing which time zone is being used?
Are

[2019-04-12 19:10] jjlynch2 commented on #427
Also, various different screens switch between 12- and 24-hour time. I think this should be standardized to just one.

[2019-04-18 19:09] fedamann commented on #243
@fedamann call AFDIL ET and figure out what the best way to record this data.

[2019-04-18 21:54] veronicak7 opened #428 "Zones and Completeness"
During the STARLIMS discussion, today an issue came up about the business rules around selecting whether a zone is present or not. If at least 50% of a zone is present, we would mark the zone as present.

The problem arises when we want to mark a bone as "Incomplete", but also mark all zones as present. The system automatically changes the Completeness back to "Complete" if all zones are present.

[2019-04-18 22:05] kristengrow opened #429 "No ability to edit DNA sample number"
Currently, analyst do not have the ability to edit the DNA sample number under the DNA profile tab once it has already been entered. I noticed this when I entered the wrong DNA sample number for an element and tried to change it. Thank you!

[2019-04-18 22:14] clegarde commented on #429
Only project leads or higher can make changes to DNA sample numbers. I believe only delete. But then the analyst can add new.

[2019-04-18 22:42] kristengrow commented on #429
Sounds good. Thanks!

[2019-04-18 22:42] kristengrow commented on #429
Sounds good. Thanks!

[2019-04-18 22:42] #429 closed

[2019-04-18 22:49] SachinPawaskarUNO commented on #429
@clegarde Thank you for jumping in and providing the workflow. This is related to #354

[2019-04-19 01:14] mattcgo opened #430 "Numericals ordered by first digit and not whole number"
Hello,
Thanks for all your work on improving CoRA. Would you be able to organize element designators by the whole number as 1, 2, 3, 4... Currently, they organize themselves by the first digit as 1, 10, 11, 12, 2, 3, 4...
<img width="892" alt="Screen Shot 2019-04-18 at 3 11 47 PM" src="https://user-images.githubusercontent.com/49535698/56399898-81d66b80-61ec-11e9-9f9f-87450e5683d5.png">
Thank you!

[2019-04-19 01:20] mattcgo opened #431 "Old CIL Sample Letter Text Box"
Hello,
Thanks for all your work to improve CoRA! Would it be possible to have all the options fillable when adding an element instead of needing to edit after adding? It takes a lot of time to have to Add then Edit instead of filling out all the information when Adding. This is also true for adding a DNA profile. It would save time if we could fill in all DNA information during "Create DNA" instea

[2019-04-19 01:25] mattcgo opened #432 "Old CIL Sample Letters Box"
Hello,
Thanks for all your work on improving CoRA! Would you be able to add a textbox to input the old CIL DNA sampling format? JPAC used to use letters (CIL Sample A) instead of numbers (CIL Sample 01A) when DNA sampling and we need to use the original sample name when revisiting these old cases. There is currently no space where we can put this in. It would need to be an optional instead of mand

[2019-04-19 01:36] clegarde commented on #432
Are you not able to put in just A? You should be able to put in your sample number whether it’s just a letter or number/alphanumeric.

[2019-04-19 01:41] mattcgo commented on #432
We would like to capture both AFDIL's 01A and JPAC's A for the DNA record.

[2019-04-19 01:52] clegarde commented on #432
Ah yes. I know what you’re talking now.

[2019-04-19 02:00] mattcgo opened #433 "Identification Number assigned to all in Specimen Group"
Hello,
Thank you for all your work on improving CoRA! Would it be possible to add additional information to all elements in one group at the get go such as Individual Number? This would save time instead of the current system of having to edit every single element after a bone group is created.
<img width="887" alt="Screen Shot 2019-04-18 at 4 00 01 PM" src="https://user-images.githubusercontent.c

[2019-04-19 02:50] fedamann commented on #430
@mattcgo thank you for your comment and question. The KEY field is a concatenation of Accession+P1+P2+Element Designator, and works as the Primary Key for all specimens entered.  In order to allow flexibility in how projects want to use P1 and P2 this field must stay an alphanumeric, which is why I believe it sorts the way it does. One possible solution to consider is to use leading zeros for the

[2019-04-19 02:59] fedamann commented on #428
@SachinPawaskarUNO let's discuss.  Selecting Complete to then auto populate all zones is good.  But we can see a need for Incomplete with all zones also being present, which indicates a bone with over 50% of each zone present but the sum of zones per specimen is less than 100% complete, hence "Incomplete"

[2019-04-19 03:05] SachinPawaskarUNO commented on #428
@fedamann Thanks for chiming in, I was aware of this since the last trip and already have a plan on how to address this. We can discuss this next time we have CoRA SCRUM or I visit DPAA Omaha.

[2019-04-19 03:17] fedamann commented on #432
Thankfully CIL finally dropped the letter designator in favor of the AFDIL number; a nightmare always trying to sync up the two different sample names.  I understand why we would  keep track of both then, but I do wonder with this new tool if it is still necessary?  I ask because I remember tracking both to make sure 01B matched A.1 and both were tied to the same specimen. Now with the relational

[2019-04-19 14:19] jjlynch2 opened #434 "Disclosure Bug"
There are still issues with user information being returned from javascript code. I imagine this is limited to organizational managers and admins within a users assigned project, but it seems a bit concerning for an IP address to be returned. Particularly if people are logging in from their home networks and computers.

![disclosure](https://user-images.githubusercontent.com/19896750/56428015-8c90

[2019-04-19 14:37] SachinPawaskarUNO commented on #434
@jjlynch2 @fedamann This is displayed for the user that is currently logged in. In this case it is showing you your IP address. Please note that this information is available one every request you do on the internet, even when you do a simple google search, not just CoRA.

![image](https://user-images.githubusercontent.com/19599773/56428804-543e0080-6286-11e9-983d-934d7ffb57a5.png)

[2019-04-19 14:39] jjlynch2 commented on #434
This isn't limited to my user IP address. I was able to pull up a few others and verified that it was a cox cable IP address different than my own.

[2019-04-19 14:41] SachinPawaskarUNO commented on #434
@jjlynch2 @fedamann Not clear from your first/initial description, Can you give me all the step?

[2019-04-19 14:42] jjlynch2 commented on #434
@SachinPawaskarUNO I will get @fedamann to login from his cell phone so we can recreate the steps with a different IP.

[2019-04-19 14:44] SachinPawaskarUNO commented on #434
@jjlynch2 I'm first interested in understanding the steps you took to identify/create the issue.

[2019-04-19 14:47] jjlynch2 commented on #434
@SachinPawaskarUNO It's occurring when looking at the dynamic scripts that are created when loading my user dashboard page.

[2019-04-19 15:15] jjlynch2 commented on #434
@SachinPawaskarUNO Here is another image showing what my last logon IP is versus what is being returned. I believe the IP address shown (which is from DPAA network) comes from @clegarde user information. Notice that the login count is also different.

![IP](https://user-images.githubusercontent.com/19896750/56430389-d7ae2080-628b-11e9-9abf-03f9b481f9c4.jpg)

[2019-04-19 17:05] emilystreetman opened #435 "Measurements report search can be run without mandatory fields"
Related to ticket #412

I attempted to run a search with the following paramters: Specimens >Reports>Measurements Report>Provenance 1>G-02. Such a search should not be possible based on the mandatory indicator for "bone" OR "individual #" (both of which I left blank.) The search criteria returned "results" but no measurements. See attached screenshot.

![image](https://user-images.githubuserconten

[2019-04-19 21:36] mattcgo commented on #432
I believe it is good to have a record of the sample letter we originally use, primarily because it is the same number we will use if we resample. If the direction is to move all of our various spreadsheets into CoRA, it would be good to have the option to include the old letter.

[2019-04-19 21:39] mattcgo commented on #430
This is a very small issue that doesn't necessarily need resolution to optimize outcomes. I am against using leading zeros because KWIP CHR Reports do not use them and I would like to reflect what is in the report and what is in CoRA as identical as possible.

[2019-04-20 10:04] SachinPawaskarUNO commented on #434
@jjlynch2 @fedamann I think I understand the issue now, it is pulling information for the project manager associated with a given project. Will work on resolution.

[2019-04-22 18:25] mattcgo opened #436 "MCC Date blacked out when DNA results inconclusive"
Hello,
Thank you for all your work on improving CoRA! I'd like to point out that the MCC Date field when adding an inconclusive DNA result is blacked out. It may be beneficial to have the date attached to the inconclusive result in the event retesting is done in the future. That way, we know how long ago or outdated the inconclusivity is.
<img width="866" alt="Screen Shot 2019-04-22 at 8 20 19 AM"

[2019-04-22 18:42] clegarde commented on #436
Hi Matt - the results date for the DNA sample is recorded in the field just above "Inconclusive." I believe that field should be sufficient since that ties more closely to the reporting of the data?

[2019-04-22 18:46] clegarde opened #437 "Add "Results Date" to mtDNA report"
@SachinPawaskarUNO , can we add the "Results Date" as a column for the output of the mtDNA Report? This would be helpful to have.

![image](https://user-images.githubusercontent.com/7350474/56518404-fb2fd000-6504-11e9-8ca1-947e48b79f94.png)

[2019-04-22 19:29] mattcgo commented on #436
Thank you Dr. LeGarde, you are right that I should just use the Receive Date. Apologies for not noticing it. I was trying to be consistent with how I entered information from all the other samples.

[2019-04-23 11:12] fedamann commented on #436
Thank you @mattcgo and @clegarde for the feedback. I'm closing this ticket.

[2019-04-23 11:12] #436 closed

[2019-04-23 11:29] fedamann commented on #433
@mattcgo Cora is developed for real time data entry at the bench of new casework, which is why the click through is designed the way it is.  Based on your comments I see you are loading a bunch of older data from the k208 db or spreadsheets. How many records are you loading? We can consider the creation of a form view for loading "legacy" data.

[2019-04-23 11:31] fedamann commented on #431
@mattcgo see comment for #433.  @SachinPawaskarUNO let's discuss a legacy load option through a form view.

[2019-04-23 17:25] nmcelroy commented on #437
@clegarde would this be the mito receive date, austr receive date etc?

[2019-04-23 17:52] veronicak7 commented on #431
@fedamann @SachinPawaskarUNO
I just sent @mattcgo the template I received from Sachin last August. He is going to enter some accessions in the spreadsheet to test whether it is faster to create the spreadsheet than to just enter directly into CoRA. If the excel sheet ends up being the way to go, we will forward it to you and Sachin to load into CoRA.

[2019-04-23 17:54] veronicak7 commented on #433
@fedamann - since the K208 data does not exist in spreadsheet form, we will try entering through the excel template @SachinPawaskarUNO sent and see if that is faster. K208 will consist of many records (possibly thousands). We will also eventually be entering elements from Punchbowl cases, which will be a similar situation to the K208 data (backloading records).

[2019-04-23 21:59] clegarde commented on #243
Here is haplogroup data that the USS OK project has received from AFDIL. Other projects that have additional Hg data can add to this spreadsheet and re-post, if possible. Thanks! @TarawaProject @CTegtmeyer @kristengrow @Megyesimm @skorps @mei215
[HaplogroupData.xlsx](https://github.com/spawaskar-cora/cora-docs/files/3109759/HaplogroupData.xlsx)

[2019-04-23 22:06] clegarde commented on #437
Yes! Sorry about that. @nmcelroy

[2019-04-23 23:09] mattcgo commented on #431
Hi @SachinPawaskarUNO , I filled in the spreadsheet you previously sent @veronicak7 with 55 entries across two accessions. Would you like to test if the information uploads correctly into CoRA from the spreadsheet? Also, is having a spreadsheet with the "Add Specimen" fields and the "Add DNA" fields an option too? If I could fill out a spreadsheet with both the specimen info and DNA info, it would

[2019-04-23 23:12] mattcgo opened #438 "Unsuccessfully adding or editing specimens"
Hello,
I have been unsuccessful in adding or editing specimens. We've tried it across two accounts on two different computers and the problem is consistent. I was trying to edit Designator 503 in Accession 2019-134 and failing, but editing Designator 1 was being successful. I was also unsuccessful in adding new specimens or specimen groups. It was working earlier today but hasn't been since.
Thank

[2019-04-24 01:24] SachinPawaskarUNO commented on #438
@mattcgo, @fedamann The logs suggest that you first tried to add/insert the following records with the Composite Key of as shown below.
2019-134,AGRS,ROK,503
2019-134,AGRS,ROK,504
2019-134,AGRS,ROK,509
2019-134,AGRS,ROK,513
These failed because Specimen records with these as Composite Key already exist.

TheI recommended workflow is to first delete the Specimen record that you made the error on an

[2019-04-24 01:36] SachinPawaskarUNO commented on #438
@mattcgo, @fedamann One more things I forgot to mention is that authorization level to delete records (in this case Specimen) is available to the project lead and org Admins.

[2019-04-24 04:27] SachinPawaskarUNO commented on #243
@clegarde Thank you for getting this started. Just to clarify that this data is for Mito Haplogroup. There will be a separate dataset/excel file for Y-Haplogroup, correct?

[2019-04-24 04:39] fedamann commented on #438
@veronicak7 is authorized to delete records for KWP

[2019-04-24 12:10] clegarde commented on #243
Yes, this is mito. Anyone with Y Hg data can just add a separate tab to the spreadsheet (or upload a separate) with the same format. I forgot to add that. USS OK doesn't have any Y Hg data.

[2019-04-24 16:38] veronicak7 commented on #438
Got it, thank you for the clarification!

[2019-04-24 16:45] veronicak7 commented on #414
I have another suggestion related to the accession search - is it possible to make it a field that we can type the accession number (full or partial) in to initiate the search? The drop down box is becoming unwieldy for the KWIP, as we add accessions that will eventually number in the hundreds.

[2019-04-24 17:30] Megyesimm commented on #408
Great, but what I still need is way to see the following information quickly:
1) What Common Graves are there?  (i.e. do we have CG 703?)
2) What accessions are in each CG?  (i.e. What CG is CIL 2018-042 in?  What accessions are in CG 215?)

[2019-04-24 18:13] veronicak7 opened #439 "Add "Teeth" specimen with "count" field"
In situations where we have numerous unassociated teeth in an accession, we would like to have the ability to note the number of teeth present without having a separate record for each tooth. For example, in a JRO accession with numerous loose/unassociated teeth, not individually numbered and no DNA potential (as determined by an odontologist), it would be helpful to be able to enter "Teeth" and a

[2019-04-24 18:52] Megyesimm commented on #243
Do you want us to just add them to the list, or attempt to incorporate them into the beautiful order that USS OK has provided? (i.e alphabetical order)   Also: a few of my Haplogroups are already captured in this list.

[2019-04-24 21:09] SachinPawaskarUNO commented on #243
@Megyesimm Good question. No need for it to be in alphabetical order, just get all your Haplogroups in there. The CoRA system will take care of ordering them. Please do not add duplicates.

[2019-04-24 23:01] btrnew commented on #243
Here are the haplogroup data for Tarawa. All duplicates have been avoided and unique haplogroups have been added to Carrie's list.
[CoRAHaplogroupData.xlsx](https://github.com/spawaskar-cora/cora-docs/files/3114461/CoRAHaplogroupData.xlsx)

[2019-04-25 00:07] btrnew commented on #243
@Megyesimm couldn't attach her updated spreadsheet for some reason, so she emailed it to me. This version has all of the Tarawa and Cab haplogroups added

[CoRAHaplogroupData1.xlsx](https://github.com/spawaskar-cora/cora-docs/files/3114608/CoRAHaplogroupData1.xlsx)

[2019-04-25 17:27] mattcgo commented on #438
@SachinPawaskarUNO thank you for looking into this. However, if I look at the actual 2019-134 accession, I see there are only
2019-134,AGRS,ROK,1
2019-134,AGRS,ROK,2
2019-134,AGRS,ROK,500
2019-134,AGRS,ROK,501
2019-134,AGRS,ROK,502
2019-134,Namjong-gu,ROK,503

How can the composite keys for 504, 509, and 513 already exist? If they do, I cannot delete them on my end as I cannot see them. Also, I ha

[2019-04-25 18:07] SachinPawaskarUNO commented on #438
@mattcgo and @fedamann, Here is what the data is telling me. The following records exists for Accession Number/Provenance1/Provenance2: 2019-134, ARGS, ROK, All were created by you. Only one with designator 1 was last updated by @veronicak7. I'm also seeing that you deleted the records starting with designator 503 through 517. These were created as part of Maxillary Dentition bone group.

2019-134

[2019-04-25 19:00] mattcgo commented on #438
@SachinPawaskarUNO thank you. I started adding specimens into this accession again. I tried adding a bone group for the cervical vertebrae beginning with Designator 504, and it gave me a message that it was successfully started. However, it does not show up in the accession. I suspect this is related to our previous problem. Are you able to see on your backend that the specimens 504-510 were added

[2019-04-25 19:30] mattcgo commented on #438
Nevermind @SachinPawaskarUNO , I think there was a delay because the specimens showed up in the accession 20 minutes later.

[2019-04-25 19:46] SachinPawaskarUNO commented on #438
@mattcgo That makes sense, because when you create Specimens via Bone Groups, they are created via a queued job. Once the job in completed you will receive a notification.

[2019-04-25 21:56] mattcgo commented on #438
@SachinPawaskarUNO I've run into this problem again where I am able to successfully delete specimens (which I shouldn't be able to do?), but then cannot reuse the designator.
I deleted: 2019-099,AGRS,ROK,521,Rib 1 but I cannot put in 2019-099,AGRS,ROK,521,Sacrum.

[2019-04-25 23:36] SachinPawaskarUNO commented on #438
@mattcgo I have purged the record. So you should be able to add a new one.
@fedamann Can you check with Matt and see the reasons for these errors. I'm curious if there is something we can do to mitigate these data entry errors. We should also discuss the audit/purge process.

[2019-04-26 00:31] fedamann commented on #438
@mattcgo I'll call you tomorrow to discuss. Are these data entry errors resulting from the bone group inventory process that produces a record that duplicates some other in your legacy data sheet? Can send me the data sheet your working from or direct my attention to where it sits on the network.

[2019-04-26 00:35] fedamann commented on #433
@mattcgo the import function with the template xls is on the schedule to be developed, pushed to test and then production later this year.  We'll make sure to include the kwip data for development and testing.

[2019-04-26 01:13] mattcgo commented on #438
@fedamann @SachinPawaskarUNO I have talked to other KWIP analysts on the project here using CoRA. We now know that we are all experiencing the problem of deleting a specimen but not being able to reuse the designator. @fedamann There is no legacy data sheet for the K208. I have been manually writing down the elements from old CHR reports in the records room and the KMC.

I am attaching here a smal

[2019-04-26 04:08] fedamann commented on #438
@mattcgo this is very helpful, thank you!  And based on earlier comments I assume the numeric data in the Designator column is the exact specimen identifier pulled from the CHR reports per specimen?

[2019-04-26 19:22] mattcgo commented on #438
That is correct, but only if a CHR report was actually written. Some of the accessions predate CHR and therefore I assigned designators myself.

[2019-04-26 19:50] clegarde opened #440 "DNA profile -> results confidence change saves deleted data"
If data was entered into the mito sequence or other fields below "Results Confidence":
![image](https://user-images.githubusercontent.com/7350474/56832550-eec3b400-6831-11e9-9314-8ab1d1958714.png)

But it needs to be changed to "Inconclusive" or "Cancelled". When you delete the data and change the results confidence:
![image](https://user-images.githubusercontent.com/7350474/56832442-a73d2800-6831

[2019-04-29 18:58] mattcgo commented on #439
@SachinPawaskarUNO Thank you for adding the unnumbered "Tooth" option. May I also ask that we be able to articulate the unnumbered tooth option to a cranium or mandible? I have a case where the tooth was only identified as a maxillary tooth and not numbered, but it was articulated to the maxilla. I am unable to articulate the "Tooth" to the "Cranium" in CoRA.

[2019-04-29 21:36] dwilliams4 opened #441 "Profile Pic Error"
Minor problem. When I try to change the profile image I get an error page.

[2019-04-29 21:39] dwilliams4 opened #442 "Text box for Individual Number when creating New Bone Group"
Would it be possible to add a text box for individual number to be entered while creating a new bone group? This would allow the individual number to be applied to all elements within that bone group. Right now I have to go back and individually select each element in the bone group to add the individual number.

[2019-04-30 02:13] SachinPawaskarUNO opened #443 "Export Foundations"
Export Foundations

- [ ] Osteometric sorting

[2019-04-30 02:13] SachinPawaskarUNO opened #444 "Import Foundations"
Import Foundations

- [ ] Specimens
- [ ] DNA

[2019-04-30 02:14] SachinPawaskarUNO opened #445 "CoRA 1.0 - Open Community Release"
CoRA 1.0 - Open Community Release

[2019-04-30 02:15] SachinPawaskarUNO opened #446 "Isotope Module v1.0"
Isotope Module v1.0 - First Release

- [ ] Isotope Sample Screen
- [ ] Isotope Batch Module

[2019-04-30 02:16] SachinPawaskarUNO opened #447 "DNA Module Design"
DNA Module Design

- [ ] Mito Sequence
- [ ] YStr
- [ ] AuStr
- [ ] Haplogroup
- [ ] MCC Date

[2019-04-30 02:18] #43 closed

[2019-04-30 02:22] #44 closed

[2019-05-01 02:22] jdoman opened #448 "Search function stopped working"
Hi!
Today and yesterday I have lost the ability to search for anything from the home bar. I'm hitting (where I think the button should be - red arrow) and nothing is happening.
Editing to add: It is only when I'm trying to search by accession; I can still search by bone.

![cora prob](https://user-images.githubusercontent.com/39973849/57003665-0e294c80-6b64-11e9-8dd0-7f010728ccc8.png)

[2019-05-01 18:55] jdoman commented on #448
UPDATE: Devin also encountered this problem and we realized it is because we both went into our settings so that the default search was by 'Accession'.  Doing that kills the search button.

[2019-05-02 14:41] #445 closed

[2019-05-08 21:17] kristengrow opened #449 "Add HuMANid method for ancestry analysis"
HuMANid needed as a method under the biological profile module for ancestry analysis.

[2019-05-09 00:50] btrnew opened #450 "Add Provenance Info after element has been created"
When a skeletal element has already been created you cannot add new provenance info that isn't already in the drop down menu without deleting the entire entry.

![Cora 2](https://user-images.githubusercontent.com/43450732/57419934-8618f780-71a0-11e9-8831-e1a6d14f27ab.PNG)
![Cora 1](https://user-images.githubusercontent.com/43450732/57419935-8618f780-71a0-11e9-8ea5-32dc520cf4da.PNG)

[2019-05-09 00:52] btrnew commented on #450
To further clarify, if you receive new information on the provenance of an element (or forget to add something) after it has been created in CORA, but that provenance is not already shared by another element in CORA the system won't let you add anything new on the edit specimen screen.

[2019-05-09 18:43] skindsc1 opened #451 "Ability to generate a list of element measurements by DNA sequence"
I would like to be able to export a list of element measurements organized by DNA sequence number.

Right now my options for getting measurements are to look at the individual element's measurement page or to get a report for a certain type of element.

[2019-05-09 19:42] fedamann commented on #450
allow anthro to add P1 and P2 that is not in the Project Lead accessions mgmt. list.

[2019-05-09 22:15] clegarde commented on #184
Working on getting this method added - will provide the template for adding new methods. @fedamann

[2019-05-09 22:16] clegarde commented on #449
Closing. Related to #184

[2019-05-09 22:16] #449 closed

[2019-05-09 22:21] clegarde commented on #439
@SachinPawaskarUNO For skeletal element "Tooth" - need to add Count field.
"Tooth"
->articulates with Cranium, Maxilla, and Mandible

Need to add the following:
"Maxillary Tooth"
-> articulates with Cranium and Maxilla
-> include Count field

"Mandibular Tooth"
-> articulates with Mandible
-> include Count field

I believe this hits what everyone was looking for. @fedamann @veronicak7 @mattcgo

[2019-05-10 18:01] KMoss2019 opened #452 "Verts for CXR with clavicles"
Can the cervical and thoracic verts we send for CXR be given the same option as clavicles for  triage?  I noticed there was a  discussion on it being an option limited to only clavicles on June 23, 2018 post but that is not correct.  We sent C3 to T3 along with clavicles for CXR analysis.  It would be nice to correctly capture this inclusion. Thanks.

[2019-05-10 18:25] clegarde commented on #452
The clavicle triage was meant for the triage done for clavicles prior to cutting for DNA (i.e., clavicle xrays). Not a note about CXR analysis. I think that would be a separate thing.

[2019-05-10 18:34] KMoss2019 commented on #452
Can we make this then?  We note what goes to DNA so it would be good to note what is going to CXR and document when that was requested.  Thanks.

[2019-05-10 20:01] KMoss2019 opened #453 "Overview of articulations and pair-matching"
Is there, or can we create, an overview of the elements that have been pair-matched and articulated?  It would help us keep track of where we left off in data entry, what still needs to be done, and avoid wasting time individually clicking on each element to see if we have done all the notations needed (i.e. click on R femur to see if articulated with R os coxa, and R tibia, and pair-matched with

[2019-05-13 04:02] SachinPawaskarUNO commented on #447
This is a duplicate of Roadmap.

[2019-05-13 04:02] #447 closed

[2019-05-13 04:02] SachinPawaskarUNO commented on #446
This is a duplicate of Roadmap.

[2019-05-13 04:02] #446 closed

[2019-05-13 04:02] SachinPawaskarUNO commented on #444
This is a duplicate of Roadmap.

[2019-05-13 04:02] #444 closed

[2019-05-13 04:02] SachinPawaskarUNO commented on #443
This is a duplicate of Roadmap.

[2019-05-13 04:02] #443 closed

[2019-05-14 20:44] amysears1022 commented on #438
Hi @SachinPawaskarUNO and @fedamann

I have had the same issue in CoRA with a case I'm attempting to enter, 2019-051. I mistakenly created two bone groups, and had to delete the second bone group. As such, the designators 2019-051-AGRS-ROK-539 and up cannot currently be used. I understand that by me deleting those entires, I merely soft deleted the elements, however @veronicak7 attempted to go in

[2019-05-14 22:33] SachinPawaskarUNO commented on #438
@amysears1022 Can you tell me which two bone groups you created and which one needs to be deleted? I need the AN, P1, P2 and Designator ranges for each.

[2019-05-14 23:01] amysears1022 commented on #438
The bone group I wanted, a grouping of nine hand bones, which I have not deleted, is:
2019-051-AGRS-ROK-527
 2019-051-AGRS-ROK-528
2019-051-AGRS-ROK-529
2019-051-AGRS-ROK-530
2019-051-AGRS-ROK-531
2019-051-AGRS-ROK-532
2019-051-AGRS-ROK-533
2019-051-AGRS-ROK-534
2019-051-AGRS-ROK-535

The specimens I need deleted are:
2019-051-AGRS-ROK-539 and above (540, 541, 542, etc). I do not remember what the

[2019-05-14 23:35] SachinPawaskarUNO commented on #438
@amysears1022 I have force deleted the requested Specimen records. There were 17 records in all with 2019-051-AGRS-ROK and designators from 539 through 555. Let me know if that addressed your issue for now.

[2019-05-15 00:35] amysears1022 commented on #438
@SachinPawaskarUNO That worked, thanks!

[2019-05-22 20:39] aavorthmann commented on #243
[CoRAHaplogroupData1 - Edits.xlsx](https://github.com/spawaskar-cora/cora-docs/files/3209228/CoRAHaplogroupData1.-.Edits.xlsx)

I made a few notes regarding duplicates and an irregular ancestry listing. I have not added the noted haplogroups to the Seeder at this time.

@clegarde @Megyesimm

[2019-05-24 03:03] SachinPawaskarUNO opened #454 "Create new bone groups for Thorax, Pelvic Girdle and Vertebral Column"
Create new bone groups for the following, some with both left and right sided bones

- [ ] Thorax
- [ ] Pelvic Girdle
- [ ] Vertebral Column

[2019-05-24 03:09] SachinPawaskarUNO commented on #454
Attached spreadsheet for new bone groups provided @clegarde based on work done by @clegarde and @CTegtmeyer

[CoRA_Bone groupings_New.xlsx](https://github.com/spawaskar-cora/cora-docs/files/3214903/CoRA_Bone.groupings_New.xlsx)

[2019-05-24 13:26] clegarde opened #455 "Add "Pending" to "Results Confidence" Field"
Right now, there is no way to search for all pending DNA samples. Please add "Pending" to the "Results Confidence" field. Also, make this the default when adding a new DNA sample. @SachinPawaskarUNO

[2019-05-24 15:53] clegarde opened #456 "Bone list for MNI"
@SachinPawaskarUNO Here are the lists for MNI; one of bones to exclude (including the additional we discussed on the phone - hair, tissue, etc.), the other of bones to include.
[Bone list for MNI.xlsx](https://github.com/spawaskar-cora/cora-docs/files/3217673/Bone.list.for.MNI.xlsx)

[2019-05-24 15:55] clegarde commented on #451
Discussed in CoRA scrum - have this be an export, as well as measurements by Individual Number. @SachinPawaskarUNO

[2019-05-27 16:35] CTegtmeyer opened #457 "Tracking number of elements/DNA samples/Isotope samples entered"
I was wondering if there was a way to track the number the number of elements that an individual has entered into CoRA. The current method of doing so causes the system to crash if the user has entered more than 1000 or so elements into the database.

Likewise, is there a way to track how many DNA samples, and isotope samples a person has entered into CoRA?

I think for work tracking/work evaluati

[2019-05-30 18:42] btrnew opened #458 "Notification Descriptions"
Is there a way to make the notification descriptions for bone groups more informative? Perhaps to include the CIL Accession number, provenance information, and starting designator instead of "SpecimenGroupCreated…". As it is now, I have to click view all to figure out which notification is for which bone group and the notifications don't always register in the order that I create them.

![CoRANoti

[2019-05-30 19:16] btrnew opened #459 "Bone Group Editting"
Is there a way to edit/add things to entire bone groups after you have already created them?

One example would be adding taphonomy to the entire bone group after creating it or saying that this entire foot is a pair match to that entire foot. Currently, if I want to say that a foot pair matches with another foot (both created through the bone grouping mechanism) I have to go into each element ind

[2019-05-31 02:02] btrnew opened #460 "CoRA Cat: Multiple boxes for mito haplogroup"
Is it possible to make the Mito Haplo group section multiple boxes like the Match Count/Population Frequency section? When we receive information from AFDIL they don't always provide anything beyond the basic haplogroup (A, B, M, etc.) and scrolling through a giant list makes things a bit more difficult if all you need to input at this time is one letter.

It would be helpful if it allowed you to

[2019-05-31 03:45] clegarde commented on #460
Agreed. I thought we had discussed that the letter would be one and then the “subgroup” another?

[2019-05-31 04:16] SachinPawaskarUNO commented on #460
Why? If one letter is all that is provided it should still be in the master list, which should be maintained by the project leads/managers. Eventually I would like to see this list come from AFDIL.
Also note that the list is sortable, so just type the first Letter.
Maybe we should discuss this in our SCRUM meetings. I'm not convinced as yet.

[2019-05-31 13:07] clegarde commented on #460
If you’re not forced to choose a subgroup, then it should be fine.

[2019-05-31 19:03] btrnew commented on #459
Related to this would be adding an individual number to an entire bone group.

[2019-05-31 19:45] btrnew commented on #297
@emilystreetman @fedamann @skorps At some point, I'd like to revisit the sesamoid issue to figure out some way of associating a sesamoid with the hand/foot it from which it comes. Following current best practices I am creating foot bone groups and adding the sesamoids as separate elements, but there is no way to say that this sesamoid goes with this foot. So, we have inventoried bones that are flo

[2019-06-03 14:20] emilystreetman commented on #297
@btrnew excellent points. Agreed that no simple solution presents itself. I'll think further on this.

[2019-06-04 19:21] nyukyi opened #461 "CoRA Cat: Navigating through DNA tabs"
When I'm on the DNA page for an element and going through the different tabs (mito, auSTR, and Y-STR), if I want to edit something on the Y-STR tab and click on "Edit," it automatically takes me back to the "mito" tab by default.

![CoRA_CAT_DNATabs](https://user-images.githubusercontent.com/34749060/58907316-7fb06980-86d3-11e9-80c7-b85711b5ec6e.png)

![CoRA_CAT_DNATabs2](https://user-images.githu

[2019-06-04 19:32] nyukyi opened #462 "Ability to search multiple methods reports"
Currently, we can only search/generate one methods report at a time.  I was generating a methods (age) report for os coxae in the Oklahoma project to compare an os coxa that I had with an unfused iliac crest AND unfused ischial crest.  But I since I can only generate one method at a time, I have to generate two lists and find the ones that are on both lists.

![AgeMethods_MultipleFeatures](https:/

[2019-06-04 20:30] clegarde opened #463 "CoRA Cat: "Results Confidence" column not filling in after search"
I did DNA search -> Sample Number -> 1366A and received the following:
![image](https://user-images.githubusercontent.com/7350474/58911528-9f4c8f80-86dd-11e9-8350-a18e91098e58.png)

The "Results Confidence" is blank, but if you go to the element, that is filled in:
![image](https://user-images.githubusercontent.com/7350474/58911515-95c32780-86dd-11e9-8962-1bface505fd8.png)

[2019-06-04 20:35] clegarde commented on #463
Looks like this is now affecting the dashboard for DNA samples:
![image](https://user-images.githubusercontent.com/7350474/58911848-682aae00-86de-11e9-929c-85a07cf16bd6.png)

[2019-06-04 20:45] clegarde commented on #455
In CoRA Cat: having "Pending" as the default is not working since auSTR and Y-STR appear for each DNA sample, even if they haven't been requested. For the following sample, only mtDNA has been requested. The way this is set up in Prod, having this field default to Pending works because it's only for the type of DNA you requested, but it is not accurate for all three to default to Pending.
![image]

[2019-06-04 22:56] btrnew commented on #460
Some additional thoughts to consider for the CoRA scrum before I forget them:

One reason it would be helpful to have separate entry boxes is for the purpose of report generation. With the current entry format, is it possible for me to generate an mtDNA report that requests all M haplogroups regardless of subgroups (for example)? .

Also, and this may be a DPAA business rules thing, as an analyst

[2019-06-04 22:56] btrnew commented on #460
Some additional thoughts to consider for the CoRA scrum before I forget them:

One reason it would be helpful to have separate entry boxes is for the purpose of report generation. With the current entry format, is it possible for me to generate an mtDNA report that requests all M haplogroups regardless of subgroups (for example)? .

Also, and this may be a DPAA business rules thing, as an analyst

[2019-06-05 21:25] SachinPawaskarUNO commented on #463
@clegarde Please verify in CAT.

[2019-06-05 23:25] SachinPawaskarUNO commented on #455
@clegarde please verify in CAT.

[2019-06-06 14:48] clegarde commented on #455
GTG

[2019-06-06 14:48] #455 closed

[2019-06-06 14:52] clegarde commented on #463
GTG

[2019-06-06 14:52] #463 closed

[2019-06-07 05:01] SachinPawaskarUNO commented on #460
@btrnew Can you please send me a list of all Haplogroup Letters you want to see being made available in CoRA?
@clegarde, To begin with, I could use the letters from the existing list that you have already created.
Let me know your thoughts?

[2019-06-10 18:20] btrnew commented on #460
@SachinPawaskarUNO Here is a good link from one of the more widely used mtDNA research resources: https://www.phylotree.org/tree/index.htm

At this link you will see all of the various haplogroups we could possibly encounter and how they are related to one another. If you input all of the letters on the bottom row (ignore any astericks, just add the letter), as well as any of the letters under "in

[2019-06-10 18:57] CTegtmeyer opened #464 "Bone Groups Broken"
The Bone Group function appears to be broken in prod. Is anyone else having issues creating bone groups?

When I go to create bone groups (or at least hands), I get a "whoops looks like something went wrong" page.

[2019-06-10 22:53] CTegtmeyer commented on #464
It appears as though this issue resolved itself, however, I do not want to close the issue, as I do not know what cause the Bone Group Function to stop working temporarily, and then start working again. Is it something we can look into?

[2019-06-10 23:13] CTegtmeyer opened #465 "Refits list cleanup"
When choosing elements that refit with bones, the refits list doesn't make much sense. It pulls all fragments, whether they would actually refit with an element or not.

For example, when trying to refit my radius to its radial head, I was given options such as unidentified fragments and unidentified long bone, which made sense, but also unidentified vertebrae and unidentified cranium which did no

[2019-06-11 00:04] SachinPawaskarUNO commented on #464
@CTegtmeyer This issue was caused because Heroku/AWS upgraded their redis queue which is used to queue up our bone group jobs. I think we can close this issue.

![image](https://user-images.githubusercontent.com/19599773/59234458-6ff0c380-8bb2-11e9-8675-2ecf71dfddc2.png)

[2019-06-11 00:13] SachinPawaskarUNO commented on #465
@CTegtmeyer The original decision (@clegarde and @fedamann) with regards to refit was to list and make available all specimens of the same bone and all unidentified bones, because at that time it was the fastest way to get possible refits list generated.

However I see what you are saying and it makes sense to me, we can make that happen by creating a list similar to articulations that tells which

[2019-06-11 00:22] CTegtmeyer commented on #464
Sounds good. Will close.

[2019-06-11 00:22] #464 closed

[2019-06-11 19:20] CTegtmeyer commented on #465
I can work on this list. It may take me a while, but I will try to do it.

[2019-06-11 19:27] CTegtmeyer commented on #325
I wanted to bring this issue up again, because I am running into problems with this. Because the search is limited to 500 elements, if you search for an element that does not come up in the initial 500, it says the element does not exist within the accession, thereby basically preventing you from accessing the through a search by accession. This is an issue if you need to go back to an element to

[2019-06-11 19:33] SachinPawaskarUNO commented on #325
@CTegtmeyer I agree that this limit needs to be addressed. However I do not agree that this element cannot be accessed. There are other searches that you should be able to do that should give you a smaller subset than the current 500 limit, such as composite key, designator, etc.

[2019-06-11 20:50] Katie-East opened #466 "Not able to accept peer review comments"
This is a follow up to ticket #379

I am still unable to accept peer review comments for analyses I have done to an element that I did not initially inventory. Instead I am shown the peer reviewer screen where I can edit the peer reviewer's measurements.
![Peer review measurments](https://user-images.githubusercontent.com/46726506/59305634-3ffff980-8c60-11e9-9e1c-0006c7db9a79.PNG)

[2019-06-11 21:04] Katie-East opened #467 "Peer reviewer not correctly tracked"
Follow up to #379

The column for "Reviewed by" is not adequately reflecting who reviewed an element.
Specifically:
1.  @nyukyi reviewed all of the elements in this screenshot but is not listed for all of them.
2. I carried out the analysis on the mandible and was not the peer reviewer, but I am listed as such here.

![reviewed by issues](https://user-images.githubusercontent.com/46726506/59306616

[2019-06-11 21:05] SachinPawaskarUNO commented on #465
Thank you @CTegtmeyer, I would first focus on those bones that are most common/likely to have refits scenarios and then the rest. That way I can get design, tables and logic in place for verification/testing purposes.

[2019-06-11 21:06] Katie-East opened #468 "Reviewed check box not always visible"
Follow up to #379
The "Reviewed" check box is also still missing from many of the elements.
![review button](https://user-images.githubusercontent.com/46726506/59306835-c9b0c680-8c62-11e9-9437-1cea94b53295.PNG)

[2019-06-11 21:37] nyukyi opened #469 "Not able to reject peer reviewer comments"
In a case where the peer reviewer makes a comment (for example, the peer reviewer comments that an element is a left scapula, but then talks in person with the analyst and then they agree that it is a right scapula), the analyst is not able to "reject" said comment.  How does the analyst go about this issue, then?

[2019-06-17 20:56] CTegtmeyer opened #470 "CoRA Cat: Isotope page broken"
The isotope page is broken in CoRA Cat. It brings up an error message when trying to access it (see below):

![Capture](https://user-images.githubusercontent.com/36896992/59636128-73bea180-90ee-11e9-8469-d8d6cce2f04b.PNG)

I'm not sure if this is intentional because I am not an isotope analyst or not, but I am not sure how to build isotope samples for analysis otherwise.

[2019-06-17 22:08] SachinPawaskarUNO commented on #470
@CTegtmeyer Can you share be screenshot of screen prior to this, what link/menu/nav did you click on. A screenshot of that would be helpful? Seems like you are missing some privileges.

[2019-06-18 15:07] CTegtmeyer commented on #470
@SachinPawaskarUNO All I did was search for a random humerus and then click on isotope analysis. But I've gotten this page when creating a new bone and also clicking on the link from there too. There isn't really anything else to screenshot. This is the isotope analysis link from the drop down menu on the skeletal element page.

[2019-06-19 15:44] CTegtmeyer commented on #470
This issue has been resolved

[2019-06-19 15:44] #470 closed

[2019-06-25 21:08] IsotopeLesley opened #471 "Isotope Batch: Cleaning process - change begin and end dates"
The cleaning process for the preparation of an isotope batch should record two dates:

Begin Date
End Date

Begin date will coincide with the checkbox "Remove all visible signs of contamination using a rotary tool."

End date will coincide with the checkbox "Dry samples in oven. Remove cooled samples from tubes, weigh, and return."

The two date fields currently available for sample drying are not

[2019-06-25 21:11] IsotopeLesley opened #472 "Isotope Batch: Cleaning process - separate checkboxes needed for sonication step"
Please edit the single "Sonicate samples" checkbox to create four separate checkboxes:

Sonicate samples for 20 min each in:
*dH2O
*dH2O (again)
*95% ethanol
*100% ethanol
<img width="1281" alt="60122513-0e3b6800-9721-11e9-9859-e9d4c67a60aa" src="https://user-images.githubusercontent.com/49920512/60133812-dee52500-9739-11e9-841b-ed40148cd19d.png">

[2019-06-25 21:13] IsotopeLesley opened #473 "Isotope Batch: Cleaning process - validate sample weights before demineralization"
Please validate that all samples within the batch have a "cleaned" weight prior to starting the demineralizing process.

If a sample is lost or irrevocably damaged during cleaning, the cleaned weight field may hold a processing note. It should not be left blank, however.

[2019-06-25 21:14] IsotopeLesley opened #474 "Isotope Module: Batches - material type should be indicated"
Please rename or label the current pages/processes to indicate that COLLAGEN is being prepared. These include: Cleaning, Demineralizing, Removing Humic Acid, Solubilizing, and Freeze-Drying.

Sample preparation for isotope testing can (at present) focus on extraction of either collagen or bioapatite from bone. The current Isotope Batch fields record information collected during preparation of coll

[2019-06-25 21:16] IsotopeLesley opened #475 "Isotope Batch: Sample information - remove extraneous fields"
The sample information page that is available once a sample is placed into a batch contains several extraneous fields. Only those fields that will be completed during sample preparation should be available:

Lab
Isotope sample
Batch
Results status
Cleaned sample weight
Vial + lid weight
Sample + vial + lid weight
Collagen weight
Collagen yield

Collagen yield is the final test result for preparati

[2019-07-08 15:33] CTegtmeyer opened #476 "Starlims exhibit number on DNA page"
Would it be possible to include a field for the Starlims exhibit number on the DNA page? All 2019 accessions are supposed to be submitted for DNA through Starlims, and with talking to Traci here in Hawaii, after nominating our first 2019 field accession, she thinks it might be easier for us (and her) to keep track of what elements are nominated and what numbers they are if we can associated the ex

[2019-07-09 01:22] fedamann commented on #476
If the specimens are entered in SL and then routed to DNA for recording and sampling then they have a sample designator .  Why would you not use the sub-exhibit sample number from SL as the sample designator in CoRA?

[2019-07-09 01:50] clegarde commented on #476
@fedamann, just to clarify - Are you saying the "DNA Sample" in CoRA should be the sub-exhibit number? Or the specimen should be given the sub-exhibit number as it's designator in CoRA, then the sample number can be 01A, 02A, etc? If we're looking ahead at doing the latter, we need to change the designator field to allow for decimal (ex: 2.11). Currently it will only allow a whole number. A minor

[2019-07-09 20:28] IsotopeLesley commented on #473
Validation still needed as it's possible to move from the cleaning process to the demineralizing process without entering any sample weights (Weight Sample Cleaned field).

[2019-07-09 20:35] IsotopeLesley opened #477 "Isotope Batch: Cleaning process - table interface for entering sample weights"
The current interface for entering data about an individual sample is difficult to navigate. A table showing all samples would be better interface, so that (for example) Cleaned Sample Weight could be entered for each sample within a batch one after the other, in sequence.  This table could be opened by clicking a "Enter Weights" button (or similar) BEFORE moving to the Demineralizing process.

In

[2019-07-09 20:49] IsotopeLesley opened #478 "Isotope Batch: Cleaning process - updates to View Isotope fields"
See attached screenshot for details. Several updates needed to "View Isotope" layout:

- Update header to "Sample Information" or similar. (This interface would work better as a table listing all samples within the batch, not a per-sample interface; see previous ticket.)

- Weights (in g) should be recorded to the 3rd decimal place.

- Weight fields need to be completed in sequence, so it's not po

[2019-07-09 21:01] IsotopeLesley opened #479 "Isotope Batch: Demineralizing process - record separate end dates"
End date of demineralization will vary sample-to-sample and needs to be recorded separately for EACH sample. As noted previously (ticket #477), a table interface would make it easier to enter per-sample information.

Please remove ALL pop up checkboxes and make all steps viewable at the start of a process.

Checkbox for rinsing samples is not needed as each sample is rinsed on the end date of demi

[2019-07-09 21:11] IsotopeLesley opened #480 "Isotope Batch: Removing Humic Acid process - too many checkboxes"
Sample rinses take place within one day and each rinse takes only a few minutes. There is too much information currently recorded for rinses.

Instead, record a single rinse date (one field) and then include 5 simple checkboxes to record that each rinse was completed:

- Rinse 1
- Rinse 2
- Rinse 3
- Rinse 4
- Rinse 5

See attached screenshot for details.

<img width="1277" alt="Humic Acid process

[2019-07-09 21:26] IsotopeLesley opened #481 "Isotope Batch: Solubilizing process - additional checkboxes needed"
Add new checkbox for weighing cleaned vials and lids. Adding an "ENTER WEIGHTS" button or similar to open a table interface would be helpful; see ticket #477. Validation is need to ensure weights are entered before proceeding.

Replace field Number of Acid-Heat treatments with a list of treatments (1-10) that can be selected day-by-date to indicate the total number of treatments needed for a parti

[2019-07-10 04:09] fedamann commented on #476
I'm in favor of simple. Make the Cora DNA sample number the same as the actual sub-exhibit number of the DNA sample. Doing so would move us away from 01A, 02B, etc.

[2019-07-11 03:54] IsotopeLesley opened #482 "Isotope Batch: Collagen Yield process - locking mechanism needed"
As noted previously (ticket #477), a table interface and button to navigate to the table would make entering weights easier.

Recorded weights and calculated collagen weights need to show 3 decimal places.

Once the final weight fields are filled and the collagen weight and collagen yield are calculated, the batch is complete and the results need to be locked. Add a button or process to lock the b

[2019-07-11 04:04] IsotopeLesley opened #483 "Isotope Module: Reports - different reports needed"
Once a batch of samples has completed the entire collagen preparation process, two reports are needed:

1. A summary worksheet showing the dates of tasks completed and all notes taken throughout the preparation process.
2. A list of the samples included in the batch, with final weights and collagen yields.

Both reports need to indicate the analyst(s) that worked on the batch and should be electro

[2019-07-15 21:22] btrnew opened #484 "Tooth Bone Group Bug"
The Tarawa project uses designators beginning with 0 for dentition. When I attempt to make a bone group with a designator that begins with a "0" the program ignores them and just creates a series of numbers (see picture for example). I am able to go back into each element and edit the designator to have the correct number of zeros, but it would be better if the bone group created the series follow

[2019-07-16 19:06] btrnew opened #485 "Bone Group Numbering Error"
When attempting to create a bone group with designators that are sandwiched between already existing designators I receive an error that says that the accession/provenance/designator combination already exists. I have encountered this error a couple times and each time I have had to delete the element with the highest designator, create the bone group, and recreate the element I deleted. I have ma

[2019-07-16 19:09] btrnew commented on #485
Here is a screenshot of the successful bone group with 5011 and 5012 deleted, showing that the designators from my bone group wouldn't have overlapped those numbers.

![CoRA Bone Group Error_2](https://user-images.githubusercontent.com/43450732/61322451-68bc6700-a7a9-11e9-9416-8b7bb5c67521.PNG)

[2019-07-16 21:00] jjlynch2 opened #486 "Search by Association"
After discussing with @clegarde, we think an ability to search by association would be very useful. This could be further extended to filter the results by various attributes (element type, etc). An example would be returning a list of all humeri in the Oklahoma project that have pair matches listed.

Perhaps this could also be implemented as a report?

[2019-07-16 22:30] clegarde commented on #485
I believe this was an issue that came up earlier with bone groupings, and it was something about a buffer of one in the system surrounding groupings, @SachinPawaskarUNO? I'm not sure if there was a resolution, but I do know this came up...

[2019-07-25 15:58] mei215 opened #487 "Chain of Custody Report"
Is it possible to produce a type of Chain of Custody Report by element? Essentially who has created or modified a element since it was added to CORA, by date and time? This feature would be especially helpful for CHR projects before elements are added in LIMS for the FAR.

[2019-07-26 20:17] btrnew opened #488 "Composite Key Search Confusion"
Hi! Maybe this is a me problem, but I foresee it being confusing for others in the future as well (if it hasn't already happened). I was experiencing an issue that @CTegtmeyer has brought up before where we have accessions and provenances with greater than 500 entries. Once created, I was struggling to pull up elements using just the accession or provenance, so I tried using the composite key sear