[2017-11-17 02:38] SachinPawaskarUNO opened #1 "Create CoRA Documentation Team"
Create CoRA Documentation Team

[2017-11-17 02:38] SachinPawaskarUNO opened #2 "Setup Franklin as Administrator for CoRA Documentation Team"
Setup Franklin as Administrator for CoRA Documentation Team

[2017-11-17 02:38] SachinPawaskarUNO opened #3 "Create Initial Documentation Commit"
Create Initial Documentation Commit

[2017-11-17 02:46] SachinPawaskarUNO commented on #1
Initial commit completed earlier, ready for CoRA community to engage.

[2017-11-17 02:46] #1 closed

[2017-11-17 02:48] SachinPawaskarUNO commented on #3
Initial commit completed earlier, ready for CoRA community to engage.

[2017-11-17 02:48] #3 closed

[2017-11-17 02:51] SachinPawaskarUNO commented on #2
@fedamann, you are now the Administrator of the CoRA-Docs repository.

[2017-11-17 02:51] #2 closed

[2017-11-17 20:14] fedamann opened #4 "Welcome text for CoRA"
This is the intro text for the welcome splash page

[2017-11-17 21:22] fedamann commented on #4
test

[2017-11-23 03:40] SachinPawaskarUNO opened #6 "Clarification on SE Completeness values"
@fedamann; When I was putting some constraints on the database I encountered as issue. I remember that we had decided to have the following values for SE completeness {Complete, Incomplete, Partial, Fragmented, N/A}, but I'm seeing that the data contains "Mostly Complete". We need to discuss this and see if we need to add this or stick with what we had originally decided.

[2017-11-23 23:25] SachinPawaskarUNO opened #7 "Update Methods table to identify which methods use feature scoring and what are the score values"
Update method_features table that use feature scoring with corresponding display_values.
Are these score values method specific or method_feature specific?
@fedamann, This is needed for score selection/dropdown instead of free-form text.

[2017-11-27 19:04] fedamann opened #8 "New accounts CoRA web application"
Two new user accounts for CoRA-Cat web application (see prior email string)

[2017-11-28 03:01] fedamann commented on #6
@SachinPawaskarUNO the list of options {Complete, Incomplete, Partial, Fragmented, N/A} is still a bit of a problem because it isn't mutually exclusive. A SE can be Complete and Fragmented.  There really should only be two options: Complete and Partial with fragmented being an attribute for some other obj or just deleted.

[2017-12-13 15:59] SachinPawaskarUNO opened #9 "Roll over help capability on the measurements screen"
We would like to have roll over help capability for measurement help.
![image](https://user-images.githubusercontent.com/19599773/33948343-3e6483d8-dfec-11e7-839d-191873614a37.png)

[2017-12-13 16:04] SachinPawaskarUNO commented on #9
I think this would be very useful to us also.

[2018-01-03 15:18] skindsc1 opened #13 "Capability to sort/search for elements by age"
For example, if I have a left clavicle that has been given a McKern and Stewart stage of 0, I want to find all right clavicles that have also been given a stage of 0.  Currently I can find all the right clavicles but there is no indication of whether an age has been provided and I cannot open a specific bone from the list of results.

[2018-01-03 21:50] fedamann opened #15 "Inventory Zones auto complete when complete"
@SachinPawaskarUNO if SE is marked as Complete, then all zones for that particular SE should populate as present.

[2018-01-03 21:54] fedamann opened #16 "Zones guide with descriptions"
@emilystreetman markdown descriptions for Zone method of skeletal inventory by element.

[2018-01-03 21:58] fedamann opened #17 "Measurement images"
Prepare images to supplement measurement guide

[2018-01-03 22:01] fedamann opened #18 "Link measurement standards table to CoRA Docs"
@SachinPawaskarUNO @clegarde @jjlynch2  Link Jeff's measurement standards table (https://osteocoder.com/projects/measurement-standards/) to CoRA Docs measurement documentation.

[2018-01-05 20:22] skindsc1 commented on #13
Just had a very productive discussion with @SachinPawaskarUNO and he showed me how to step by step recreate the issue
![image](https://user-images.githubusercontent.com/21186879/34626833-dfd26a3e-f223-11e7-8133-b85fe8fbbaeb.png)

[2018-01-05 20:53] mei215 opened #20 "Articulation Drop Down Should Only Bring Up Appropriate Side Elements"
Articulation Drop Down Should Only Bring Up Appropriate Side Elements: Example Left Humerus is what I was working with. I should only see left or unsided scapulae, radii, and ulnae in the drop down.
![image](https://user-images.githubusercontent.com/33871387/34627835-c5c7ed86-f227-11e7-93f7-5dc691be8090.png)

[2018-01-05 20:55] mei215 commented on #20
Discovered this with @SachinPawaskarUNO

[2018-01-05 22:17] mei215 opened #21 "Provenance 2: Should be able to be left blank"
Unlike the Oklahoma project that has additional "Group" information, the Ploesti (Tidal Wave) project--and possibly other disinterment projects--have only an accession number (e.g., CIL 2017-310), Provenance One (e.g., X-8170) and a Designator (e.g., 601). I have nothing to add to Provenance Two. However, without the Provenance Two field completed, CoRA will not allow me to save.
![image](https://

[2018-01-05 22:28] mei215 commented on #21
Following discussion with @SachinPawaskarUNO, we decided both Provenance sections should be able to be left blank.

[2018-01-05 22:34] mei215 opened #22 "Removal of "N/A" as a siding option"
Following discussion with @SachinPawaskarUNO and @fedamann, "N/A" should be removed as an option for siding an element as "unsided" is already an option.

![image](https://user-images.githubusercontent.com/33871387/34631382-b46dad60-f235-11e7-8788-060b28b0e651.png)

[2018-01-05 22:40] mei215 opened #23 "Options in the "Completeness" drop down should be limited to Complete and Incomplete"
Following discussion with @SachinPawaskarUNO and @fedamann, options in the "Completeness" drop down should be limited to Complete and Incomplete. "Partial," "N/A," and "Fragmented" can be removed.

![image](https://user-images.githubusercontent.com/33871387/34631594-aec218dc-f236-11e7-95e2-671aae335a65.png)

[2018-01-10 16:54] SachinPawaskarUNO opened #25 "Provenance 1 should not be a required field"
Provenance 1 should not be a required field. This happens when I'm trying to add a new SE. See screen shot below.

![image](https://user-images.githubusercontent.com/19599773/34784673-8e516f82-f5f4-11e7-8990-fbc4372e063e.png)

[2018-01-10 16:59] SachinPawaskarUNO commented on #25
Hey @mei215, I think this is also an issue with the Provenance 1 field and I think this is related to the issue you created from Provenance 2 #21

[2018-01-10 17:37] SachinPawaskarUNO commented on #22
As per @fedamann N/A are for non diagnostic fragments associated with an accession as opposed to a paired element that is unsided. This will be documented appropriately by @clegarde when she creates the fields and allowable values glossary.
We are not removing N/A.

[2018-01-10 18:31] mei215 opened #27 ""Refit" Should be Added as an Associations Option"
In addition to the "Pair match" and "Articulation" options provided for Associations, "Refit" should be added as a third option to associate portions of fragmented elements scattered throughout multiple accessions that can be reconstructed. @SachinPawaskarUNO  @fedamann

![image](https://user-images.githubusercontent.com/33871387/34788695-0171116e-f601-11e7-894a-db1dd9349610.png)

[2018-01-10 19:51] skindsc1 opened #28 "Capability to sort/search by zone"
Currently we are unable to sort or search by bone and by zone.  i.e., I want to find all humeri for which only zone 1 is present.

![image](https://user-images.githubusercontent.com/21186879/34792354-5fa6766e-f60d-11e7-8727-ce31fd352b36.png)

[2018-01-10 19:56] skindsc1 opened #29 "Standard vs advanced reports"
Choosing the "Advanced Report" option leads you to this page (labeled "Standard Report"):

![image](https://user-images.githubusercontent.com/21186879/34792491-c84e0a6a-f60d-11e7-937a-98c29c5950ed.png)

Choosing the "Standard Report" option leads you to a page that appears to be more advanced:

![image](https://user-images.githubusercontent.com/21186879/34792545-fca4e8ce-f60d-11e7-8dfc-6a3972a95e4

[2018-01-11 01:19] SachinPawaskarUNO opened #30 "Automatically mark all zones as present if bone is Complete"
Automatically mark all zones as present if bone is Complete. If Bone is then marked as InComplete then designate the associated zones as not present. The user will have to go to the "Zonal Classification" screen to mark the presence of zones.

[2018-01-11 01:42] #30 closed

[2018-01-14 22:13] SachinPawaskarUNO opened #32 "fix issues with measurement standards links"
fix issues with measurement standards links

[2018-01-14 22:17] SachinPawaskarUNO commented on #32
@clegarde, I have fixed this issue for you via commit [6d3999c](https://github.com/spawaskar-cora/cora-docs/commit/6d3999ced2f4e2f9a74b3b93d9de5600b7810cea)

[2018-01-14 22:17] #32 closed

[2018-01-18 14:40] emilystreetman commented on #16
This item is complete pending getting additional skull images from the artist - for current guide, please see  cora-docs/docs/forensics-anthro-guide/zones.md

[2018-01-24 20:41] emilystreetman commented on #17
Existing images successfully added.

[2018-01-24 20:41] #17 closed

[2018-01-28 04:56] #29 closed

[2018-02-07 17:04] fedamann opened #35 "Allow spaces in Provenance1 and Provenance2 fields"
Currently spaces are not allowed in provenance field, Please allow spaces in Provenance1 and Provenance2 fields

[2018-02-07 17:30] fedamann opened #36 "Inventory glossary"
Need to define the inventory attributes of Complete, Incomplete, N/A
![capture](https://user-images.githubusercontent.com/12400947/35931403-2aaeac80-0bfa-11e8-8392-deed1e92c161.PNG)

[2018-02-07 21:06] #23 closed

[2018-02-07 21:11] SachinPawaskarUNO commented on #25
This issue has been addressed via SachinPawaskarUNO/cora#300

[2018-02-07 21:11] #25 closed

[2018-02-07 21:11] SachinPawaskarUNO commented on #21
This issue has been addressed via SachinPawaskarUNO/cora#300

[2018-02-07 21:11] #21 closed

[2018-02-07 21:30] SachinPawaskarUNO commented on #35
This issues has been addressed as part of fix for SachinPawaskarUNO/cora#376

[2018-02-07 21:30] #35 closed

[2018-02-07 21:35] SachinPawaskarUNO commented on #18
This issue has been fixed by @clegarde and Sachin with commit [6d3999c](https://github.com/spawaskar-cora/cora-docs/commit/6d3999ced2f4e2f9a74b3b93d9de5600b7810cea)

[2018-02-07 21:35] #18 closed

[2018-02-07 21:37] SachinPawaskarUNO commented on #15
This issue has been addressed via fix for SachinPawaskarUNO/cora#315

[2018-02-07 21:37] #15 closed

[2018-02-07 21:40] SachinPawaskarUNO commented on #8
Org Admins now have capability to add new users to this organizations

[2018-02-07 21:40] #8 closed

[2018-02-07 21:48] SachinPawaskarUNO commented on #7
This issue was addressed by @clegarde and Sachin. @clegarde has created an excel/csv file which documents method_features table that use feature scoring with corresponding display_values. This is related to SachinPawaskarUNO/cora#203 and SachinPawaskarUNO/cora#288

[2018-02-07 21:48] #7 closed

[2018-02-07 22:12] SachinPawaskarUNO commented on #6
This issue is related to #23 and is now addressed.

[2018-02-07 22:12] #6 closed

[2018-02-07 22:36] #20 closed

[2018-02-07 22:44] #36 closed

[2018-02-07 22:44] fedamann commented on #36
Error.  Issue is for documentation for defining Unsided and N/A on Side

[2018-02-07 22:47] fedamann opened #37 "Inventory Glossary for Side Attributes"
provide definitions for Unsided and N/A when designating Side. This should be added to Cora-docs.

[2018-02-08 03:48] SachinPawaskarUNO commented on #9
This issue has been addressed via SachinPawaskarUNO/cora#377

[2018-02-08 03:48] #9 closed

[2018-02-08 03:53] SachinPawaskarUNO commented on #27
Need to discuss with @mei215 and @fedamann about how to narrow down the search space for refit selection without having to pull/query all skeletal elements in the project.

[2018-02-09 17:21] mei215 opened #38 "Elements Locked From Editing--Should be Editable"
While imputing Ploesti inventory data, I went back to update zone information and the element was locked from editing. I should be able to update data as I'm inputting it/all the time. Thanks! @SachinPawaskarUNO

<img width="560" alt="1" src="https://user-images.githubusercontent.com/33871387/36040350-ccf48ed8-0d8a-11e8-9d9b-76fe1d804ee3.PNG">

[2018-02-09 17:32] mei215 opened #39 "Bug When Trying To Add Zone Data"
I encountered the following bug when trying to input zone information for multiple different elements @SachinPawaskarUNO

<img width="564" alt="1" src="https://user-images.githubusercontent.com/33871387/36040950-a965586a-0d8c-11e8-8242-4e852d209a81.PNG">
<img width="205" alt="2" src="https://user-images.githubusercontent.com/33871387/36040952-aa407f76-0d8c-11e8-8392-29908e889bb1.PNG">

[2018-02-10 15:47] SachinPawaskarUNO opened #40 "Add user data for AAFS 2018 conference."
Add user data for AAFS 2018 conference, based on latest user data received from @fedamann via email.

[2018-02-10 16:25] SachinPawaskarUNO commented on #40
This issue has been addressed with fix SachinPawaskarUNO/cora#360

[2018-02-10 16:25] #40 closed

[2018-02-10 23:17] SachinPawaskarUNO commented on #27
This issue has been addressed via SachinPawaskarUNO/cora#378 and SachinPawaskarUNO/cora#379

[2018-02-10 23:17] #27 closed

[2018-02-10 23:20] SachinPawaskarUNO commented on #39
This issue has now been addressed via SachinPawaskarUNO/cora#381

[2018-02-10 23:20] #39 closed

[2018-02-12 16:56] fedamann opened #41 "Update welcome screen image"
New image for welcome screen to replace POW/MIA flag.
![commingulated assemblage](https://user-images.githubusercontent.com/12400947/36108817-9f837fc6-1015-11e8-885e-af644cc449c0.jpg)

[2018-02-12 17:00] fedamann commented on #41
Or this one?

![paco cemetery manila](https://user-images.githubusercontent.com/12400947/36109056-2f5ea38c-1016-11e8-9bdb-25589313f6a6.jpg)

[2018-02-12 17:21] fedamann opened #42 "Left justify measurment roll-over help text"
The text inside the roll-over help menu should be left justified. It is currently center justified.

![measurement help roll-over text](https://user-images.githubusercontent.com/12400947/36109983-08a41562-1019-11e8-8ef0-42f11c6eb6bb.jpg)

[2018-02-12 17:22] fedamann opened #43 "Measurement help icon not visible IE11"
The help icon to the right of the data field does not display in IE11, but the text does show up when you mouse over the region.
![measurement help roll-over text](https://user-images.githubusercontent.com/12400947/36110045-40fa0b2e-1019-11e8-98f8-0622a786749f.jpg)

[2018-02-12 17:27] fedamann opened #44 "Glossary for Fields and Field Attributes (editable values)"
Need to develop documentation for all fields and field attributes (editable values) for CoRA, which should go to CoRA-docs.

[2018-02-12 18:35] fedamann opened #45 "Measurement names are not in order and they should be"
The measurement names are not in sequential order.
![measurement names order](https://user-images.githubusercontent.com/12400947/36113044-6c6c65cc-1023-11e8-89a9-f351bdd59b3a.JPG)

[2018-02-12 20:01] SachinPawaskarUNO commented on #45
Good idea. Quite a few bone measurements were not is order in the original file received from DPAA, such as Humerus, Radius, Ulna, Os coxa, Femur, Talus, Cervical vertebra 1, Cervical vertebra 2. This will be addressed in the next release.

[2018-02-12 20:02] SachinPawaskarUNO commented on #42
Good idea @fedamann, This will be addressed in the next release.

[2018-02-13 01:50] SachinPawaskarUNO commented on #42
This issue has been addressed via SachinPawaskarUNO/cora#404. This will be available in the next release.

[2018-02-13 01:50] #42 closed

[2018-02-13 01:50] SachinPawaskarUNO commented on #45
This issue has been addressed via SachinPawaskarUNO/cora#405. This will be available in the next release.

[2018-02-13 01:50] #45 closed

[2018-02-13 01:52] SachinPawaskarUNO commented on #41
This issue has been addressed via SachinPawaskarUNO/cora#403. This will be available in the next release.

[2018-02-13 01:52] #41 closed

[2018-02-13 15:00] clegarde opened #46 "New vs View Skeletal Element check boxes"
Remove check boxes from "New Skeletal Element" page per discussion with @fedamann
On the new skeletal element page there are three check boxes, once saved, three more become available. This is a particular issue for mistakenly clicking the "Inventoried" box and locking the element for editing. Because the data has to be entered after the save, it is not necessary to have any of these boxes on the

[2018-02-13 15:13] SachinPawaskarUNO commented on #46
This makes complete sense. Issue will be addressed in the next release.

[2018-02-13 16:19] clegarde opened #47 "Welcome Page Format"
Love the new photo! Please remove some of the extra space on the sides by narrowing overall box and/or enlarging photo. Also, enlarge "Welcome to CoRA" text to stand out as a title/header, please.

![welcomepage](https://user-images.githubusercontent.com/7350474/36159898-7d429254-10a5-11e8-9aac-e53b51a19083.PNG)

[2018-02-13 16:33] SachinPawaskarUNO commented on #47
@clegarde and @fedamann, We need to discuss this further. It is not as straight forward as stretching the image. We need to get the image in the appropriate resolution and width and height. It also has to make sense on other devices such as Tablets/iPads and maybe Phones.

[2018-02-13 17:56] mei215 opened #48 "Individuating Enhancement Request"
Following discussions with @clegarde,

When an element is assigned to a DNA sequence number (e.g, Seq 23) or Individual number (e.g, I-01), can all other elements associated with it (through pair matching, articulation, or refit) automatically be given that same sequence or ID number? Or will that data need to be added manually by the user to each refit, pair match, and articulation?

@SachinPawas

[2018-02-13 18:55] clegarde opened #49 "Typo on Dashboard"
Missing a space between "skeletal elements" on dashboard under the highlights of the project.

![dashboardtypo](https://user-images.githubusercontent.com/7350474/36167758-9098d572-10bc-11e8-8380-caecf7d181f0.PNG)

[2018-02-13 20:23] clegarde opened #50 "Deleting an Association"
The following error pops up when I try to delete an articulation, pair match, or refit. After I delete the element and press save, the error screen comes up.

![removingarticulationerror](https://user-images.githubusercontent.com/7350474/36171433-4909285e-10c8-11e8-98f7-e5c2324ff860.PNG)

[2018-02-14 02:26] SachinPawaskarUNO commented on #48
@mei215 and @clegarde I think it is a good idea, but I would like to discuss this in a little more detail with the team so that everyone understands and is on the same page. Doing this change may have unintended consequences from an analysis standpoint from my perspective. Hence I would like to proceed with a little caution. @fedamann we need to discuss this in our next SCRUM meeting.

[2018-02-14 02:33] SachinPawaskarUNO commented on #49
This issue has been fixed via SachinPawaskarUNO/cora#411

[2018-02-14 02:33] #49 closed

[2018-02-14 02:34] SachinPawaskarUNO commented on #46
This issue has now been addressed via SachinPawaskarUNO/cora#407

[2018-02-14 02:34] #46 closed

[2018-02-14 03:12] SachinPawaskarUNO commented on #50
@clegarde, I need a little more information from you, try and give me a step by step approach on how to recreate the issue. I don't even know which project and skeletal element you were working with when you encountered this issue.
It seems like you did not have sufficient privileges to do some action. But hard to tell.
Did you create the skeletal element that you were working with?

I think it mi

[2018-02-14 11:56] SachinPawaskarUNO commented on #50
@clegarde, I'm now convinced that this issue is a privileges and process issue. The SE that you were trying to edit/delete associations were created by @mei215 and were still in the process of being inventoried.

I do think there is a bug in that you should not have been able to access that page associations page in edit mode. You should only be able to access that page in view only mode.

@fedama

[2018-02-14 12:06] SachinPawaskarUNO commented on #50
@clegarde, one easy way to test my theory out is to create a new SE and then try to add/edit/delete of associations (pairs, articulations/refits) and see if that works. That would help confirm/reject if we are on the right track.

[2018-02-14 14:49] clegarde commented on #50
Yesterday I was in the CoRA Demo Project, and I added an association to an element that was checked as "Inventoried" (not by me), but not checked as "Reviewed" yet. That was then the one I tried to delete and got the error.
I just added a new element in the CoRA Demo to test. I added two elements, then pair matched them (ABC 2018-001--B1-201). I then deleted the pair match, clicked save, and got t

[2018-02-14 15:11] SachinPawaskarUNO commented on #50
@clegarde, that helps. I now have the steps to recreate the issue. Will give an update once we get it recreated and post an update.

[2018-02-14 15:38] SachinPawaskarUNO commented on #50
@clegarde, that really helped identify the issue. I have now fixed the issue, Please try it out and confirm.
This issue has now been addressed via SachinPawaskarUNO/cora#415

[2018-02-14 15:38] #50 closed

[2018-02-14 15:56] clegarde commented on #50
Tested and success! Thank you.

[2018-02-14 18:52] clegarde opened #51 "Change "Inventoried By" to "Created By""
On Skeletal Element Advanced Reporting, change Inventoried By to Created By to better reflect the action it is reporting.
![advancedreport_createdby](https://user-images.githubusercontent.com/7350474/36222091-d1eff734-1185-11e8-9c2e-cf0937d57076.PNG)

[2018-02-14 18:54] clegarde opened #52 "Change "Inventoried" check box to "Inventory Completed""
On Skeletal Element page, change the check box from "Inventoried" to "Inventory Completed" to clarify terminology. This will also be reflected on the Advanced Report page too, right?

![skeletalelement_inventoried](https://user-images.githubusercontent.com/7350474/36222195-2b603cc0-1186-11e8-8130-afcc8647232a.PNG)

[2018-02-14 18:59] clegarde opened #53 "Automatically check "Measured" and "DNA Sampled" box - Skeletal Element Page"
After measurements have been added and click "save", automatically check the "Measured" box on the View Skeletal Element Page.
This could also be done for "DNA Sampled" once a DNA sample has been added and saved.

[2018-02-14 20:07] SachinPawaskarUNO commented on #51
This issue has now been addressed via SachinPawaskarUNO/cora#416

[2018-02-14 20:07] #51 closed

[2018-02-14 20:10] SachinPawaskarUNO commented on #52
This issue has now been addressed via SachinPawaskarUNO/cora#416 and SachinPawaskarUNO/cora#418.
@clegarde can you please verify this.

[2018-02-14 20:17] clegarde commented on #52
@SachinPawaskarUNO, Yep, GTG. This clears up the report searches for created vs. inventoried. And makes it clear under the skeletal element page to only check when done.

[2018-02-14 20:28] SachinPawaskarUNO commented on #22
This issue has now been addressed via SachinPawaskarUNO/cora#417
@clegarde can you please verify this one.

[2018-02-14 20:30] SachinPawaskarUNO commented on #52
closing this issue, has been now been verified by @clegarde

[2018-02-14 20:30] #52 closed

[2018-02-14 20:52] SachinPawaskarUNO commented on #53
This has now been addressed via SachinPawaskarUNO/cora#419 & SachinPawaskarUNO/cora#420
@clegarde, can you please verify these.

[2018-02-14 20:52] #53 closed

[2018-02-14 20:54] clegarde commented on #22
@SachinPawaskarUNO , Done, GTG.

[2018-02-14 20:54] #22 closed

[2018-02-14 20:56] clegarde commented on #53
@SachinPawaskarUNO , Checked both, GTG.

[2018-02-14 22:08] SachinPawaskarUNO opened #54 "Allow users who are part of the project team to view and edit SE"
Based on conversations during CoRA SCRUM today (02/14/2018) with DPAA team @fedamann et. al, it was decided to allow users who are part of the project team to view and edit Skeletal Elements that belong to that project.

[2018-02-14 22:16] SachinPawaskarUNO commented on #54
This issue has been addressed via SachinPawaskarUNO/cora#422
@clegarde, can you verify this for me. You should now be able to view/edit SE's created by @mei215 in the Polesti project

[2018-02-14 22:26] clegarde commented on #54
@SachinPawaskarUNO, Yep, I can view/edit in Ploesti project.

[2018-02-14 22:32] SachinPawaskarUNO commented on #54
Closing this issue. It has now been verified by @clegarde

[2018-02-14 22:32] #54 closed

[2018-02-15 16:03] clegarde opened #55 "Ability to delete Trauma or Pathology"
Need the ability to delete a trauma or pathology, particularly during the inventory stage. Either delete on the general trauma page (as noted in the picture) or after clicking on the specific trauma.
![traumapath_delete](https://user-images.githubusercontent.com/7350474/36266577-63a8895a-1237-11e8-9991-aadca82c2f57.PNG)

[2018-02-15 16:09] clegarde opened #56 "Change "DNAs" to "DNA""
Plural for DNA is just DNA, no "s."

![dna](https://user-images.githubusercontent.com/7350474/36266836-15f075aa-1238-11e8-9184-e59ee553ffec.PNG)

[2018-02-16 05:10] SachinPawaskarUNO commented on #56
This issue has been addressed via SachinPawaskarUNO/cora#428.
@clegarde Please verify and close out if good to go.

[2018-02-16 05:11] SachinPawaskarUNO commented on #55
This issue has been addressed via SachinPawaskarUNO/cora#430 & SachinPawaskarUNO/cora#431.
@clegarde Please verify and close out if good to go.

[2018-02-16 05:11] #55 closed

[2018-02-16 05:13] SachinPawaskarUNO commented on #47
This issue has been addressed via SachinPawaskarUNO/cora#429 & SachinPawaskarUNO/cora#409.
@clegarde and @fedamann Please verify and close out issue.

[2018-02-16 05:13] #47 closed

[2018-02-16 14:44] clegarde commented on #56
@SachinPawaskarUNO, "DNAs" is still showing.

[2018-02-16 15:05] clegarde commented on #55
@SachinPawaskarUNO, Tested - I can delete a trauma or pathology that I enter. I cannot delete a trauma or pathology on a bone that someone else entered. Even if I was the one that added the trauma or pathology. The element I tested it on was marked "Inventory Completed," so I think that's why. I think this is ok though. I got the following message after I clicked delete:
![deletetrauma](https://us

[2018-02-16 15:07] skindsc1 opened #57 "Skeletal bone in zone search"
"Skeletal Bone" in the zone search function should be "Skeletal Element"

![image](https://user-images.githubusercontent.com/21186879/36313885-b1530506-12f8-11e8-92aa-4ef777ff16bd.png)

[2018-02-16 15:59] SachinPawaskarUNO commented on #56
@clegarde, Please try again.
It was late last night and I did not refresh the database because I did not want you to loose your data.
Go ahead and give it a try now and close the issue if its working.

[2018-02-16 16:01] clegarde commented on #56
@SachinPawaskarUNO, Looks good!

[2018-02-16 16:01] #56 closed

[2018-02-19 18:05] SachinPawaskarUNO opened #59 "Add multizone capability"
Add multi-select function for zones when entering trauma and pathology

[2018-02-19 18:17] fedamann opened #60 "Set thresholds for measurements to reduce error"
Create upper and lower limits for individual measurements that provide the user with a warning when a measurement is outside normal distribution

[2018-03-03 19:08] SachinPawaskarUNO opened #61 "Identify Forum/Chatter categories for CoRA"
@fedamann, we need to identify Forum/Chatter categories for CoRA. Currently we have the following Categories.
![image](https://user-images.githubusercontent.com/19599773/36938205-eb0e531c-1ee3-11e8-9763-12b60b41fe12.png)

[2018-03-06 20:26] CTegtmeyer opened #62 "Too Many Requests Issue"
After entering between 14-28 entries in quick succession the program gets overwhelmed and comes back with a "too many requests" error, requiring a log out and re-log in to clear the queue (although sometimes this doesn't work). This happens quite often when trying to enter complete hands and feet into the element list. Is there a way to increase the available queue for element input?

[Too Many Re

[2018-03-07 02:29] SachinPawaskarUNO commented on #62
@CTegtmeyer, I'm curious to know the workflow/screens that you are submitting so quickly. Right now for security reasons the application is throttling user requests, We currently restrict users to 30 post request per minute per user. Do you think you are doing approximately 30 posts per minutes.

Throttling is in place to prevent Denial of Service (DoS) attacks. So the application is not being ove

[2018-03-07 14:28] skindsc1 opened #63 "Zone search finding zones that are not present"
When running a zone search for the head of the right humerus (i.e., zone 2/caput) the list is including humeri that have no head/caput/zone 2.  I found that this happens with other zones too but there are also bones on the list that do have the zone that has been requested.  (Also, note that the search field says "Skeletal Bone" instead of "Skeletal Element" or "Bone")

![image](https://user-image

[2018-03-07 14:44] skindsc1 opened #64 "Ability to search for a single zone"
Within the "Zone Search" function, is it possible to search for a single zone?  For example, if I want to find all of the femora that are _only_ represented by the head (caput/zone 4) I can search for that zone but the search returns femora that _have_ the zone, not just the ones that are _only_ that zone.

[2018-03-07 15:52] cbrown311 opened #65 "For zone search, add the number to description"
When doing the zones search/report it would be helpful to include the zone # along with the written description.  Currently, you can only see the number once you have conducted the search and then click on the description itself.

![zones desc](https://user-images.githubusercontent.com/35307698/37102232-0394ee62-21ed-11e8-8dd8-95b7c8e8e600.PNG)

![zones w number](https://user-images.githubusercont

[2018-03-07 15:55] cbrown311 commented on #37
Didn't we decide to eliminate N/A as an option? @clegarde @fedamann @mei215

[2018-03-07 16:20] CTegtmeyer commented on #62
No, definitely not that many that quickly. I am adding about 2-3 elements/minute under the New Skeletal Elements input page. The system gets overwhelmed after anywhere from 14-28 elements at this speed, and then once the system is available again, it takes less elements each time to overwhelm it again.

But, if you are suggesting it is just a matter of pace, I can attempt to add my elements more s

[2018-03-07 23:22] clegarde commented on #37
Yes, it is gone! Closing this...

[2018-03-07 23:22] #37 closed

[2018-03-08 20:32] CTegtmeyer commented on #62
I have attempted to enter entries much slower and have taken short breaks in between entries to better simulate a situation where we'd be completing an inventory from scratch and the system is still getting overwhelmed after about 25-30 entries at this speed.

[2018-03-08 20:37] CTegtmeyer opened #66 "Ability to put letters in the designator line"
Would it be possible to make it so that the designator can have letters as well as numbers? Since the designator can only be a number it prevents previously DNA sampled elements from being entered into CoRa (these have designators such as 01A)

[2018-03-08 22:08] SachinPawaskarUNO commented on #62
@CTegtmeyer In the next release of CoRA, I'm going to increase the the number of requests allowed. I'll Let you know when I do that.
@fedamann, This is something we need to keep an eye on. For now I'm going to increase the number of requests allowed per minute/per user and see if that addresses the issue If not then there might be a bug or something else that we might have to look into.

[2018-03-09 01:53] SachinPawaskarUNO commented on #66
@CTegtmeyer  I'm Ok with making the change.
However I would like to make sure others are on board as well mainly because my current understanding was that Designators should be numbers with each 20X, 30X with each hundred having a meaning for a specific family of bones/skeletal elements.

@fedamann, I think you and the Anthropologists need to make the call because we have had several discussions o

[2018-03-09 02:03] cbrown311 commented on #66
This is another one of those issues that is cropping up because we designed to fit the Oklahoma and OK uses the hundreds numbering convention.   @CTegtmeyer is correct, other projects may need to have letters in addition to numbers since they use the DNA sample as the designator.

[2018-03-09 02:08] SachinPawaskarUNO commented on #66
@cbrown311, Thanks for your input.
Given that, @fedamann, I think I would recommend that we implement the change @CTegtmeyer has suggested in the next release.
I'm recommending that we go with alphanumeric (meaning a-zA-Z0-9), no spaces. Let me know if that will work for all.

[2018-03-14 19:24] cbrown311 opened #67 "Need to create function for methods with composite scores"
As discussed this morning, we need functionality to produce and display component scores for methods that have multiple components and rely on a composite score of those components in order to derive an age estimate.  The composite score is a sum of all component scores.  This is important because when we search for elements that are similar and define a range (+/- a certain value), we need the to

[2018-03-14 19:27] cbrown311 opened #68 "Composite score - Falys and Prangle 2015"
Create composite score that is sum of 3 features in Falys and Pringle 2015:  surface topography, porosity, and osteophyte formation.  Each component can be scored from 1 to 6.

[2018-03-14 19:48] cbrown311 opened #69 "Composite score - Buckberry and Chamberlain 2002 (os coxa)"
Create composite score for Buckberry and Chamberlain 2002 method for the os coxa:  sum of scores for transverse organization (1-5), surface texture (1-5), microporosity (1-3), macroporosity (1-3), and apical changes (1-3).

[2018-03-14 19:51] cbrown311 opened #70 "Composite score - Meindl and Lovejoy 1985 (cranium, vault)"
Create composite score that is sum of 7 scores for the vault sutures in Meindl and Lovejoy 1985 (cranium):  midlambdoid, lambda, obelion, anterior sagittal, bregma, midcoronal, and pterion.  Each suture can be scored from 0 to 3.

[2018-03-14 19:52] cbrown311 opened #71 "Composite score - Meindl and Lovejoy 1985 (cranium, lateral-anterior)"
Create composite score that is sum of 5 scores for the lateral-anterior sutures in Meindl and Lovejoy 1985 (cranium):  midcoronal, pterion, sphenofrontal, inferior sphenotemporal, and superior sphenotemporal.  Each suture can be scored from 0 to 3.

[2018-03-14 19:59] cbrown311 opened #72 "Composite score - Nawrocki 1998 (cranium, SUMALL)"
Create composite score that is sum of 27 scores for all cranial sutures in Nawrocki 1998 (cranium):
![image](https://user-images.githubusercontent.com/35307698/37427740-4414a116-2798-11e8-8532-8b0d0aa98ba5.png)

Each suture can be scored from 0 to 3.

[2018-03-14 20:00] cbrown311 opened #73 "Composite score - Nawrocki 1998 (cranium, SUMCAL)"
Create composite score that is sum of 15 scores for uppermost cranial sutures in Nawrocki 1998 (cranium):
![image](https://user-images.githubusercontent.com/35307698/37427811-6d5584be-2798-11e8-8993-e899229f659c.png)
![image](https://user-images.githubusercontent.com/35307698/37427824-77771232-2798-11e8-8d94-15f9b69c0659.png)

Each suture can be scored from 0 to 3.

[2018-03-14 20:05] cbrown311 opened #74 "Composite score - McKern and Stewart 1957 (os coxa, pubic symphysis)"
Create composite score for McKern and Stewart 1957 method for the os coxa (pubic symphysis): sum of scores for dorsal, ventral, and rim components.  Each component can be scored from 0 to 5.

[2018-03-14 20:12] cbrown311 opened #75 "Add null value when element not scored for age"
When an element that has a feature that could be scored for age, but it has not been scored, there should be a way to indicate a null value and not have a default entry of 0.  For scoring purposes, several methods have values of 0, so it is not possible to tell if the element was scored a 0 or not scored.

The default should probably also not be blank, as this would be indistinguishable from somet

[2018-03-14 20:14] cbrown311 opened #76 "Zones numbering issue"
In zones, make sure list is in numerical order.  Currently for os coxa, 12 appears at top of list, followed by 1, 2, 3...

![zone numbering issue](https://user-images.githubusercontent.com/35307698/37428477-5b2165f4-279a-11e8-8b55-b9c59f423e1d.PNG)

[2018-03-14 20:16] cbrown311 opened #77 "Order of measurement numbers - fix to ascending order"
![measurement numbering issue](https://user-images.githubusercontent.com/35307698/37428550-925edcc2-279a-11e8-86f6-3fc599e393e5.PNG)

Measurements appear out of order for at least os coxa, possibly other bones.  Measurements should be in ascending order.

[2018-03-14 20:18] cbrown311 opened #78 "Add rollover for zone description"
Add a rollover description for each zone of each bone that gives definition of what zone is, next to number.  Do not add description as part of number in order to avoid clutter on this page per @fedamann

[2018-03-14 20:20] clegarde commented on #75
Agreed! I think that's an important distinction that needs to be reflected somehow. Can it say "Unscorable"? Is that a word? Or something like that...maybe just "NS" for not scored? I don't think NA accurately reflects it being something that cannot be scored, but could be the easiest option.

[2018-03-14 20:24] cbrown311 opened #79 "Increase range search for methods with composite scores to +/- 3"
When searching for similar age estimates for methods that have composite scores, increase range option to +/- 3 in order to account for fluctuation in scoring of multiple features.  For example, in Nawrocki 1998, there are 27 sutures to be scored, each with a potential score from 0 to 3, so the room for error is much greater than when a single epiphysis is scored with 5 stages as in McKern and Ste

[2018-03-14 20:25] cbrown311 commented on #75
@mei215 @Lariabeth @emilystreetman @sfuehr @brittanywalter

[2018-03-15 12:29] skindsc1 commented on #79
@cbrown311 I think that makes sense.  +/- 3 should definitely cover any differences in scoring the pubic symphysis.

[2018-03-15 12:45] skindsc1 commented on #75
I like the idea of using something like "NS" that specifically means the trait is present but hasn't been scored.  N/A could mean the trait is missing altogether or that it couldn't be scored.  Could the default be something like "Choose score from dropdown" that just serves as a placeholder?

@cbrown311 @clegarde

[2018-03-16 02:26] clegarde opened #80 "Generate Association Report by Individual Number and/or Mito Seq Number"
We should be able to generate an association report by Individual number and/or DNA Seq - so we could query all the methods and/or measurements done for an individual. I think it would be best to have both options so you could look up by either (in case MNI >1 for a sequence). Thoughts? @cbrown311 @mei215
Add option to generate association report "By Individual Number" and "By Mito Sequence Number

[2018-03-16 14:47] mei215 commented on #80
#48

[2018-03-16 18:00] cbrown311 commented on #80
Let me make sure I am understanding this correctly, we want the ability to see what has been associated with elements from an individual or a sequence?  As in, I-01 has these elements based on DNA, these based on pair matching, these based on articulation, etc.  I ask because I am not seeing any of those options currently and can't get the search to even work in Association Report, so perhaps some

[2018-03-16 18:08] clegarde commented on #80
I just put this issue in to add a "search by" option based on the current outputs. For example, you can search by an X# (ex: X-232C) to generate a measurement list, and it will give you a list of all the elements in that X# with their measurements. What I'm asking for here is to be able to search by an I# to generate a measurement list for all elements associated with that I#. Or Mito Seq.
Not eve

[2018-03-16 18:09] cbrown311 commented on #80
Ok, I like it.  Sorry for making more complicated!

[2018-03-28 16:01] nyukyi opened #81 "Option for "Go back to search results" after clicking on a sample number"
Instead of having to click on the "Back" button multiple times, can there be an option/button to go back to the search results?

[2018-03-29 14:52] SachinPawaskarUNO commented on #77
@cbrown311 This issue has been addressed with a new release. Please verify and close issue.

[2018-03-29 14:53] SachinPawaskarUNO commented on #76
@cbrown311 This issue has been addressed with a new release. Please verify and close issue.

[2018-03-29 14:54] SachinPawaskarUNO commented on #66
@CTegtmeyer This issue has been addressed with a new release. Please verify and close issue.

[2018-03-29 14:56] SachinPawaskarUNO commented on #62
@CTegtmeyer This issue has been addressed with a new release. I have increased the throttling parameter to handle more number of requests. Hopefully this should alleviate the issue you were seeing earlier. Please verify and close issue.

[2018-03-29 14:58] SachinPawaskarUNO commented on #57
@skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-03-29 14:59] SachinPawaskarUNO commented on #59
This issue has been verified to be addressed with the new release.

[2018-03-29 14:59] #59 closed

[2018-03-29 15:00] SachinPawaskarUNO commented on #63
@skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-03-29 15:03] SachinPawaskarUNO commented on #64
@skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-03-29 21:11] Lariabeth opened #82 "Association Reports - measurements"
If you search by element designator and click on measurements, it gives you a table of every single measurement possible - can we have it limited so that the report lists only the measurements for the elements we select?

[2018-04-03 16:58] skindsc1 opened #83 "Zone check box not marked"
I performed a zone search but none of the check boxes were marked to show which zones are present.  For example, I searched for Zone 6 but when I open the element highlight it does not indicate Zone 6 is present.

![image](https://user-images.githubusercontent.com/21186879/38263622-26c2b884-3736-11e8-91fe-2168568e2896.png)

[2018-04-03 17:08] skindsc1 opened #84 "Complete elements only show up as Zone 1"
When searching for a zone, searching for Zone 1 will pull up all complete elements and only the Zone 1 box will be checked as being present.  In the below example I searched for Zone 1 only.  Zone 1 is the only zone marked as present even though the bone is complete.

![image](https://user-images.githubusercontent.com/21186879/38263885-f0bb0934-3736-11e8-9023-7d39bf2c8b91.png)

[2018-04-03 17:13] skindsc1 opened #85 "Searching for multiple zones returns multiple results for the same element"
When searching for multiple zones, each zone that is present is returned as a single result instead of one result that includes all zones.

![image](https://user-images.githubusercontent.com/21186879/38264361-594c6500-3738-11e8-8acf-2177326bd3cb.png)

[2018-04-03 18:32] SachinPawaskarUNO commented on #84
@skindsc1 this is an issue with old data that is not in  sync. Currently when any new SE is created and you mark it as complete then all zones for the Bone are marked as complete. This is not true for the old USS Oklahoma dataset that was uploaded. Hence the issue you are seeing.
@fedamann we need to at some point have someone go through all complete bones and re-save to make sure the data for zon

[2018-04-03 19:07] CTegtmeyer opened #86 "Inquiry: Decimals and Articulated elements"
This is more of an inquiry than an issue, I hope that is okay.

I noticed with the last update the ability we are now able to put letters in the designator field, which is great, but we lost the ability to use decimals. We (in the Tarawa project) have been using decimals to designate articulating elements (so our hands and feet all share the same number, with a decimal to designate a new element,

[2018-04-03 19:57] SachinPawaskarUNO commented on #86
@CTegtmeyer We typically want to avoid special characters in fields. For now the field is alphanumeric and hence only allows [a-z,A-Z0-9]. It is no longer treated as a number field, hence no decimals.
You should now be able to go away from this nomenclature for the Tarawa project because you will be able to generate reports easily for articulations and hence do not need to do that anymore.

So, YE

[2018-04-04 18:00] tedunn commented on #70
As per today's discussion, the composite score for this method is the sum of a subset of the scores mentioned in the article. @clegarde @SachinPawaskarUNO

[2018-04-04 18:00] tedunn commented on #71
As per today's discussion, the composite score for this method is the sum of a subset of the scores mentioned in the article. @clegarde @SachinPawaskarUNO

[2018-04-04 18:01] tedunn commented on #73
As per today's discussion, the composite score for this method is the sum of a subset of the scores mentioned in the article. @clegarde @SachinPawaskarUNO

[2018-04-04 18:18] tedunn opened #87 "Composite scores from subsets"
The methods that use data subsets to get composite scores:
Meindl and Lovejoy 1985 (cranium, age)
Nawrocki et al 1999 (cranium, age)

Edgar 2013 (cranium and mandible, ancestry) is a bit different in that the method uses different equations depending on what teeth are present.

[2018-04-04 18:39] clegarde commented on #77
Checked - GTG.

[2018-04-04 18:39] #77 closed

[2018-04-04 18:40] clegarde commented on #76
Checked - GTG.

[2018-04-04 18:42] SachinPawaskarUNO opened #88 "create CoRA account for Karen Foreman"
create CoRA account for Karen Foreman

[2018-04-04 18:45] SachinPawaskarUNO opened #89 "update Sarah Kindschuh account to new email address"
update Sarah Kindschuh account to new email address

[2018-04-04 19:33] clegarde opened #90 "Remove fields UM2C6-UM2C10 from Edgar 2013 - Cranium"
Please remove the last five fields - UM2C6 through UM2C10 - for the Edgar 2013 ancestry method for the cranium. These do not exist.

![edgar 2013_field names](https://user-images.githubusercontent.com/7350474/38329824-78ed50b6-383e-11e8-9dc3-1f5bc49eafdb.PNG)

[2018-04-04 19:44] CTegtmeyer commented on #86
@SachinPawaskarUNO Then that brings up a few follow up questions.  First, is that there is currently no way to associate/articulate phalanges and sesamoids with any elements. When you try, there is an error message (see attached).  Is there a way to make this feature available?

![capture](https://user-images.githubusercontent.com/36896992/38329551-a69dc816-383d-11e8-8f6a-bddfb0fea6dd.PNG)

Also,

[2018-04-04 19:47] CTegtmeyer commented on #62
@SachinPawaskarUNO I ran into the problem today when attempting to put in elements and queries into CoRA. It was a combinations of search queries and new sample requests. It seems as though it handled the requests better but it still has the same issue.

[2018-04-04 19:47] #66 closed

[2018-04-04 21:48] SachinPawaskarUNO commented on #90
@clegarde, these were from the original methods and method features spreadsheet. I just want to confirm, was this an error in the original files we received? It is easy to take these off, I just want to make sure these are not features that we incorrectly assigned to cranium from some other Bone. Can you please confirm that the method features we are planning on removing are not used anywhere at a

[2018-04-04 23:35] CTegtmeyer opened #91 "Create an articulations report"
@SachinPawaskarUNO this is the new ticket to create an articulations report for hand and foot elements. If possible, we would like the pull hand/foot groupings based on articulations once they have been recorded into CoRA.

[2018-04-05 01:07] SachinPawaskarUNO commented on #86
@CTegtmeyer That really helps. I have identified the issue. This was a tough one to debug.
We have some bones that are designated as being articulated, but we do not have information for these in the articulation table as to which other bones it is articulated to. That is why you are getting this error.
@fedamann, @cbrown311 we need to address this ASAP, it seems that the original list of all arti

[2018-04-05 01:08] SachinPawaskarUNO commented on #86
@CTegtmeyer, I really appreciate you working through/testing and help identify these issues. Much appreciated.

[2018-04-05 16:23] emilystreetman opened #92 "In DNA Profile "Analysis Tests" should read "Additional Tests""
![analysis tests](https://user-images.githubusercontent.com/34662044/38378527-8cec2ace-38ed-11e8-8f4b-0b8df8b94a79.jpg)

[2018-04-05 16:25] emilystreetman opened #93 "In DNA Profile>Analysis Tests Dropdown, "NGS" should also be an option"
Per Greg Berg's comments in scrum 4 April 18

![ngs](https://user-images.githubusercontent.com/34662044/38378664-ef385888-38ed-11e8-9434-fea29586138d.jpg)

[2018-04-05 16:34] emilystreetman opened #94 "In Cranium > Age > Methods dropdown, Nawrocki 1998 is repeated"
I suspect this should be differentiated like the two "Meindl and Lovejoy 1985" entries are in the same list - with a clarification.

![cranium age methods](https://user-images.githubusercontent.com/34662044/38378981-d63cf180-38ee-11e8-8a18-73651953755a.jpg)

Clicking "create" for either listing of the method leads to a blank page with only a broken image icon, so I'm not sure about what the labels

[2018-04-05 16:52] clegarde commented on #90
Yes, this was an error in the original data. This method applies to both the cranium and mandible, since it applies to teeth, so I double-checked the method for the mandible and those labels are correct.

[2018-04-05 17:29] SachinPawaskarUNO commented on #93
@emilystreetman Can you please provide me with a short description or what the Acronym stands for? I need to include this in the table.

[2018-04-05 17:42] emilystreetman commented on #93
Yes! Sorry!
Next Generation Sequencing

[2018-04-05 17:43] emilystreetman opened #95 "In DNA > mtDNA Report, mito sequence number search drop-down menu should be in numerical order"
![dna order](https://user-images.githubusercontent.com/34662044/38382215-e685bcf4-38ce-11e8-9aae-9d93ee1626c8.jpg)

[2018-04-05 17:45] emilystreetman commented on #94
this is related to tickets #72 and #73

[2018-04-06 20:45] clegarde opened #96 "Measurements page is unavailable for the mandible"
Under the Skeletal Element, when you go to details, "Measurements" is not an option in the dropdown menu. I think this must be a bug since there are measurements for the mandible.
![measurements_mandible](https://user-images.githubusercontent.com/7350474/38443453-526b37ae-39b1-11e8-87a2-b194cd604be4.PNG)

[2018-04-06 20:56] clegarde opened #97 "Features out of order for Edgar 2013 - Mandible"
The features listed are out of order. LCDR (canine) usually comes after LI2SS (incisor). Just to be sure there aren't data entry mistakes, it would be best to put it after LI2SS.
![mandible_edgar 2013](https://user-images.githubusercontent.com/7350474/38443921-fde2cf7e-39b2-11e8-834c-e65a1c0e0ec2.PNG)

[2018-04-06 21:49] SachinPawaskarUNO commented on #96
@clegarde, Good catch. This is actually a data issue with the original baseline data provided by DPAA Anthropologists. It seems like there is quite a bit of missing data.
@fedamann I'm seeing a lot of data issues like this with regards to baseline data provided. The only way to identify these types of issues is to make sure that DPAA Anthropologists test the system and create SE's for all Bones an

[2018-04-08 00:55] SachinPawaskarUNO commented on #86
In the future CoRA will display the message below if base data for articulations has not been setup for a bone.

![image](https://user-images.githubusercontent.com/19599773/38461730-681cd912-3a9d-11e8-8c25-5a5c04828fc7.png)

@fedamann and @CTegtmeyer We need to create a separate issue to get the base data setup for articulations for bones that are currently missing it.

[2018-04-08 01:06] clegarde commented on #86
I think this is a good idea. Then we'll know that the system isn't currently set up versus some sort of bug or something.
There are articulations missing because when the list was put together, I think it was done based on what would be "typical" in a commingled project. These are elements that do technically articulate, but these articulations are very uncommon to make in a commingled assemblage

[2018-04-08 01:13] SachinPawaskarUNO opened #98 "Identify Bones that are flagged as having articulations but do not have base data setup for articulations"
Identify Bones that are flagged as having articulations but do not have base data setup for articulations. Related to #86

[2018-04-08 04:12] SachinPawaskarUNO commented on #97
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-08 04:14] SachinPawaskarUNO commented on #96
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-08 04:15] SachinPawaskarUNO commented on #93
@emilystreetman This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-08 04:34] SachinPawaskarUNO commented on #75
@cbrown311 @clegarde @skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-08 04:35] SachinPawaskarUNO commented on #78
@cbrown311 @clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-08 04:40] SachinPawaskarUNO commented on #81
@nyukyi Ideally you should use the browser feature, where you can have 2 options. Since we have a workaround for now, I'm not planning on prioritizing this, We can discuss this further in our SCRUM meeting.

1. Hold the click on the browser back button and a history of previous links should appear, from which you can choose to go back to the search page.
2. When opening a link from the search scre

[2018-04-08 04:41] SachinPawaskarUNO commented on #65
@cbrown311 @clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-08 04:42] SachinPawaskarUNO commented on #61
@fedamann @clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-09 12:55] skindsc1 opened #99 "Create ability to search for a single element"
Create an option that will allow a search by the element's entire identification number, i.e., CIL 2003-116-G-27-X-184B-201 so that a single bone can be directly located.

![image](https://user-images.githubusercontent.com/21186879/38498702-e7bffe28-3bca-11e8-9c77-b6966dfefe4a.png)

[2018-04-09 13:17] skindsc1 opened #100 "Error when using Rhine 1990"
An error occurs when creating an ancestry method using Rhine 1990.

![image](https://user-images.githubusercontent.com/21186879/38499833-6c320018-3bce-11e8-8c17-016c9d8eec7c.png)

[2018-04-09 13:27] skindsc1 opened #101 "Ability to add FORDISC/HumanID/Edgar results for ancestry"
When entering ancestry data for a cranium it would be helpful to have a way to add FORDISC/HumanID/Edgar results.  Being able to attach the results document might be the best way.  Otherwise, we will need to create additional methods that would allow for certain pieces of information to be added, i.e., posterior/typicality probabilities, correct classification rates, which groups were compared, eq

[2018-04-09 13:35] skindsc1 opened #102 "Walker 2008 sex method"
There is no space to input a score for the Walker 2008 sex method.  Clicking the "Actions" button does nothing.

![image](https://user-images.githubusercontent.com/21186879/38500746-ed8eabdc-3bd0-11e8-9d4f-ccc8cf822a36.png)

[2018-04-09 17:12] SachinPawaskarUNO commented on #102
@skindsc1, @clegarde and @fedamann This is also a data issue, we do not have any method features defined for Walker 2008. DPAA anthropologist need to provide this method feature data

[2018-04-09 17:36] SachinPawaskarUNO commented on #102
In the future CoRA will display the message below instead of the above message, if base data for method features has not been setup for a method.

![image](https://user-images.githubusercontent.com/19599773/38513056-ada9e26c-3bf2-11e8-9127-4008678edd6c.png)

[2018-04-09 17:50] clegarde commented on #102
This method was in the original data, as well as the data I formatted for you in December @SachinPawaskarUNO, so we'll double-check through to make sure there aren't any others that went missing. Then we'll send one document to you with the data for only methods currently missing in CoRA.

[2018-04-09 17:58] SachinPawaskarUNO commented on #102
@clegarde, The method is there, but no method features.
I like the idea of creating only a delta of what's missing in CoRA. I would recommend that you use CoRA UI to verify the current methods and method features in the system.

[2018-04-10 12:33] skindsc1 commented on #100
Sure thing.

1) Search for G-32 (a random group) and opened the first cranium (CIL 2003-116-G-32-X-52A-01).
2) Details -> Biological Profile -> Ancestry
3) Create an ancestry method - Rhine 1990

The error occurs when trying to create the method.

[2018-04-10 12:39] skindsc1 commented on #102
@SachinPawaskarUNO, This is one of those methods where a calculation needs to happen based on a feature.  Is it going to be possible to make the calculations happen if we give you that data (i.e., the equations to be used) along with the features needed?  @clegarde @fedamann

[2018-04-10 12:47] skindsc1 opened #103 "Function of the "All" action?"
What is the function of the "All" action?

![image](https://user-images.githubusercontent.com/21186879/38557596-270e5354-3c93-11e8-917d-de709431b87d.png)

It leads to an error:

![image](https://user-images.githubusercontent.com/21186879/38557662-4ec08fe8-3c93-11e8-9b7e-4a78c001f0e2.png)

[2018-04-10 13:11] skindsc1 commented on #75
@clegarde Are you happy with this?

[2018-04-10 13:16] skindsc1 opened #104 "Suggested search list"
Is there any way to limit the number of suggestions when performing a search?  This is a useful feature but it might be easier to limit the number to the most recent 5 (or some other agreed upon number).

![image](https://user-images.githubusercontent.com/21186879/38558922-48672dd8-3c97-11e8-83e6-74d11e999fe4.png)

[2018-04-10 13:30] skindsc1 opened #105 "Able to add Refit without choosing to edit the element"
When viewing an element, I was able to add a Refit without first choosing to edit the element.

[2018-04-10 13:32] skindsc1 opened #106 "Able to add a Pair Match without editing element"
When viewing an element I was able to add a pair match without first choosing to edit the element.

[2018-04-10 13:38] skindsc1 opened #107 "Limit number of pair matched elements"
It would be helpful to be able to limit the number of pair matched elements that can be added to one.  I was able to add an element to the pair match list when there had already been an element listed as a pair match.

![image](https://user-images.githubusercontent.com/21186879/38560060-60251c7a-3c9a-11e8-95e3-d8b18b11d8f4.png)

[2018-04-10 13:44] skindsc1 commented on #105
After playing with the site I can now see that all the other "Details" functions can be added without choosing to edit the element.  Should those also be locked down when not in the "Edit" mode?  Otherwise why lock down anything else?

[2018-04-10 13:44] skindsc1 commented on #106
After playing with the site I can now see that all the other "Details" functions can be added without choosing to edit the element.  Should those also be locked down when not in the "Edit" mode?  Otherwise why lock down anything else?

[2018-04-10 14:52] skindsc1 commented on #68
Until the CoRA Analytics app is up and running, can we add a box labeled "Composite Score" that can then be searchable using a Methods search?

[2018-04-10 14:52] skindsc1 commented on #69
Until the CoRA Analytics app is up and running, can we add a box labeled "Composite Score" that can then be searchable using a Methods search?

[2018-04-10 14:52] skindsc1 commented on #70
Until the CoRA Analytics app is up and running, can we add a box labeled "Composite Score" that can then be searchable using a Methods search?

[2018-04-10 14:53] skindsc1 commented on #71
Until the CoRA Analytics app is up and running, can we add a box labeled "Composite Score" that can then be searchable using a Methods search?

[2018-04-10 14:53] skindsc1 commented on #72
Until the CoRA Analytics app is up and running, can we add a box labeled "Composite Score" that can then be searchable using a Methods search?

[2018-04-10 14:53] skindsc1 commented on #73
Until the CoRA Analytics app is up and running, can we add a box labeled "Composite Score" that can then be searchable using a Methods search?

[2018-04-10 14:53] skindsc1 commented on #74
Until the CoRA Analytics app is up and running, can we add a box labeled "Composite Score" that can then be searchable using a Methods search?  @SachinPawaskarUNO @clegarde

[2018-04-10 15:04] emilystreetman commented on #93
Verified that this issue has been addressed

Closing ticket

[2018-04-10 15:04] #93 closed

[2018-04-10 15:11] emilystreetman commented on #92
Header verified as corrected, additional location of the phrase "analysis tests" noted in the below image, please update to "additional tests" as well.

![Uploading analysis tests2.jpg…]()

[2018-04-10 15:20] emilystreetman commented on #75
@skindsc1 @clegarde For the tibia, looks like "Select Option" has been retained as the no-entry default. This makes sense to me. I'll leave it to others who have weighed in previously to close this ticket, though.

![age method null](https://user-images.githubusercontent.com/34662044/38566205-ab479ca4-3cd2-11e8-9df4-b672d8e9026c.jpg)

[2018-04-10 15:37] karenforeman commented on #88
@SachinPawaskarUNO  Confirmed GitHub and Cora. Currently have access to Cora demo, can you please add USS Oklahoma project? Thank you, Karen Foreman

[2018-04-10 15:56] #64 closed

[2018-04-10 16:00] emilystreetman commented on #92
and "for this DNA" in the same line should read "for this DNA sample"

[2018-04-10 16:02] emilystreetman opened #108 "DNA > Additional tests > dropdown menu should be alphabetical"
![alphabetize additional tests](https://user-images.githubusercontent.com/34662044/38568595-8ed3c600-3cd8-11e8-8699-3d6087619e3c.jpg)

[2018-04-10 19:51] #81 closed

[2018-04-10 20:13] CTegtmeyer commented on #86
Hi @SachinPawaskarUNO . What are you looking for from me as far as this issue is concerned? Id like to help as much as I can, but I am unclear as to what I should be doing on it.

[2018-04-10 20:15] CTegtmeyer opened #109 "Import Capabilities?"
Another inquiry... As the system is set up, I don't see an ability to import previously documented inventories (e.g. from excel). Will there be an option to be able to do this in the future, or will all previous inventories have to be put into the system from scratch as well as new inventories?

[2018-04-10 21:28] SachinPawaskarUNO commented on #86
@CTegtmeyer, Since we have created a separate issue for a new articulations report, I think you can now close this issue.

[2018-04-11 01:25] SachinPawaskarUNO opened #110 "create CoRA account for Mike Kenyhercz"
create CoRA account for Mike Kenyhercz

[2018-04-11 02:02] SachinPawaskarUNO commented on #86
@CTegtmeyer I would like you to work with @clegarde and @fedamann to pull together the list of base Bone articulations that are missing in CoRA. That is why I have assigned you 3 to this issue.

[2018-04-11 15:11] SachinPawaskarUNO commented on #60
@fedamann and @clegarde At some point in time we need to get threshold values for each measurement.

[2018-04-11 15:16] SachinPawaskarUNO commented on #67
Related to issues #68, #69, #70

[2018-04-11 17:14] #38 closed

[2018-04-11 20:30] clegarde commented on #96
GTG

[2018-04-11 20:30] #96 closed

[2018-04-11 20:38] emilystreetman opened #111 "Combine submethods for Nawrocki 1998 (Cranium > Age)"
The Nawrocki 1998 data entry page should be a single page with 27 data entry points on it.  The current distinction of endocranial and ectocranial is problematic for data analysis, because composite scores use data from both "submethods".

![nawrocki submethods](https://user-images.githubusercontent.com/34662044/38641960-13ee68aa-3dc8-11e8-97d7-f0b349d75c9a.jpg)

Combining these submethods will av

[2018-04-11 20:42] emilystreetman opened #112 "Combine submethods for Cranium > Age > Meindl and Lovejoy 1985"
The Meindl and Lovejoy data entry page should be a single page with 10 data entry points on it. The current distinction of vault and lateral-anterior is problematic for data analysis, because data points (pterion and midlambdoid) are duplicated in each submethod.

![meindl](https://user-images.githubusercontent.com/34662044/38642141-ad6c4eb6-3dc8-11e8-9999-702791697ad4.jpg)

Combining these submet

[2018-04-11 20:44] #28 closed

[2018-04-11 20:44] clegarde commented on #90
GTG

[2018-04-11 20:44] #90 closed

[2018-04-11 20:45] clegarde commented on #97
GTG

[2018-04-11 20:45] #97 closed

[2018-04-11 20:48] #104 closed

[2018-04-11 20:51] emilystreetman opened #113 "Divide submethods for Os coxa > Age > McKern and Stewart 1957"
The McKern and Stewart 1957 data entry page for the os coxa should be divided into two submethods: "Epiphyseal fusion" and "Pubic symphysis". The page currently conflates scores specific to the development and erosion of the pubic symphysis with epiphyseal fusion scores- the latter are collected for dozens of locations across the skeleton.

![mckernpubic](https://user-images.githubusercontent.com/

[2018-04-11 20:55] #100 closed

[2018-04-11 21:03] emilystreetman opened #114 "Data entry options for Cranium > Ancestry > Hefner and Ousley 2014 should be 0 and 1 only"
To be discussed further with @clegarde and @fedamann :

The current data entry options for Hefner and Ousley 2014 are derived from the scoring method detailed in Hefner 2009. To facilitate the calculation of the SUMMED OSSA (composite) score required for Hefner and Ousley 2014, I suggest the data entry follow the OSSA score for each trait, allowing only 0s and 1s for each data point. If this is ad

[2018-04-12 13:34] clegarde commented on #111
This should also include the Nawrocki 1998 palatine features. All three of these are combined to generate ONE composite score (SUMALL) on the cranium. This method includes the three "submethods" (Ectocranial sutures, endocranial sutures, and palatine) with composite scores on the spreadsheet provided to you via email 11 April 2018. None of these could be applied to only one skeletal element, so th

[2018-04-12 13:40] clegarde commented on #110
@mkenyhercz, You should have access after a new release gets pushed this weekend. Please try next week and close and/or comment on this issue accordingly.

[2018-04-12 13:52] clegarde opened #115 "Cannot delete a Trauma or Pathology"
Under skeletal element, Pathology, a trauma or pathology cannot be deleted. The icon for deleting a trauma and pathology is there, and it pops up with the "are you sure you want to delete?", but then an error message pops up. You can delete an anomaly.
![deleting trauma](https://user-images.githubusercontent.com/7350474/38681503-75a6b05a-3e2e-11e8-9f90-b474d7a07777.PNG)

[2018-04-12 13:57] clegarde commented on #65
GTG

[2018-04-12 13:57] #65 closed

[2018-04-12 13:59] clegarde commented on #67
Specific issue have been created for each method with composite score, so I'm closing this ticket.

[2018-04-12 13:59] #67 closed

[2018-04-12 14:01] clegarde commented on #75
This seems appropriate. Closing.

[2018-04-12 14:01] #75 closed

[2018-04-12 14:06] clegarde commented on #78
GTG

[2018-04-12 14:06] #78 closed

[2018-04-12 14:17] clegarde opened #116 "Generating an Articulation Report"
We need to be able to generate a report that consists of multiple elements that have been linked together, i.e., the "logical grouping" (from meeting on 11Apr18 @SachinPawaskarUNO @mei215).
One part of this is generating a report that shows articulating elements - skeletal element (SE) 1 articulates with SE2, which articulates with SE3 and SE4. If I ask for articulating elements with SE1, I should

[2018-04-12 15:09] nmcelroy commented on #115
@clegarde Hi, I tried to replicate this issue and the delete is working for me on traumas/pathologies. When I put in the multi zone selection option for these two I thought I fixed the delete as well. Could you give any additional information/screenshots that might help me recreate the issue? Thanks!

[2018-04-12 16:17] clegarde commented on #115
I added traumas under the following cranium: CIL 2003-116-G-01-X-232C-101. I click delete.
![trauma_1](https://user-images.githubusercontent.com/7350474/38690094-e1c3f78e-3e42-11e8-87e8-b294f9361cd3.PNG)
Then I get the following message, I click "ok."
![trauma_2](https://user-images.githubusercontent.com/7350474/38690140-fb816cba-3e42-11e8-9523-72e1cb4d2e51.PNG)
Then I get the error.
![trauma_3](h

[2018-04-12 16:19] clegarde commented on #115
This was something we had addressed earlier this winter, when the delete option was added. There were permission issues, so I don't know if that's playing a role here.  But I am deleting something I added, so I should be able to delete it. I could see it giving me a "permissions" error if it was me trying to delete someone else's.

[2018-04-12 17:59] nmcelroy commented on #115
Ok, thank you! It was a permission issue.

[2018-04-13 00:23] #86 closed, assigned to clegarde, fedamann, SachinPawaskarUNO, CTegtmeyer

[2018-04-15 02:59] SachinPawaskarUNO commented on #88
@karenforeman This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 03:01] SachinPawaskarUNO commented on #92
@emilystreetman This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 03:03] SachinPawaskarUNO commented on #99
@skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified. You will have to use **accession_number,provenance1,provenance2,designator**. Note the each is separated by a **, [comma with no spaces]**

[2018-04-15 03:05] SachinPawaskarUNO commented on #103
@skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 03:05] SachinPawaskarUNO commented on #105
@skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 03:05] SachinPawaskarUNO commented on #106
@skindsc1 This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 03:06] SachinPawaskarUNO commented on #108
@emilystreetman This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 03:08] SachinPawaskarUNO commented on #110
@mkenyhercz, @clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 03:09] SachinPawaskarUNO commented on #115
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 13:43] clegarde opened #117 "Can't open a skeletal element"
I can't open a skeletal element. Clicking "Search" or "new" results in the "Whoops something went wrong" screen. You can do the search under "DNA", but when clicking on a skeletal element, it goes to the "Whoops something went wrong" screen again.
![screen shot 2018-04-15 at 8 39 22 am](https://user-images.githubusercontent.com/7350474/38779068-e6a1d184-4088-11e8-8a89-2fea7dcb5737.png)
![screen sh

[2018-04-15 13:55] SachinPawaskarUNO commented on #117
Carrie,
I think you got that error, because I was doing a quick tweak on cora-cat.
Can you please try again and let me know?

Respectfully,
Sachin Pawaskar, Ph.D, MBA, MS
College of Information Science and Technology
University of Nebraska at Omaha
Office: PKI 277-C
Tel: (402) 554-4904
From: "C. LeGarde" <notifications@github.com>
Reply-To: spawaskar-cora/cora-docs <reply@reply.github.com>
Date: S

[2018-04-15 13:57] SachinPawaskarUNO commented on #117
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-15 13:59] clegarde commented on #117
Yep, GTG.

[2018-04-15 13:59] #117 closed

[2018-04-15 14:00] clegarde commented on #115
GTG

[2018-04-15 14:00] #115 closed

[2018-04-16 12:49] skindsc1 commented on #99
@SachinPawaskarUNO, Could you give an example of the formatting of the composite key using the following number?  I have been unable to search for an element.  Example: CIL 2003-116-G14-X253A-201

[2018-04-16 12:53] karenforeman commented on #88
@SachinPawaskarUNO  Good morning! I now have access to CoRA- USS Oklahoma and CoRA Demo.
Thank you, I am closing this ticket.

[2018-04-16 12:59] #103 closed

[2018-04-16 13:00] karenforeman commented on #88
I do not have an option to close this ticket, I asked @clegarde  to please close this ticket for me.
Thank you, Karen Foreman

[2018-04-16 13:00] #105 closed

[2018-04-16 13:01] #106 closed

[2018-04-16 13:11] skindsc1 opened #119 "Add stature methods to CoRA"
This ticket is meant to introduce a discussion of adding stature methods to CoRA since this is something we have talked about as a goal.  Right now stature is an option for the bio profile but there are no methods available.

[2018-04-16 13:12] tedunn opened #120 "CORA Access"
I do not seem to have access to CORA since the most recent reset. I have tried both the standard reset password and my old ones. @SachinPawaskarUNO

[2018-04-16 13:22] skindsc1 opened #121 "Unable to delete pathology or trauma"
After adding pathology or trauma I have not been able to delete them (by clicking on the red trash can).

![image](https://user-images.githubusercontent.com/21186879/38811446-1e8bd51a-414f-11e8-80df-821cd8c8efda.png)

[2018-04-16 13:41] emilystreetman commented on #108
Verified as fixed - closing ticket.

[2018-04-16 13:41] #108 closed

[2018-04-16 13:42] emilystreetman commented on #92
Verified as fixed - closing ticket

[2018-04-16 13:42] #92 closed

[2018-04-16 13:51] emilystreetman commented on #79
Verified as fixed for:

- Buckberry and Chamberlain 2002
- McKern and Stewart 1957 Pubic Symphysis
- Falys and Prangle
- both Meindl and Lovejoy 1985 composites
- both Nawrocki 1998 composites
- Hefner and Ousley 2014 OSSA sum

Possible new ticket - not all scores for all methods require this broad range option, but since this issue is fixed, I will close this ticket. (If anyone writes a new ticke

[2018-04-16 13:51] #79 closed

[2018-04-16 13:53] clegarde commented on #121
@SachinPawaskarUNO @skindsc1 , I can add and delete (I tried again since I closed my ticket yesterday to make sure with your update last night it still worked), so maybe this is still a permissions issue?

[2018-04-16 13:53] #88 closed

[2018-04-16 13:54] emilystreetman commented on #111
Verified as fixed - closing ticket.

[2018-04-16 13:54] #111 closed

[2018-04-16 14:02] emilystreetman commented on #114
Update: all data entry options retain Hefner 09 values, and composite score calculates with a possible range of 4-19.  However, composite score search option is limited to range 0-6.

[2018-04-16 14:17] emilystreetman commented on #112
Verified as fixed with latest release - closing ticket

[2018-04-16 14:17] #112 closed

[2018-04-16 14:18] emilystreetman commented on #113
Verified as fixed - closing ticket.

[2018-04-16 14:18] #113 closed

[2018-04-16 14:30] skindsc1 opened #122 "Add a "Search" button to search function"
When searching for an element (by bone, designator, etc.) could we update the search function to add a "Search" button that must be pushed in order to initiate the search?  Right now it will search when the drop down is activated but if you access the drop down before updating the search bar you will get the message that elements cannot be found.  Adding a button that must be pushed in order to se

[2018-04-16 14:39] emilystreetman commented on #122
I also think that it is unintuitive that typing "cranium" and hitting Enter finds no results.

Instead, I suggest that the current search function would be more intuitive if it were represented by a typing bar, a required dropdown, and a search button that worked with hitting Enter. This would also allow a user to select the search method before typing into the box.

[2018-04-16 14:40] skindsc1 opened #123 "Cannot switch projects"
I am signed in to the Oklahoma project and cannot switch into the CoRA Demo or Ploesti.

[2018-04-16 14:45] karenforeman commented on #88
Thank you Carrie!
K

-----Original Message-----
From: C. LeGarde [mailto:notifications@github.com]
Sent: Monday, April 16, 2018 8:58 AM
To: spawaskar-cora/cora-docs <cora-docs@noreply.github.com>
Cc: Foreman, Karen L CTR (US) <karen.l.foreman4.ctr@mail.mil>; Mention <mention@noreply.github.com>
Subject: [Non-DoD Source] Re: [spawaskar-cora/cora-docs] create CoRA account for Karen Foreman (#88)

Al

[2018-04-16 14:53] clegarde commented on #71
Looks good! Together with #70

[2018-04-16 14:53] #71 closed

[2018-04-16 15:26] clegarde commented on #70
Looks good. Combined with #71

[2018-04-16 15:26] #70 closed

[2018-04-16 15:27] clegarde commented on #73
Looks good, combined with #72

[2018-04-16 15:27] #73 closed

[2018-04-16 15:27] clegarde commented on #72
Looks good, combined with #73 by #111

[2018-04-16 15:27] #72 closed

[2018-04-16 15:30] clegarde commented on #63
When doing a zone search, you should be able to ask for it to return an inclusive list. For example, if I search for zones 2 and 11 on the humerus, I want it to return a list of elements that ONLY have those two zones, not a list of elements that have that zone. It is set up as an "or" option, but it should give an "and" output. Zones 2 AND 11. Or it should be an option to search one way or the ot

[2018-04-16 15:32] emilystreetman commented on #98
Updated articulations list sent to @clegarde via DPAA email

[2018-04-16 16:06] clegarde commented on #98
@SachinPawaskarUNO @fedamann @emilystreetman
[Bone articulations 16Apr18 ENS_updated.xlsx](https://github.com/spawaskar-cora/cora-docs/files/1916188/Bone.articulations.16Apr18.ENS_updated.xlsx)

[2018-04-16 16:28] mkenyhercz commented on #110
I just attempted to login - username michael.w.kenyhercz.ctr@mail.mil and
password Peacemaker!2 and still do not have access to CoRA. I tried to also
click on the password reset and received "These credentials do not match
our records".

On Sat, Apr 14, 2018 at 5:08 PM, Sachin Pawaskar <notifications@github.com>
wrote:

[2018-04-16 16:36] clegarde commented on #94
This has been taken care of with combining the methods into one. #111

[2018-04-16 16:36] #94 closed

[2018-04-16 16:40] clegarde opened #124 "Add headers/label to separate features (endo vs ecto) for Nawrocki 1998 (cranium, age)"
Because features have the same name (different abbreviations) for endo- and ectocranial features, it would help ensure the data isn't entered in the wrong spot if Ectocranial, Endocranial, and Palatine were added to separate the sections.
![nawrocki 1998_headers](https://user-images.githubusercontent.com/7350474/38823038-e9eeee48-416a-11e8-8386-bc9fb70a4f95.PNG)
![nawrocki 1998_headers2](https://u

[2018-04-16 17:26] Lariabeth commented on #82
Closing this because with the changes to the reports dashboard, I can longer replicate this

[2018-04-16 17:26] #82 closed

[2018-04-16 17:37] clegarde opened #125 "Labeling Trauma as #1, #2, etc. so multiple zones affected by one trauma will be linked"
When entering a trauma that affects multiple zones, there is no way to know after entering that these are considered a single trauma. When entered like this:
![traumaentry](https://user-images.githubusercontent.com/7350474/38825157-330695f8-4171-11e8-8874-0683ec6b71b6.PNG)

It would be nice if they could then be labeled together, to sort of link them, possibly like this:
![traumanumber](https://us

[2018-04-16 17:37] skindsc1 commented on #99
@SachinPawaskarUNO Perfect!  I am going to close this ticket but I think we may need to open a new one to figure out a place to put an example of the way the composite key goes together.  I was originally thinking that no hyphens can be present anywhere which is why I was having an issue searching.

[2018-04-16 17:37] #99 closed

[2018-04-16 17:43] clegarde opened #126 "Add new description for McKern & Stewart (1957) - pubic symphysis"
Since we separated this submethod, it pulled the original description.
![mckern and stewart_pubicsymph description](https://user-images.githubusercontent.com/7350474/38825683-21336f16-4173-11e8-8350-f30df0414be5.PNG)

Should be "Age estimation by scoring morphological features of the pubic symphysis."

[2018-04-16 20:08] SachinPawaskarUNO commented on #110
@mkenyhercz I just tried login using your credentials and it seems to be working fine. So, I would like you to give me a step by step flow with screenshot of what you are doing and seeing.

[2018-04-16 20:18] mkenyhercz commented on #110
I go to the CoRA webpage (http://cora-dev.herokuapp.com), then to the login
page (http://cora-dev.herokuapp.com/login), put in my email (
michael.w.kenyhercz.ctr@mail.mil) and password Peacemaker!2 and get the
following error (screen shot)

On Mon, Apr 16, 2018 at 10:08 AM, Sachin Pawaskar <notifications@github.com>
wrote:

[2018-04-16 20:25] SachinPawaskarUNO commented on #110
@clegarde, @emilystreetman, can one of you please show @mkenyhercz and @tedunn how to attach a screen shot to GitHub issues.

[2018-04-16 20:28] mkenyhercz commented on #110
![cora_login](https://user-images.githubusercontent.com/18051508/38833301-a9c38a96-41b4-11e8-9c91-ace978718df3.JPG)

[2018-04-16 20:28] SachinPawaskarUNO commented on #110
@clegarde @emilystreetman @mkenyhercz Wait a second, I just noticed from previous comment that Mike is not going to the correct URL. He is going to the DEV environment instead of CAT. Everyone should be going to [CoRA-CAT](https://cora-dev.herokuapp.com) and using HTTPS instead of HTTP.

@fedamann Please ensure that all DPAA folks are using the correct URLs

[2018-04-16 20:30] tedunn commented on #110
Issue resolved for me.

[2018-04-16 20:31] #120 closed

[2018-04-16 20:31] #110 closed

[2018-04-16 20:31] mkenyhercz commented on #110
Same, thought he link you provided still took me to the cora-dev. I
switched it to cora-cat and issue is resolved.

On Mon, Apr 16, 2018 at 10:30 AM, Tyler E. Dunn <notifications@github.com>
wrote:

[2018-04-16 20:31] #87 closed

[2018-04-17 02:52] SachinPawaskarUNO commented on #126
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-17 11:42] clegarde commented on #126
“on various skeletal elements” needs to be deleted because it is only on the os coxa. It could say “on the os coxa” but I don’t think that’s necessary.

[2018-04-17 14:00] emilystreetman commented on #74
I tested this. When I went to a USS _OK_ os coxa, I could select "Create" for this method (above). When the screen opened, however, there was data already present (below). The first time I clicked Save, it gave me the Whoops error message (unsuccessful). The second time, it saved this data and autopopulated the composite score (successful). I didn't do anything different between these two trials.

[2018-04-17 14:26] nmcelroy commented on #121
@skindsc1 I looked into this and tried to recreate the issue by logging into an anthropologist account and switching projects. I had no problems when doing this, so I was wondering if this problem is happening to any other anthropologists as well or if it's only on your account?

[2018-04-17 14:28] SachinPawaskarUNO commented on #43
I have tried this on IE and it works for me. The icons display correctly.

@fedamann This might be a DPAA only issue with regards to some script being blocked or an issue with the version of IE (IE update/build number) being used at DPAA.

[2018-04-17 14:29] SachinPawaskarUNO commented on #95
Currently the field is a alphanumeric field, hence it is now been display in alphanumeric order. We need to discuss if this can be made into a number only field.

[2018-04-17 15:07] skindsc1 commented on #121
@nmcelroy @SachinPawaskarUNO  I just logged in and was able to delete pathology/trauma.  Not sure what was going on yesterday but I will close this ticket now.  I have not heard of anyone else having this problem.

[2018-04-17 15:07] #121 closed

[2018-04-17 15:15] emilystreetman commented on #80
Looks like the Sequence Report exists in the new reports dashboard, but there is still no search by I-# possible. This was discussed in the meeting on 11Apr18, and I think @SachinPawaskarUNO said it could be added easily.

![mito report](https://user-images.githubusercontent.com/34662044/38879120-317c0c1a-4228-11e8-95ca-c80c10999e35.jpg)

[2018-04-17 16:06] tlvandeest opened #127 "Add "Possible" to Trauma types"
@clegarde @fedamann
Suggest adding the following types of Trauma to the drop-down menu, recording observations that cannot be definitively assessed as trauma can still be useful in large and commingled assemblages:
Possible antemortem
Possible antemortem - blunt force
Possible antemortem - sharp force
Possible antemortem - projectile
Possible antemortem - treatment
Possible perimortem
Possible per

[2018-04-17 19:53] emilystreetman commented on #116
This also appears to be linked to ticket #91 (Create an articulations report by @CTegtmeyer) although she specified hands and feet

[2018-04-17 19:54] emilystreetman commented on #98
This ticket is related to #91 - create an articulations report by @CTegtmeyer

[2018-04-18 02:33] SachinPawaskarUNO commented on #127
@tlvandeest This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-18 13:46] tlvandeest commented on #127
@SachinPawaskarUNO All suggested additional labels have been added.

[2018-04-18 13:46] #127 closed

[2018-04-18 15:35] SachinPawaskarUNO commented on #126
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-18 16:38] skindsc1 opened #128 "Aging methods using equations"
The following aging methods use an equation to develop an age estimate:
-Prince and Ubelaker, 2002
-Nawrocki, 1998

The master spreadsheet including all age methods in CoRA, their respective features/scores/composite, and all related results (e.g., mean age, standard deviation, etc.) per method are included in the spreadsheet attached here.

@SachinPawaskarUNO @clegarde

[Aging_Methods.xlsx](https

[2018-04-18 16:41] clegarde commented on #126
GTG

[2018-04-18 16:41] #126 closed

[2018-04-18 16:43] clegarde opened #129 "Skeletal Element Search - make "by bone" the default search"
Rather than accession, make the skeletal element search by by bone as the default. Per @SachinPawaskarUNO and scrum discussion on 18APR18.

[2018-04-18 16:46] clegarde opened #130 "Remove "on various skeletal elements" from method description"
Remove "on various skeletal elements" from methods description - McKern and Stewart 1957-epiphyseal fusion.

[2018-04-18 16:53] clegarde commented on #102
Here is the data for the Walker 2008 method.
[Walker 2008.xlsx](https://github.com/spawaskar-cora/cora-docs/files/1924981/Walker.2008.xlsx)

[2018-04-18 17:02] clegarde opened #131 "Change feature description for Gill 1998 > cranium > ancestry"
Cranium > Ancestry > Gill 1998
For the feature "Mastoid form", the description that is currently "posterior tubercle" should be "oblique with posterior tubercle"

![gill 1998_description](https://user-images.githubusercontent.com/7350474/38946613-9d4a65a4-42ff-11e8-90d7-71e60945c810.PNG)

[2018-04-18 17:11] clegarde opened #132 "Change features scores for Mann et al 1991 > Cranium > Age"
Change feature scores from 0 and 1 to "open", "partial obliteration", "complete obliteration" for all four features (incisive, posterior median palatine, transverse palatine, anterior median palatine).

![mann et al 1991_feature scores](https://user-images.githubusercontent.com/7350474/38947006-c9d96146-4300-11e8-949b-3fa0fe657195.PNG)

[2018-04-18 17:16] tlvandeest opened #133 "Change default search response message"
When searching, if ENTER is used following entry of the search term the following response is received.
![cora search method](https://user-images.githubusercontent.com/35308331/38947245-9e2be0ea-4301-11e8-8992-b65ac594284c.JPG)
 The search response should read something like: "No skeletal element records found. Ensure you have used the drop down menu to select the type of search intended. The defa

[2018-04-18 19:36] clegarde opened #134 "Update feature score for Osteophyte Formation > Falys and Prangle 2015 (clavicle, age)"
Feature score should only be 1 to 4 for the osteophyte formation feature. So the composite score range is 3 to 16. Sorry we missed this when we compiled the composite score data.
![falys and prangle 2015_osteophyte score](https://user-images.githubusercontent.com/7350474/38953915-ceba32f2-4315-11e8-9d61-c9e33453bd37.PNG)

[2018-04-18 21:58] SachinPawaskarUNO commented on #43
@fedamann I was able to see the icons in IE11, see screenshot below.
This might be a DPAA only issue with regards to some style/font url being blocked or an issue with the version of IE (IE update/build number) being used at DPAA.

![image](https://user-images.githubusercontent.com/19599773/38960302-966e4fe6-4329-11e8-899d-66c10e0ebc33.png)

[2018-04-19 00:02] clegarde commented on #44
I updated the markdown - I forgot to switch to a different branch, so I accidentally did it in the master. Whoops!

[2018-04-19 02:53] SachinPawaskarUNO commented on #134
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 02:53] SachinPawaskarUNO commented on #133
@tlvandeest This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 02:53] SachinPawaskarUNO commented on #132
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 02:54] SachinPawaskarUNO commented on #131
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 02:54] SachinPawaskarUNO commented on #130
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 02:54] SachinPawaskarUNO commented on #129
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 02:55] SachinPawaskarUNO commented on #114
@emilystreetman This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 02:57] SachinPawaskarUNO commented on #98
@clegarde and @emilystreetman This issue has been addressed with a new release. Please verify and close issue if verified.

Please verify that you can add some of the new created articulations.

@CTegtmeyer You may also want to try and test that you can create articulations for hand and foot bones.

[2018-04-19 02:58] SachinPawaskarUNO commented on #95
@emilystreetman This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-19 03:01] SachinPawaskarUNO commented on #74
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

We may have a similar data issue for USS Oklahoma with other methods. But for now we have a workaround.

[2018-04-19 03:03] SachinPawaskarUNO commented on #61
New discussion categories have been added by @SachinPawaskarUNO, see screenshot below

![image](https://user-images.githubusercontent.com/19599773/38969146-61211ff0-4354-11e8-9234-28d75ea11532.png)

[2018-04-19 03:03] #61 closed

[2018-04-19 13:07] clegarde commented on #134
GTG

[2018-04-19 13:07] #134 closed

[2018-04-19 13:08] clegarde commented on #129
GTG

[2018-04-19 13:08] #129 closed

[2018-04-19 13:10] clegarde commented on #132
GTG

[2018-04-19 13:10] #132 closed

[2018-04-19 13:37] clegarde commented on #130
GTG

[2018-04-19 13:37] #130 closed

[2018-04-19 13:41] clegarde commented on #43
This may be over kill, but I thought I'd show what we see in IE vs. Edge. Edge seems to be working pretty well. If it's working on a non-government computer, maybe there is some sort of block.
![no icons_dashboard](https://user-images.githubusercontent.com/7350474/38994829-14d127e0-43ad-11e8-9f2c-965cfa078f3b.PNG)
![no icons_details](https://user-images.githubusercontent.com/7350474/38994838-18dc3

[2018-04-19 14:02] tlvandeest commented on #133
Message change verified. The following typos were noted:
1. Add period after "...by Bone"
2. "s" should be removed from "Skeletal Elements records" so it read "Skeletal Element records" @SachinPawaskarUNO @clegarde

[2018-04-19 14:44] Lariabeth opened #135 "Edgar 2013 ancestry"
For Edgar 2013 (cranium and mandible) ancestry - it would be nice to have a header for the data entry column that indicates the scores entered should be ASU scores.  Edgar's equations convert these to binary based on the ASU scores - if possible, can we get them to be automatically configured within Cora or would that be an analytics thing ?  I attached screenshots and an Excel sheet demonstrating

[2018-04-19 17:26] CTegtmeyer opened #136 "Misarticulations and articulation issues"
@SachinPawaskarUNO I've created this issue for testing the hand and feet articulations.

I have found an issue with the articulation of Metatarsal 1. It does not have the set up to articulate with the medial (first) cuneiform, which is really its only articulation. Currently, the articulation options for this bone are with the navicular, the cuboid and the intermediate cuneiform, none of which the

[2018-04-19 17:33] SachinPawaskarUNO commented on #136
@CTegtmeyer This is exactly the kind of feedback I was hoping for. So, Thanks Much.

@clegarde and @emilystreetman, I would really welcome and appreciate if one or both of you have a quick phone call with @CTegtmeyer and identify these erroneous articulations and attach a spreadsheet to this issues with the necessary changes. I'm hopeful we can get this accomplished by EOD Friday, so that I can pu

[2018-04-19 17:44] clegarde commented on #136
@CTegtmeyer, since you are actively testing and trying to use these articulations, can you please address these in the spreadsheet that was provided to Sachin in #98 and add any that you have found to be missing? @emilystreetman focused on trying to add missing articulations and did not focus on checking through elements that were already listed with articulations. I think you are tracking much mo

[2018-04-19 17:54] CTegtmeyer commented on #136
@clegarde, Yes! I did not see the spreadsheet prior, so I will add these to the it as soon as I am finished. I am working on the hand articulations now and I will try to finish them before the staff meeting. I leave at 10 (Hawaii time) today and am on leave until the 26th, but if you need to call me to discuss this issue as @SachinPawaskarUNO recommends, I am happy to communicate with you outside

[2018-04-19 18:01] SachinPawaskarUNO commented on #136
@clegarde @CTegtmeyer Thank you for getting this coordinated amongst yourself.

@CTegtmeyer can you please add new changes to the bottom of the spreadsheet, also when you add or subtract maybe use a different colored row for additions versus subtractions. Thanks much

[2018-04-19 18:28] CTegtmeyer commented on #136
@clegarde @SachinPawaskarUNO
Here is the updated spreadsheet with hand and feet misarticulations. The additions are in red, subtractions are in blue!

I only did the hands and feet, since that was what I was working on when I caught the first one, so if you would like me to double check the rest of the skeleton that already has articulations I can do that as well.

[19Apr18.CET_updated.xlsx](https

[2018-04-19 18:33] SachinPawaskarUNO commented on #136
@CTegtmeyer, Thank you for the updated spreadsheet.
YES Please, I would like to take you up on your suggestion of double checking the rest of the articulations

[2018-04-19 22:02] Lariabeth commented on #135
it is similar - a feature is scored and then converted to a binary based on the expression - we use the ASU method to enter the scores but the ancestry assessment is conducted using equations created by Edgar

[2018-04-20 07:40] CTegtmeyer commented on #136
@clegarde @SachinPawaskarUNO I did not find any other misarticulations in the skeleton. The last spreadsheet I sent should be the most updated one.

[2018-04-20 13:42] emilystreetman commented on #135
@SachinPawaskarUNO Yes, it's similar process. We usually need to cite both publications because the "scoring method" is from one publication and the "scores mean this ancestry" is from another. There are a handful of situations like this (e.g., Buikstra and Ubelaker 1994 -> Walker 2008).

@Lariabeth So, would you have people score 0-5 in Turner et al 1990 ASUDAS then 0-1 in Edgar 2013? Turner et a

[2018-04-20 14:08] SachinPawaskarUNO commented on #136
@CTegtmeyer @clegarde In the spreadsheet the first item is **metatarsal   1 | medial cuneiform**. I'm guessing this is the same as **Metatarsal   1 | First (Medial) cuneiform**.

[2018-04-20 15:17] clegarde commented on #135
This is a bit different than the Hefner 2009 and H&O 2014 scoring. We separate Hefner 2009 and H&O 2014 because we use Hefner 2009 by itself. Although the scores we are doing for Edgar 2013 are following Turner et al 1990, it should remain under the Edgar 2013 method in CoRA. We don't really use Turner et al 1990 by itself.  I think if we separated this process for Edgar 2013, it would cause too m

[2018-04-20 18:11] SachinPawaskarUNO commented on #60
@fedamann, We need to have someone tasked with getting threshold values for each measurement.

[2018-04-20 23:05] Lariabeth commented on #135
@clegarde - I agree with your comments above. I was hoping a separate column could be coded automatically using an "if...then" to convert to binary but wasn't sure how about complexities or whether that would go through analytics - I think it would reduce error if the Turner _et al._ 1990 scoring was entered by the user and the conversion to binary done automatically.  Do we also need the equation

[2018-04-22 15:26] SachinPawaskarUNO commented on #124
@clegarde I have added a method feature group filtering capability, this will allow you to see which features are related to which groups (e.g Cranium - Age - Nowrocki 1998, has feature groups Ectocranial, Endocranial, and Palatine). Please note we can also add this capability to other methods that have feature groups.
This issue has been addressed with a new release. Please verify and close issue

[2018-04-22 15:37] clegarde commented on #124
GTG

[2018-04-22 15:37] #124 closed

[2018-04-22 15:38] clegarde commented on #125
GTG

[2018-04-22 15:38] #125 closed

[2018-04-22 16:51] clegarde commented on #102
GTG

[2018-04-22 16:51] #102 closed

[2018-04-22 16:57] clegarde opened #137 "Skeletal Element Page layout in Safari"
When I add a new skeletal element, the view skeletal element page has an odd layout:
![new skeletal element](https://user-images.githubusercontent.com/7350474/39097595-0882adc8-4624-11e8-9ef4-505ef1b562ad.png)

I closed out and went back in to see if it would change back to the normal, but it does not. This is what other skeletal element pages look like (ones that I have not added):
![view skeleta

[2018-04-22 17:08] clegarde opened #138 "CoRA shouldn't allow the same "composite key" to be entered twice"
@fedamann @skindsc1 @cbrown311 @mei215, would there be a time that we'd ever be entering the same "composite key" twice? If possible, I think CoRA should provide an error message if you try to enter a "composite key" that has been used before. I can't think of a scenario where you'd want to enter the same accession, provenience 1 and 2, and designator. At least one of these fields should be differ

[2018-04-22 19:15] SachinPawaskarUNO commented on #138
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-22 22:56] clegarde commented on #138
GTG

[2018-04-22 22:56] #138 closed

[2018-04-22 23:45] clegarde commented on #137
I'm using Safari 11.1, OS X. But it's only doing this on the elements that I have added, so I'm not sure what that's all about. Maybe it's just something with my computer.

[2018-04-23 00:11] SachinPawaskarUNO commented on #137
What is the Mac OS, is it High Sierra version 10.13.4?

[2018-04-23 00:40] SachinPawaskarUNO commented on #137
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

I think I have a fix for this, it is an issue with how some browser engines are more strict than others.

[2018-04-23 03:00] clegarde commented on #137
Looks good now!

[2018-04-23 03:00] #137 closed

[2018-04-23 14:07] tlvandeest commented on #133
Corrections verified.

[2018-04-23 14:07] #133 closed

[2018-04-23 16:38] skindsc1 opened #139 "Rollover measurement descriptions not displaying"
When on the measurement page and hovering on the "?" icon for a measurement description, the description is not popping up - the cursor changes from the arrow to the "I" shape.  This happens in both Edge and IE and occurs regardless of whether the element is locked down or editing is enabled.

[2018-04-23 16:40] skindsc1 commented on #119
Just talked to @clegarde about the data needed to add stature methods into CoRA.  Sounds like @fedamann should have this data somewhere because it was used for LIMS development.

[2018-04-23 16:54] skindsc1 opened #140 "Create a report for Pathology and Trauma"
There is currently no way to search for elements that have pathology or trauma listed.  This may be helpful if looking for a pathology that is systemic or bilateral within the assemblage, or for trauma that may have affected multiple elements (for example, a tibia-fibula combination).

[2018-04-23 17:49] emilystreetman commented on #95
Verified and confirmed as addressed. Closing ticket.

[2018-04-23 17:49] #95 closed

[2018-04-23 17:51] emilystreetman commented on #114
Verified as addressed. Closing ticket.

[2018-04-23 17:51] #114 closed

[2018-04-23 17:58] emilystreetman commented on #136
@CTegtmeyer If you are OK to close this ticket, will you please also close #98?

[2018-04-24 17:09] #136 closed

[2018-04-24 17:11] CTegtmeyer commented on #98
@emilystreetman I closed issue #136 however, I am unable to close this issue because I am not assigned to this one. But I am okay with it being closed if you want to close it.

[2018-04-24 17:12] CTegtmeyer commented on #62
@SachinPawaskarUNO  This issue appears to have been fixed. I have not gotten this error with the most recent releases of CoRA. I will close the issue, but monitor it, just in case.

[2018-04-24 17:12] #62 closed

[2018-04-24 19:35] tlvandeest opened #141 "Correction to Samworth and Gowland (Os coxa - Age)"
A correction is needed for the Samworth and Gowland (2007) method for age using the os coxa.
The pubic symphysis drop-down should be 1 through 6, currently it is 1 through 3.
@clegarde @SachinPawaskarUNO
![cora samworth and gowland](https://user-images.githubusercontent.com/35308331/39209850-a0077710-47cc-11e8-8e95-187555c25ec3.JPG)

[2018-04-24 19:41] tlvandeest opened #142 "Correction to Phenice (Os coxa - Sex)"
A correction is needed to the Phenice (1969) method for sex using the os coxa.  One trait is absent entirely.
A line for scoring the  "Ventral Arc" should be added.  Scoring for the drop down menu is 1 through 3 (same as other two traits in method).
@clegarde @SachinPawaskarUNO
![cora phenice](https://user-images.githubusercontent.com/35308331/39210113-5f1c2416-47cd-11e8-98c7-1e9d59c09a59.JPG)

[2018-04-24 19:47] tlvandeest opened #143 "Delete McKern and Stewart for Cranium only (Age)"
McKern and Stewart (1957) only uses cranial sutures for the cranium, which the authors state are unreliable for age estimation based on their sample and should not be used. It is currently not a defined, useable method in CoRA and suggest it be removed from the drop down menu for the cranium. Discussed with C. LeGarde.  @clegarde @fedamann @SachinPawaskarUNO

[2018-04-24 20:06] tlvandeest opened #144 "Add Search ability to find bones with Trauma, Anomaly, or Pathology"
Suggest adding the ability to search for elements that have Trauma, Anomaly, or Pathology recorded.  This can be used for cases in which trauma is present and fragments may potentially be associated based on shared trauma within or between elements.  Same is true for anomalies and pathologies that can affect adjacent elements or is generally bilateral in occurrence. In trauma/pathology instances,

[2018-04-24 20:27] emilystreetman commented on #98
Closing along with #136 and following discussion with @CTegtmeyer

[2018-04-24 20:27] #98 closed

[2018-04-24 20:40] clegarde opened #145 "Add Mincer et al 1993 data > cranium > age"
When adding this method for age of the cranium, the following error pops up:
![mincer et al_1993](https://user-images.githubusercontent.com/7350474/39212903-b2a98e4a-47d5-11e8-93f4-3ef7192bb7de.PNG)

I believe this means there is no data. The data for features and scoring is attached.
[Mincer.et.al_1993_Features-Scores.xlsx](https://github.com/spawaskar-cora/cora-docs/files/1944812/Mincer.et.al_19

[2018-04-24 22:03] tlvandeest opened #146 "Add "Fusing" as option in Schaefer et al. 2009 (Age)"
Current options for Schaefer et al 2009 (Age) for scoring epiphyseal union only include Unfused and Fused. Including "Fusing" would capture the intermediate, active stage of the fusion process.   This change would be for all elements that include Schaefer et al. 2009 epiphyseal fusion in the methods for aging.  @fedamann @SachinPawaskarUNO @clegarde

[2018-04-25 00:23] clegarde opened #147 "Buikstra and Ubelaker 1994 < Cranium and Os coxa < Sex"
The features/scores are missing from CoRA for Buikstra and Ubelaker 1994 for the cranium, mandible and os coxa for sex. The data is attached.
[Buikstra and Ubelaker 1994_Feature-scores.xlsx](https://github.com/spawaskar-cora/cora-docs/files/1945039/Buikstra.and.Ubelaker.1994_Feature-scores.xlsx)

[2018-04-25 02:55] SachinPawaskarUNO commented on #141
@tlvandeest This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-25 02:56] SachinPawaskarUNO commented on #142
@tlvandeest This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-25 02:57] SachinPawaskarUNO commented on #143
@tlvandeest This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-25 03:02] SachinPawaskarUNO commented on #147
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-04-25 03:06] SachinPawaskarUNO commented on #146
@tlvandeest, @fedamann I'm Ok with this change. However since this is a big change as there are a lot of bones that use Schaefer et al 2009. I want to make sure we have discussed this before we proceed with the change. I would encourage that the anthropologists have an internal discussion on this first, before our next SCRUM meeting.

[2018-04-25 03:10] SachinPawaskarUNO commented on #145
@clegarde This was a slightly different issue, it was bad data provided by anthros. I have fixed the bad data. Most of these bones using this method currently have only one feature name **Third molar apical root development**, I'm Ok with changing this and add Tooth 1 and Tooth 16, etc. Just want to make sure that I clarify this and give the other anthros a change to discuss before we proceed. Let

[2018-04-25 15:12] emilystreetman commented on #145
@clegarde Please check in on Blankenship and Kasper methods

[2018-04-25 15:14] emilystreetman commented on #144
Duplicate to ticket #140

[2018-04-25 15:39] clegarde commented on #147
GTG

[2018-04-25 15:39] #147 closed

[2018-04-25 16:30] clegarde commented on #145
Updated formatting [ to { and added Blankenship and Kasper to the spreadsheet. These should all have the tooth listed as a feature. Blankenship and Mincer have the same scores (D-H), but Kasper had a couple extra (B-H). @SachinPawaskarUNO

[Third molar aging.xlsx](https://github.com/spawaskar-cora/cora-docs/files/1947935/Third.molar.aging.xlsx)

[2018-04-25 18:10] tlvandeest commented on #141
Correction verified

[2018-04-25 18:10] #141 closed

[2018-04-25 18:11] tlvandeest commented on #142
Correction verified.

[2018-04-25 18:11] #142 closed

[2018-04-25 18:14] tlvandeest commented on #143
McKern and Stewart 1957 is still in the drop down menu for the age methods in the cranium. @SachinPawaskarUNO @clegarde

[2018-04-25 21:42] tlvandeest commented on #143
Deletion verified.

[2018-04-25 21:42] #143 closed

[2018-04-30 01:59] SachinPawaskarUNO commented on #145
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-05-02 19:25] skindsc1 opened #149 "Add equations for Edgar 2013"
This ticket relates to Issue #135 and describes the steps that occur when using Edgar 2013.

The following are the steps involved in using Edgar 2013:
1) Score each tooth (upper and lower) according to ASU standards.  Currently, we are able to enter these scores in to CoRA (see below).
![image](https://user-images.githubusercontent.com/21186879/39543910-0f4f75f0-4e12-11e8-86d0-9711d552356b.png)

2

[2018-05-02 19:43] skindsc1 commented on #128
To follow up on the conversation from today, I looked through the aging methods and it does seem as though there are two types of aging methods:

1) Observe a bone, get a score or phase, and depending on that score or phase you can assign a couple of different types of information.  This includes mean age and standard deviation, a likelihood or probability that an individual is above a certain age

[2018-05-04 12:40] clegarde commented on #145
GTG

[2018-05-04 12:40] #145 closed

[2018-05-04 16:34] SachinPawaskarUNO commented on #60
@nmcelroy @rpernst Here is the limits file
[limits.xlsx](https://github.com/spawaskar-cora/cora-docs/files/1975189/limits.xlsx)

[2018-05-06 15:51] SachinPawaskarUNO commented on #60
@fedamann Here are Bone Measurements that we are missing limits for.

Cal_03 Minimum Height Distal to Articular Facets
Cal_04 Posterior Length
Cal_05 Maximum Length of the Calcaneus
Cra_28 Zygoorbitale Breadth (zo-zo, ZOB)
Fem_12 Maximum Anterio-posterior Length of the Lateral Condyle
Fem_13 Maximum Anterio-posterior Length of the Medial Condyle
Fem_18 Upper Breadth of Femur
Fem_19 Lateral Condyle

[2018-05-07 14:03] fedamann commented on #119
@skindsc1 @clegarde   I do not recommend adding stature equations into CoRA db.  This is for sorting commingled remains and not to determine stature of individual specimens.  We can think about this with the Analytics platform @SachinPawaskarUNO

[2018-05-09 02:28] clegarde opened #150 "Error when doing a DNA search"
DNA > Search. I typed in "154" and then hit enter. Without choosing a "search by" category. I had previously done a mito sequence search, so I thought it would do the same type without choosing. Can this provide error messages like when doing a skeletal element search? (Using Safari on my Mac)

![screen shot 2018-05-08 at 9 24 54 pm](https://user-images.githubusercontent.com/7350474/39792501-969b0

[2018-05-09 02:52] clegarde opened #151 "Adding Articulation - only show same side elements (i.e., left)"
I was adding an articulation for a right fibula, and the options in the list were correct bones, but also included elements from the left side. In the example below, CIL 2003-116 G-05 X-219B 403 is a left tibia, which would not articulate with a right fibula, only another right tibia would. Can we make this so it will only provide same side elements as possible articulations? i.e., it's a right fi

[2018-05-09 03:06] clegarde opened #152 "Allow space in Individual Number"
Allow a space in the Individual Number under a skeletal element. For this number, we use CIL at the beginning, and this might be something that other people may want as well.
![screen shot 2018-05-08 at 10 02 20 pm](https://user-images.githubusercontent.com/7350474/39793589-bd151bb0-530b-11e8-9ed3-e89fd321f7dc.png)

[2018-05-10 15:52] SachinPawaskarUNO commented on #60
See missing measurement threshold data in spreadsheet below provided by @fedamann and @aschaefer1

[MissingCoRAMeasurments_ADS.XLSX](https://github.com/spawaskar-cora/cora-docs/files/1992240/MissingCoRAMeasurments_ADS.XLSX)

[2018-05-14 17:07] SachinPawaskarUNO commented on #151
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-05-14 17:08] SachinPawaskarUNO commented on #150
@clegarde This issue has been addressed with a new release. Please verify and close issue if verified.

[2018-05-14 22:19] ascott6 opened #153 "Generating labels"
Would it be possible to generate labels from the entered information for each individual's elements?  Most likely would be the same as generating a report of every element associated with an individual, but have the report formatted in a way to print directly onto labels for tagging elements.

[2018-05-16 15:19] SachinPawaskarUNO commented on #4
We have a Welcome text for now. I'm closing this issue, we can always reopen this when we need to update the Welcome text

[2018-05-16 15:19] #4 closed

[2018-05-16 15:26] SachinPawaskarUNO commented on #60
@nmcelroy to update both repos and new version will be deployed this weekend by @SachinPawaskarUNO

[2018-05-16 15:26] SachinPawaskarUNO commented on #63
@skindsc1 Can you please review this issue and close if fixed

[2018-05-16 15:28] SachinPawaskarUNO commented on #83
@skindsc1 This issue should have been fixed, please test and close out if verified

[2018-05-16 15:28] SachinPawaskarUNO commented on #84
@skindsc1 This issue should have been fixed, please test and close out if verified

[2018-05-16 15:52] SachinPawaskarUNO commented on #107
@nmcelroy and @rpernst to enhance the pair match screen based on our discussion today.

[2018-05-16 15:57] SachinPawaskarUNO commented on #139
@spawaskar-cora/cora-administrators to look at this one someone's machine at DPAA lab

[2018-05-16 16:02] SachinPawaskarUNO commented on #146
@fedamann and @aschaefer1 to work on this.

[2018-05-16 17:08] tedunn commented on #146
@aschaefer1 and I will be working on this with Abby and Megan on this.

[2018-05-16 18:02] skindsc1 commented on #139
Just checked this on my computer and it is displaying now (in Edge).  Closing.

[2018-05-16 18:02] #139 closed

[2018-05-17 16:07] emilystreetman commented on #16
Images and guide have been updated. Pull request will be created when measurements sections has also been updated.

[2018-05-18 02:44] clegarde opened #155 "DNA - need spot to put inconclusive or unassigned results"
We had a brief discussion one scrum about how to deal with "inconclusive" or "unassigned" mito results, but I don't think we came to a conclusion. What if we added a checkbox or something to note whether or not we had reportable, inconclusive, or unassigned results? @fedamann @cbrown311 @SachinPawaskarUNO
![screen shot 2018-05-17 at 9 37 43 pm](https://user-images.githubusercontent.com/7350474/402

[2018-05-18 15:46] fedamann commented on #155
@clegarde Certainly required input from @SachinPawaskarUNO to figure out the solution.  If I understand we need to have a way to capture "Inconclusive" as a result.  AFDIL results can be
(1) sequence obtained which currently gets listed as a sequence number,
(2) sequence obtained, but is too short a read to be assigned to a single sequence number. AFDIL calls these "Unassigned".  I think a BR solv

[2018-05-18 22:00] clegarde opened #156 "Add descriptions to third molar aging methods"
Per discussion at the scrum two weeks ago @fedamann @SachinPawaskarUNO, here are the descriptions to go with the scores for third molar aging methods (Mincer et al, Kasper et al, Blankenship et al).
[Third molar aging with descriptions.xlsx](https://github.com/spawaskar-cora/cora-docs/files/2018747/Third.molar.aging.with.descriptions.xlsx)

[2018-05-19 15:10] clegarde commented on #116
Sheet is attached with bone groupings for articulation search. Which bones actually articulate are not noted since I believe you would already have that data? Let me know if that needs to be done. I'm wondering if we need to provide you with articulations for the bones of the cranium? Ex: frontal to parietal, etc. This is just a list of the bones that would be within each group.
Groupings are: sku

[2018-05-21 14:20] clegarde commented on #146
@SachinPawaskarUNO Here is the data for the Schaefer 2008 method. Thanks to @tedunn @aschaefer1, Abby, and Megan.
We can remove the Schaefer et al 2009 for age. The Schaefer 2008 does not include as many bones as the one we currently have, but we will decide what other methods may be pertinent to include. As of now, the Schaefer et al 2009 method is not something we want to provide in CoRA as othe

[2018-05-21 14:46] clegarde commented on #116
Please see an updated sheet here. There were a couple mistakes and changes made from a more general discussion with @fedamann.
[CoRA_Articulation groups.xlsx](https://github.com/spawaskar-cora/cora-docs/files/2022988/CoRA_Articulation.groups.xlsx)

[2018-05-21 15:00] clegarde opened #157 "Hierarchical groups for inventory"
per discussion with @fedamann, here is a list for hierarchical groupings for inventory. This is NOT the same as the groupings for the articulation report groups (#116) although they are similar. This list has them separated out a bit further (could be thought of as subgroupings from the other list).
[CoRA_Hierarchical inventory groupings.xlsx](https://github.com/spawaskar-cora/cora-docs/files/2023

[2018-05-22 13:30] #83 closed

[2018-05-22 13:30] #84 closed

[2018-05-22 13:37] #85 closed

[2018-05-22 13:37] #63 closed

[2018-05-22 15:21] nyukyi opened #158 "Skeletal Elements > Mito Sequence Number Search Issue"
When I tried to search by mito sequence number under Skeletal Elements, I get an error message. See below for screenshots.
![cora_searchissue](https://user-images.githubusercontent.com/34749060/40372204-da01412e-5da9-11e8-93bb-1af6e8afc721.png)
![cora_searchissue2](https://user-images.githubusercontent.com/34749060/40372236-e08dcb7a-5da9-11e8-9fa3-1046566255bc.png)

[2018-05-22 21:54] tlvandeest opened #159 "Autoopen in new window when clicking Combination Key from the Search Results"
To preserve search results, the link to each element should auto-open in a new window based on the group discussion on 22 May 18.  @clegarde @fedamann @SachinPawaskarUNO @emilystreetman

[2018-05-22 21:58] tlvandeest opened #160 "Inventory and Zones should be linked for entering New Skeletal Element"
For ease of entry and reducing time for each element, initial entry of a skeletal element including the zones page or easily transitioned to the zones page would greatly improve the process. @clegarde @fedamann @SachinPawaskarUNO

[2018-05-23 19:49] fedamann opened #161 "Adding projects and availability to see on dashboard"
@SachinPawaskarUNO I added more projects through CoRA Admin, and when I return to the dashboard they do not show up.

[2018-05-23 20:02] SachinPawaskarUNO commented on #161
@fedamann That is probably because you have not associated/assigned any users to the projects that you just created. So just go to the project view/edit screen and click "Add users to project" button. This will take you to the subsequent screen where you can add users to the project.

![image](https://user-images.githubusercontent.com/19599773/40448075-10d623d6-5e9a-11e8-8228-8d8ed6292722.png)

![

[2018-05-23 20:12] fedamann commented on #161
Roger -- user error

[2018-05-23 20:12] #161 closed

[2018-05-24 15:30] CTegtmeyer opened #162 "Articulations for hierarchical groups"
@SachinPawaskarUNO @clegarde  Is it possible to automatically generate the articulations for hierarchical groups categories when they're selected so that this information does not have to be manually entered?

Linking to issue #157 : Hierarchical groups for inventory

[2018-05-28 19:52] skindsc1 opened #163 "Remove option to "Create" element when editing element"
When I am viewing a skeletal element and click the drop down to edit it, there is an option to Create a new element.  I would like to suggest this option be taken away because it is very easy to choose it when trying to edit an element.

![image](https://user-images.githubusercontent.com/21186879/40627761-865343c4-6286-11e8-87f0-7aabb7923a3f.png)

 In addition, when you're already in an element I

[2018-05-29 13:05] skindsc1 opened #164 "Make "Mito Sequence Subgroup" alphaneumeric"
The "Mito Sequence Subgroup" box should allow letters and numbers.

![image](https://user-images.githubusercontent.com/21186879/40660540-e9084e20-6316-11e8-8a3b-8a93ab43c16c.png)

[2018-05-29 14:05] skindsc1 opened #165 "Updates to the "Test Type" drop down list in additional DNA testing"
In the "Test Type" dropdown for additional DNA tests, the "tr" in YStr and AStr should be capitalized.  These are abbreviations and should follow the same capitalization rule as all the others in the list (for example,, Next Generation Sequencing = NGS)

Additionally, AStr should be updated to AuSTR.  AuSTR is the abbreviation we use in reports when discussing autosomal testing.  To many anthropol

[2018-05-29 14:33] skindsc1 opened #166 "Add a "Comments" box/column in DNA page/report"
Add a comments box to the mito page that will also show up in the mtDNA report.

![image](https://user-images.githubusercontent.com/21186879/40665272-70212386-6322-11e8-901d-1e03cb698841.png)

This will allow us to make notes about a sequence that can help to organize the elements.

![image](https://user-images.githubusercontent.com/21186879/40665114-0cd92152-6322-11e8-81c8-56217fa8c152.png)

[2018-05-29 15:33] SachinPawaskarUNO commented on #166
@cbrown311 @fedamann and @skindsc1, we need to have further discussion as to what data is going to be stored in the comments.

[2018-05-30 18:50] skindsc1 commented on #164
@nmcelroy It should also allow hyphens.  For example, we should be able to enter "A-1" in the subgroup box.

[2018-05-30 19:08] SachinPawaskarUNO commented on #16
@emilystreetman will create a pull request by 05/31/2018

[2018-05-30 19:11] SachinPawaskarUNO commented on #60
This work is complete and will be available with the next release of CoRA

[2018-05-30 20:04] skindsc1 commented on #163
I stand by this comment.

[2018-05-30 21:00] tlvandeest opened #167 "Check of Min and Max limits for measurements needed"
Biologically impossible numbers were listed as the minimum and maximum thresholds for the ulna were discovered during data entry.  Suggest that the spreadsheet for the soft and hard thresholds be checked. See attached image. @clegarde @fedamann @SachinPawaskarUNO
![cora measurement thresholds](https://user-images.githubusercontent.com/35308331/40747306-7be0976e-6422-11e8-8c19-f29da59b9c6e.JPG)

[2018-05-31 01:30] clegarde commented on #153
This is not something that will be done in CoRA (LIMS generates labels for us), so closing this issue.

[2018-05-31 01:30] #153 closed

[2018-05-31 01:33] clegarde commented on #155
Just briefly discussed today with @SachinPawaskarUNO and @cbrown311 that we should also have "cancelled" on this list as well, so options should include: Reportable, Inconclusive, Unable to Assign, and Cancelled.

[2018-05-31 01:41] clegarde commented on #150
This is still an issue. It looks like for any search under DNA. If you type something in and hit enter (rather than choosing "By Mito Sequence Number"), you get the "Whoops, looks like something went wrong" message, rather than a message like the one below.
![screen shot 2018-05-30 at 8 38 48 pm](https://user-images.githubusercontent.com/7350474/40756489-82514d88-6449-11e8-8fec-c38b55c97dcd.png)

[2018-05-31 01:43] clegarde commented on #151
This is still providing left and right elements in the list.

[2018-05-31 16:17] CTegtmeyer opened #169 "Intermediate/distal fused phalanx option"
@SachinPawaskarUNO Would it be possible to add an additional bone category to the drop down menu for intermediate/distal fused pedal phalanx? We get these a lot in Tarawa and currently there is no good way to enter these into CoRA.

[2018-06-05 19:50] veronicak7 opened #172 "on articulation screen, order bones by most recent created timestamp"
on articulation screen, order bones by most recent created timestamp.

![capture](https://user-images.githubusercontent.com/39967521/40999196-b10e6368-68f9-11e8-9e93-3c664231f8b2.PNG)

[2018-06-07 18:27] TarawaProject opened #173 "Ability to indicate isotope sampling"
Ability to indicate isotope sampling, see image below

<img width="484" alt="isotope image" src="https://user-images.githubusercontent.com/33848426/41118713-7c07b546-6a2c-11e8-973c-7a99bcbdc5b0.PNG">

[2018-06-07 18:32] TarawaProject opened #174 "Ability to add taphonomic information by bone group"
Ability to add taphonomic information by bone group.  For example, in the Tarawa Project we have a whole hand that is green.

[2018-06-07 18:34] TarawaProject opened #175 "Ability to add pathology information by bone group"
Ability to add pathology information by bone group. Example: osteomyelitis to leg and foot.

[2018-06-07 18:35] TarawaProject opened #176 "Ability to add trauma information by bone group"
Ability to add trauma information by bone group. Example: blunt force trauma to shoulder

[2018-06-07 18:41] TarawaProject opened #177 "Add type of mito testing to DNA module"
Add type of mito testing to DNA module. see image below

![image](https://user-images.githubusercontent.com/33848426/41119453-85b65aaa-6a2e-11e8-8feb-5bd8ddcf2169.png)

[2018-06-07 18:49] TarawaProject opened #178 "Ability to add # of loci to additional testing"
Ability to add # of loci to additional testing. See below.
<img width="476" alt="dna loci" src="https://user-images.githubusercontent.com/33848426/41119836-95300b56-6a2f-11e8-9b2a-1b37f5c9496a.PNG">

[2018-06-07 18:55] TarawaProject opened #179 "create report that shows how many unique mito sequences are associated with an accession"
create report that shows how many unique mito sequences are associated with an accession. Example: CIL 2018-100 has 124 different mito sequences and list of the sequences.
Additional information to follow with screen shot

[2018-06-07 19:01] TarawaProject commented on #179
@Megyesimm can you elaborate on this issue

[2018-06-07 19:05] TarawaProject opened #180 "Create search capabilities by accession, provenance 1, provenance 2 for reports"
Create search capabilities by accession, provenance 1, provenance 2 for the following reports: mtDNA, methods, articulation, measurements, zones

[2018-06-07 19:24] TarawaProject opened #181 "Add skeletal bone named "unidentified rib fragments""
Add skeletal bone named "unidentified rib fragments"

[2018-06-07 19:27] TarawaProject opened #182 "Add new field to skeletal elements to capture count"
Add new field to skeletal elements to capture count. For example unidentified fragments 15, distal manual phalanges 131.
<img width="395" alt="elements count" src="https://user-images.githubusercontent.com/33848426/41125018-57e2af64-6a3f-11e8-8033-76a060209121.PNG">

[2018-06-07 19:30] TarawaProject opened #183 "Add new field for skeletal element named consolidated AN"
Add new field for skeletal element named consolidated AN
add ability to report by consolidated AN

[2018-06-07 19:34] TarawaProject opened #184 "Add a new ancestry method for mandible"
Add a new ancestry method for mandible. Ability to add mandible morphometric data for HUMANiD

[2018-06-07 19:39] TarawaProject opened #185 "On hover of over column headers show display name for measurement reports"
On hover of over column headers show display name for measurement reports. See image below.
<img width="709" alt="measurement info" src="https://user-images.githubusercontent.com/33848426/41124590-29ee7206-6a3e-11e8-86b9-6657add96b57.PNG">

[2018-06-07 19:46] TarawaProject opened #186 "Add accept changes button to review screen"
Add accept changes button to review screen.  See screen capture below.  This needs to be done on all SE association review tabs.
<img width="638" alt="accept changes" src="https://user-images.githubusercontent.com/33848426/41124354-6fa4ca30-6a3d-11e8-8710-12e8dbb5f645.PNG">

[2018-06-07 19:50] TarawaProject opened #187 "Add date of mass comparison chart to DNA profile screen"
Add date of mass comparison chart to DNA profile screen.
<img width="481" alt="mcc date" src="https://user-images.githubusercontent.com/33848426/41124199-e73ebd5e-6a3c-11e8-9ce7-53c486c62eda.PNG">

[2018-06-08 00:00] fedamann commented on #179
@TarawaProject @Megyesimn @clegarde nice idea for projects split over multiple accessions.  Consider as a dashboard data visualization per project too.

[2018-06-08 15:32] clegarde opened #188 "A "DNA Sample Number" search should also include DNA resamples"
In the image below, it shows that searching by 1994B does not return any results because it was a DNA resample. This re-sample was entered under CIL 2003-116,G-42,X-216A,101. When we search by DNA Sample Number, could it search through DNA Sample Number and Resample Number to return results?
![image](https://user-images.githubusercontent.com/7350474/41166787-c5425574-6b06-11e8-8331-f0044d4b06e6.pn

[2018-06-11 16:08] tlvandeest opened #189 "Cervical Vertebrae measurements not present for entry"
Measurements are not present for Cervical Vertebra 1 and Cervical Vertebra 2 for entry under these elements. Measurement definitions provided in the CoRAdoc for Cer_1, Cer_2, and Cer_3.  @clegarde @SachinPawaskarUNO

[2018-06-11 16:11] tlvandeest opened #190 "No option to articulate Unseriated Vertebrae"
Suggest adding the option to articulate unseriated vertebrae, as it can be possible to articulate two vertebrae with confidence but not be able to seriate them within the column.  Currently, there is no way to associated two or more unseriated vertebrae to one another. @clegarde @SachinPawaskarUNO @fedamann

[2018-06-11 16:18] clegarde commented on #189
@SachinPawaskarUNO Find the measurements with their description and threshold values attached. There are actually 6 measurements for the two bones.
[Vertebrae measurements.xlsx](https://github.com/spawaskar-cora/cora-docs/files/2090843/Vertebrae.measurements.xlsx)

[2018-06-11 16:24] tlvandeest opened #191 "Cannot enter measurements for Talus and Calcaneus"
When entering the TAL_03, CAL_03, and CAL-04, the following error is received:
![calcaneal measurement error](https://user-images.githubusercontent.com/35308331/41243819-dcbe2796-6d68-11e8-90a1-8f1b955d705a.JPG)

For these three measurements only, a second error of "You must enter a valid value" appears on the actual measurement entry page:

![cora valid measurement error](https://user-images.gith

[2018-06-11 16:30] tlvandeest opened #192 "Add articulation of Metatarsal 1 to Proximal pedal phalanx 1"
Under Articulations, a Metatarsal 1 cannot be articulated to a Proximal pedal phalanx 1, but the articulation can be listed the other way around (Proximal pedal phalanx 1 to Metatarsal 1).
This articulation will then only appear under Proximal pedal phalanx 1 and NOT under Metatarsal 1.
![cora mt1 to ppp1](https://user-images.githubusercontent.com/35308331/41244470-bd42fd4a-6d6a-11e8-8ad9-5367d0e9

[2018-06-11 17:23] ascott6 opened #193 "email change"
My email has changed from .ctr to .civ, so I'm guessing my access to CoRA will need to reflect that.  So the new email is:

audrey.l.scott6.civ@mail.mil.

I will still be listed under the Tarawa project.

[2018-06-11 17:28] #156 closed

[2018-06-11 19:51] CTegtmeyer opened #194 "ability to list all accessions for a project in the search function"
Would it be possible to have a function in the search parameters to list all the accessions that have been entered into CoRA, so that instead of having to remember each accession that you have entered you could choose from a list that pops up if you just click "search by accession"

[2018-06-11 21:35] clegarde commented on #194
@CTegtmeyer, is the end goal to get the list of accessions within a particular project? Or are you wanting to get the list, and then search further?
I do think we should do a report that will generate a list for all of the provenance parameters - one for accession, one for provenance 1, and provenance 2. It could be beneficial to do a report by any of these fields to get a full list.

[2018-06-11 22:58] CTegtmeyer commented on #194
@clegarde I think either would be beneficial. The main goal would be the generate a list of the accessions (or other parameters) entered into CoRA (for example, I cannot even remember what accessions I have entered into the Tarawa project without having to look it up through other sources), but if it were possible to then make that list searchable that would be great as well.

[2018-06-12 11:31] fedamann commented on #193
@ascott6 Done. Please verify access.

[2018-06-12 19:51] CTegtmeyer opened #195 "no min/max threshold for all calcaneus measurements, preventing measurement acceptance"
Cal_03 Minimum Height Distal to Articular Facets, Cal_04 Posterior Length, and Cal_05 Maximum Length of the Calcaneus do not have established Min/Max thresholds, and you get an error message when trying to enter measurements into these categories.

![screen 1](https://user-images.githubusercontent.com/36896992/41313564-cd5bd73c-6e79-11e8-9583-4ebf4796f853.png)

It does not let me save any measurem

[2018-06-12 20:09] CTegtmeyer opened #196 "Abiltity to list both left and right measurements for whole mandibles"
Is it possible to adjust the mandibular measurement page so that when you have a complete mandible you can enter both left and right measurements? Currently, there is just one box for symmetric measurements such as Height and Breadth of the Mandibular Body, but these measurements are taken on both the right and left side (as are Minimum and Maximum Ramus Breadth and Maximum Ramus Height). There is

[2018-06-12 21:21] SachinPawaskarUNO commented on #195
related to #191

[2018-06-13 16:44] sfuehr commented on #167
The same problem @tlvandeest mentions for the ulna occurs with the foreman magnum length and breadth measurements for the cranium. The minimum and maximum thresholds are too large for these two measurements. @SachinPawaskarUNO

[2018-06-13 16:53] SachinPawaskarUNO commented on #167
@fedamann, can we please assign an anthropologist to go over the spreadsheet provided to verify the measurement threshold values and if necessary fix any issues such as those mentioned in this ticket and attach an updated spreadsheet to this ticket. @clegarde, it would be a good idea to attach the latest spreadsheet to this ticket for others such as @tlvandeest, @sfuehr to take a look at and poten

[2018-06-14 01:34] fedamann commented on #167
@sachin yes; we'll get it sorted.

[2018-06-15 15:39] SachinPawaskarUNO commented on #192
@tlvandeest, I think this should be a simple fix, The original articulation seed data provided by the anthropologists is missing that articulation record. @SachinPawaskarUNO will add this seed data articulation record.

[2018-06-15 15:59] SachinPawaskarUNO commented on #190
@tlvandeest, Thanks for sitting down with me and figuring this out, The issue here is again incorrect seed data in skeletal_bones table where these bones are marked has not being able to articulate. I will also add the the ability to refit these based on our conversation.

[2018-06-16 04:43] nmcelroy commented on #191
Related to #189
Addressed in fix.

[2018-06-16 04:44] nmcelroy commented on #189
Related to #191
Addressed in fix.

[2018-06-19 16:53] nmcelroy commented on #177
Addressed this in SachinPawaskarUNO/cora2#250

[2018-06-19 16:54] nmcelroy commented on #178
Addressed this in SachinPawaskarUNO/cora2#250

[2018-06-19 16:54] nmcelroy commented on #187
Addressed this in SachinPawaskarUNO/cora2#250

[2018-06-19 16:55] nmcelroy commented on #185
Addressed in SachinPawaskarUNO/cora2#245

[2018-06-19 16:56] nmcelroy commented on #172
Addressed in SachinPawaskarUNO/cora2#244

[2018-06-21 04:02] SachinPawaskarUNO opened #197 "New Users and assignment to Ploesti project"
Sachin,
Please add the following interns to the Ploesti Project in CoRA so they can
assist. I have discussed this with Dr. Ingvoldstad also. They are already
listed for the USS Oklahoma, but let me know if you need their email
addresses.  Dr. Damann is out of the office currently, so he is not
available to add them at this time.
Megan McCollum
Abigail Kindler
Sihley Pawaskar
Lindsay Gilliland

[2018-06-21 04:12] SachinPawaskarUNO commented on #197
@tlvandeest and @mei215, Currently we already have accounts for Megan and Abby in CoRA. So I have added them to the Ploesti project. You need to provide additional information for Sihley and Lindsay, namely their email addresses which is a required field for login into CoRA.
Please verify with Megan and Abby that they now access to the Ploesti project and let me know.

Also going forward please se

[2018-06-21 14:02] tlvandeest commented on #197
@sachin I request that when an email is sent to you directly with contact information you not put that into a GitHub ticket without my knowledge.  These tickets can be found and viewed online without being logged into Github and so my contact information was removed from the comment above.

[2018-06-21 14:36] SachinPawaskarUNO commented on #197
@tlvandeest I agree with you, that was an inadvertent copy paste error, my apologies.

[2018-06-23 13:38] clegarde opened #198 "Clavicle triage - only show for clavicles?"
Can the "clavicle triage" checkbox only show up for clavicles? Since it only applies to that skeletal element, can it not show up for other skeletal elements? It will never be checked for any other skeletal element (like the one shown here) so if we're looking at the number of that have been triaged vs not (thinking about dashboard @SachinPawaskarUNO ), it will be inflated because it will be showi

[2018-06-23 13:39] clegarde opened #199 "Add "Original Accession" field to skeletal element"
Stemming from conversations with @TarawaProject and other projects. If it could appear on the view skeletal element.
![view skeletal element](https://user-images.githubusercontent.com/7350474/41810234-ecf30d00-76c0-11e8-9af5-9d0227917382.png)

[2018-06-23 13:43] clegarde commented on #183
Based on conversations with project leads (@TarawaProject ) and Sachin, this ability already exists. This is the "Individual Number" field. This can be reported and searched.
Previous consolidation is not accounted for in CoRA, so #199 was added to fit that need.

[2018-06-23 13:53] SachinPawaskarUNO commented on #198
@clegarde, I agree, that is a good idea. We will have to change the dashboard accordingly, because it currently shows percentage for all SEs, this should be percentage of Clavicle (SEs) only.

[2018-06-26 12:53] lfkennedy opened #200 "Link to associated element in Articulations/Pair Match/Refit Details page"
It would be convenient to be able to navigate directly to associated elements, particularly as these do not often/always share sequence data or provenience.  The picture below shows the "Articulations" page as an example, where the associated element is circled.

Could the circled text be made into a link to this element's page?  At the very least, could this string of text be reformatted so that

[2018-06-27 20:53] emilystreetman commented on #181
@SachinPawaskarUNO, you mentioned phalanges in the meeting today.

I am commenting here to note that there are several possible phalanges entries that would benefit from this same "count" option. They include phalanges that begin with "unidentified" and "unseriated", totaling 7 different skeletal element names. (unidentified phalanx; unseriated proximal manual phalanx; unseriate proximal pedal pha

[2018-06-28 14:20] skindsc1 opened #203 "Double-check measurement numbering between CoRA and OsteoSort"
The measurement numbers for CoRA and OsteoSort should be double-checked for accuracy so that they correspond with one another.  There is one situation with the femur where two measurements are switched (subtrochanteric diameters) in OsteoSort and not in CoRA.

@jjlynch2 @SachinPawaskarUNO

[2018-06-29 15:00] emilystreetman commented on #196
This issue requires some further discussion with @SachinPawaskarUNO . The current mandible measurements are named and numbered _01 through _10. Measurements 2, 3, 6, and 7 are currently listed singly, but should each include a bilateral (left and right) entry.

Current
Man_01 - chin height
Man_02 - height of the mandibular body
Man_03 - breadth of the mandibular body

So, should I act like I'm sta

[2018-06-29 15:49] clegarde commented on #196
I think we should just keep the same number and just have a left and right. I know @SachinPawaskarUNO had some ideas on how to display this on the screen.
Man_02 (Left) - height of the mandibular body
Man_02 (Right) - height of the mandibular body

@emilystreetman, can you please list just the measurement numbers with their description that we need to have a left and right? So that it is clear whi

[2018-06-29 17:01] emilystreetman commented on #196
Cra_16 | Cra_16 Orbital Breadth (d-ec) | Laterally sloping distance from dacryon   (d) to ectoconchion (ec).
Cra_17 | Cra_17 Orbital Height | Direct distance between the superior and inferior margins taken   perpendicular to the orbital breadth.
Cra_25 | Cra_25 Mastoid Length | Vertical projection of the mastoid   process below and perpendicular to the eye-car (Frankfort) plane.

Man_02 | Man_02 H

[2018-07-10 14:05] tlvandeest opened #233 "Measurement changes not saving in Review tab"
Changes to measurements are not saving or transferring to Measurement page under details menu for the element.  On review tab, also CoRA is not marking that the change has been saved, reviewed, and accepted.  @SachinPawaskarUNO @clegarde
![cora review issue 1](https://user-images.githubusercontent.com/35308331/42514940-2da66556-8420-11e8-8ab0-55339b2c7c00.JPG)

![cora review issue 2](https://user-

[2018-07-10 14:09] tlvandeest opened #234 "Add composite key to Review page"
It would be very helpful to have the composite key visible on the Review page.  Currently it is not present on that page, even when expanding Element Highlights section.
![cora review add key](https://user-images.githubusercontent.com/35308331/42515148-b2d396fe-8420-11e8-9af2-33317d1caf94.JPG)

[2018-07-10 14:17] tlvandeest opened #235 "Add Refits and Pair Match to review page"
Currently, Refits and Pair Matches are not present and cannot be reviewed under the Review page. I suggest they be added as they are an important part of the review. @SachinPawaskarUNO @clegarde
![cora review add refits and pm](https://user-images.githubusercontent.com/35308331/42515598-c6186590-8421-11e8-90e0-2d57cdc887a9.JPG)

[2018-07-10 14:19] tlvandeest commented on #234
@SachinPawaskarUNO @clegarde

[2018-07-10 14:26] tlvandeest opened #236 "Measurements out of order in Review page"
The list of measurements are out of order on the Review page for the cranium, humerus, femur, tibia, calcaneus, clavicle, scapula, os coxa, and sacrum. See image below for example. @SachinPawaskarUNO @clegarde
![cora measurement review numbers](https://user-images.githubusercontent.com/35308331/42516241-38ea86ec-8423-11e8-8bbb-f2de4380c9bb.JPG)

[2018-07-11 19:24] clegarde opened #237 "Display DNA sample number (with link) rather than "Yes"?"
@SachinPawaskarUNO, when we get the results of a skeletal element search, can the sample number (if there is one) be displayed in the "DNA Sampled" column, rather than just "Yes"? And could that be a clickable link to the DNA Profile page for that skeletal element? If it hasn't been sampled, it could still say "No" or whatever seems appropriate.
![screen shot 2018-07-11 at 2 19 28 pm](https://user

[2018-07-16 18:18] skindsc1 opened #239 "Incorrect measurement thresholds"
When entering cranial measurements I received the following error for 2 measurements:

![image](https://user-images.githubusercontent.com/21186879/42775657-8756591a-88fa-11e8-989c-7a54bf96edaf.png)

The min and max thresholds are both very large for these 2 measurements.

[2018-07-20 19:18] #234 closed

[2018-07-28 19:03] clegarde opened #240 "Add "Mito Seq #" to results from "DNA sample number" search"
It would be nice to have "mito sequence number" show (if there is one) in an additional column when searching a DNA sample number. I'm adding mtDNA data and I don't know if it's already in there until I go in to each one. It would save time when doing general data entry to see that in the results when you search, so you'd know if it already has mito sequence info. That would often be the data you'

[2018-07-30 21:25] CTegtmeyer opened #241 "Password reset not working correctly"
The password reset page is not working correctly on CoRA... I do not know if any one else Is having this issue or not.

My password expired on CoRA and the program directed me to reset my password...

![capture1](https://user-images.githubusercontent.com/36896992/43424368-e8dcbdd2-93ea-11e8-83b7-c29216be8570.PNG)

But when I go to enter a new password, it brings up an error and tells me that I can

[2018-07-31 00:36] CTegtmeyer commented on #241
This issue has been addressed and fixed

[2018-07-31 00:36] #241 closed

[2018-07-31 13:35] lfkennedy opened #242 "Add haplogroup info to Additional Tests (Y-STR)"
A separate haplogroup can be requested based on Y-STR data, but there is no place to input that information under "Additional Tests" - see image.

![cora2](https://user-images.githubusercontent.com/35273714/43462749-92f6eaca-949c-11e8-9494-edaadaa2aa09.jpg)

[2018-07-31 21:11] clegarde commented on #242
I think it might be helpful to treat "DNA Profile" sort of like the methods in CoRA. You have the option to add it, like you would Age, Sex, etc. You'd have two options: Mito or Nuclear. Mito would include the different types of tests (ex: NGS) and then Nuclear would include Y and auto. But you should be able to add multiple tests for each type (mito or nuclear), since you may conduct more than on

[2018-07-31 21:24] clegarde opened #243 "Change Mito Haplogroup to 2 drop downs and alphanumeric field"
I think it would make more sense to change our current mito haplogroup field to two separate drop downs and an alphanumeric field because it does not accurately reflect the haplogroup data we get. We often get something like this: H2b1a - European. The first letter is the general group, so I think it might make more sense to separate this from the ancestral group. Possibly as follows:
**Mito Haplo

[2018-08-01 12:50] lfkennedy commented on #242
@clegarde possibly even dividing this profile out further by descent type may be useful (i.e., mito, Y-chromosome, other nuclear).  This could make it easier for the analyst to decide if elements in a mito sequence need to be resampled/submitted for nuclear, and which test(s) to request.  It may also be nice to have an Associations box under the Y console on the DNA profile page, similar to that f

[2018-08-02 23:32] clegarde commented on #242
Yes, agreed that we should be able to tie samples together based on Y profile. Same would go for autosomal results. The "Mito Sequence Subgroup" can also be used to group in this manner (ex: Oklahoma using a number to represent a Y profile). Although it would be more explicit if we actually linked samples together.

[2018-08-14 20:56] clegarde commented on #203
Just to clarify your issue: These measurements are in numerical order in CoRA based on the numbering system we (DPAA/Jeff) defined, correct? i.e., Fem_01, Fem_02, etc? You are saying that this ordering does not correspond with DPAA's form?
This order was defined by Jeff based on the new UTK measurement guide and is defined on his website and used in OsteoSort. I believe this is an internal DPAA is

[2018-08-14 22:41] skindsc1 opened #244 "Public list of CoRA features in progress?"
Until the new release of CoRA comes out it is unclear to those people testing it what is going to be updated and what will not be updated.  In order to avoid submitting tickets for issues that are currently being worked on, it would be helpful to have a list of CoRA features that are in progress and what work is being done on them.

@clegarde

[2018-08-17 02:45] fedamann opened #245 "Trauma multiselect not saving"
As a user (Cora-demo) I need  to add two different perimortem-projectile (GSW) traumas to the same selected skeletal element (cranium; 2018-BK-001-Block 1-Feature 1-1).  The multiselect function of two separate perimortem-projectile GSWs does not save both occurrences; the last one entered appears to overwrite the first.

[2018-08-17 13:41] fedamann commented on #203
@skindsc1 @emilystreetman @clegarde @jjlynch2   I'm not concerned about mismatch to current DPAA forms.  These will change easily.  I am concerned about the measurements in CoRA and OsteoSort not matching one to one.  @jjlynch2 please verify there is a one to one relationship between all measurements in OsteoSort and CoRA.

[2018-08-20 18:42] tlvandeest commented on #203
@clegarde From what I remember of our discussion, the issue we talked about centered on the fact that the measurements on the DPAA forms and CoRA are numbered and defined differently. Currently, working on data entry between the two is time consuming and difficult to determine in some instances which measurements correlate with one another to ensure the data is entered correctly.

[2018-08-22 01:31] veronicak7 opened #246 "Capturing tooth number"
When entering a skeletal element, there is no way to capture the number of the tooth that was sampled for DNA. Often the sampled tooth would be associated with a skeletal element (i.e. mandible, maxilla, or cranium), but could also be a non-articulated tooth. The odontologists specify the tooth number when sampling and we don't want to lose that information when entering into CoRA.

[2018-08-22 18:13] fedamann commented on #203
@SachinPawaskarUNO prod v1.0 update will require swapping new1.0.csv Fem_05 Anterior-Posterior (Sagittal) Subtrochanteric Diameter and Fem_06 Medial-Lateral (Transverse) Subtrochanteric Diameter to Fem_05 Medial-Lateral (Transverse) Subtrochanteric Diameter and Fem_06 Anterior-Posterior (Sagittal) Subtrochanteric Diameter.  I'll follow up with you re this change. @clegarde @skindsc1 @jjlynch2 @emi

[2018-08-22 18:27] #197 closed

[2018-08-22 18:27] #193 closed

[2018-08-22 20:16] fedamann commented on #246
@veronicak7 @SachinPawaskarUNO add 32 new skeletal specimens to bone type list that covers the permanent teeth 1 through 32 (e.g., tooth #1, tooth #2, etc).  These should be associated to two new bone groups: Maxillary teeth for 1-16 and Mandibular teeth 17-32.  This should suffice for a mvp for dental, and the build out the dental module can be moved to the backlog.

[2018-08-24 19:02] fedamann commented on #199
Per conversation this week among projects teams at Offutt and Hawaii we will use current flexibility of Accession, Provenance1, Provenance2, and Individual Number to deal with the issues around maintaining legacy accession numbers.  The business rule for this is project specific (i.e., Project Lead decision) and must be applied consistently by all project team members.  @clegarde @TarawaProject @M

[2018-08-26 19:52] fedamann commented on #246
@SachinPawaskarUNO @rpernst
1. Create new skeletal elements for Tooth #1 through Tooth #32 as 32 unique records
2. In the SKULL group, delete "Tooth" and include all newly created numbered teeth
3. Add new group: "Maxillae" and include Tooth #1 through Tooth #16
4. Add new group: "Mandible" and include Tooth #17 through Tooth #32

[2018-08-26 19:53] fedamann opened #247 "Tooth record associations"
@SachinPawaskarUNO @rpernst
1. Associate maxillary teeth (1-16) to the "Maxillae" skeletal element
2. Associate mandibular teeth (17-32) to the "Mandible" skeletal element

[2018-08-26 19:56] fedamann opened #248 "Measurements: Cervical vertebra"
Measurements menu needs to be enabled for the cervical vertebra 1-7 (including Cervical vertebra 6/7) @SachinPawaskarUNO

[2018-08-26 20:03] fedamann opened #249 "Measurements: Update min and max values and thresholds"
@jjlynch2 is creating a new sheet with verified min and max values and thresholds will be provided for all measurements for Ver1.0 release.  Related issues reported are #167 and #239 and need to make sure these two are updated as well.

[2018-08-26 20:04] SachinPawaskarUNO commented on #248
This issue has been fixed and will be available in the upcoming release of CoRA. However I'm reopening this issue as it needs to be verified by DPAA Anthropologists

[2018-08-26 20:08] fedamann opened #250 "Age Analysis: Mckern and Stewart 1957"
As a user I want to see the age intervals related to each fusion stage and pubic symphysis scores displayed in the UI once a particular stage is selected (note: See StarLIMS Age sheet).

[2018-08-26 20:10] clegarde commented on #246
There should also be an "Unidentified tooth" or something similar for those that we cannot assign a number to. Not sure if you'd want additional ones or not (ex: Unidentified molar, Unidentified incisor, Unidentified maxillary molar, etc.). @fedamann @SachinPawaskarUNO

[2018-08-26 20:12] fedamann opened #251 "DNA Module: redesign parent-child relationship"
Redesign the parent child relationship among mitochondrial results and additional testing options, so every test performed is a child of the specimen, not the mito sequence result.  in other words, flatten the relationship to one parent (specimen) and multiple children (tests performed and associated results). @SachinPawaskarUNO

[2018-08-26 20:14] SachinPawaskarUNO commented on #251
@nmcelroy This is related to the conversation we had last Thursday

[2018-08-26 20:16] fedamann commented on #246
@clegarde Correct. and why we decided to leave "Tooth" as a skeletal element record for the most basic and general description of an unidentified tooth (we are only removing "Tooth" from the group inventory option, not the complete list of skeletal elements)  The more complete data capture will come later when we build out the dental module.

[2018-08-28 02:57] rpernst commented on #235
Worked on by pull request SachinPawaskarUNO/cora2#431

[2018-08-28 02:59] rpernst commented on #233
This was not a bug but how the feature was working, an element needs to be reviewed and then the person who inventoried the item must accept the review for the change to happen to the element. This accept button was added with this pull request SachingPawaskarUNO/cora2#431

[2018-08-28 03:02] rpernst commented on #200
A datatable was added to the association pages with links so that an associated element can be quickly viewed. This was changed in this pull request SachinPawaskarUNO/cora2#384

[2018-08-28 03:03] rpernst commented on #186
This feature was added with this pull request SachinPawaskarUNO/cora2#431

[2018-08-28 03:11] rpernst commented on #176
This feature was added with this change SachingPawaskarUNO/cora2#235

[2018-08-28 03:11] rpernst commented on #175
This feature was added with this change SachinPawaskarUNO/cora2#235

[2018-08-28 03:12] rpernst commented on #174
This feature was added with this change SachinPawaskarUNO/cora2#235

[2018-08-28 14:26] nmcelroy commented on #237
This has been addressed in SachinPawaskarUNO/cora2#429

[2018-08-28 14:32] nmcelroy commented on #165
Addressed in SachinPawaskarUNO/cora2#126

[2018-08-28 14:33] nmcelroy commented on #164
Addressed in SachinPawaskarUNO/cora2#134

[2018-08-28 14:35] nmcelroy commented on #155
Addressed in SachinPawaskarUNO/cora2#134

[2018-09-13 18:12] SachinPawaskarUNO opened #252 "About page content"
@fedamann and @SachinPawaskarUNO to draft the About page content for CoRA.

[2018-09-17 20:33] nmcelroy commented on #249
Addressed in SachinPawaskarUNO/cora2#482

[2018-09-17 20:34] nmcelroy commented on #239
Addressed in SachinPawaskarUNO/cora2#482

[2018-09-17 20:35] nmcelroy commented on #167
Addressed in SachinPawaskarUNO/cora2#482

[2018-09-17 20:52] fedamann opened #253 "Add new user error"
I receive the attached error log when attempting to add a new user to CoRA-cat using Edge.
[add new user errors.txt](https://github.com/spawaskar-cora/cora-docs/files/2390222/add.new.user.errors.txt)

[2018-09-18 20:25] fedamann opened #254 "Bone groupings - verification"
Confirm list of specimens for max, man, cranium, and skull.
@emilystreetman, @CTegtmeyer

[2018-09-18 20:29] #245 closed

[2018-09-18 20:29] #244 closed

[2018-09-18 20:30] fedamann commented on #237
Finished

[2018-09-18 20:30] #237 closed

[2018-09-18 20:46] fedamann commented on #160
@tlvandeest verify the update pls

[2018-09-18 20:48] fedamann commented on #151
@clegarde pls verify the update

[2018-09-18 20:50] fedamann commented on #150
@clegarde have a second or third look at this and see if it is still an issue.  Look in https://cora-cat.herokuapp.com/

[2018-09-18 20:51] fedamann commented on #146
@tlvandeest pls verify

[2018-09-20 14:58] clegarde commented on #150
GTG. With the change of the search, this is no longer an issue. I do get the following error when clicking on the sample number, but I'm assuming this is because the DNA page has not been built out. So closing ticket.
![error clicking on sample number from dna sample search](https://user-images.githubusercontent.com/7350474/45827243-a2bcf980-bcbb-11e8-90bd-0453a0edf040.png)

[2018-09-20 14:58] #150 closed

[2018-09-20 15:07] clegarde commented on #151
This is still showing left and rights, but not for all elements. In the example below for a left tibia, left and right tali and fibulae are listed, but only the left femur (there is a right femur under 219B).
![screen shot 2018-09-20 at 10 03 49 am](https://user-images.githubusercontent.com/7350474/45827873-fbd95d00-bcbc-11e8-87ae-9593e63b84c2.png)

[2018-09-20 17:53] btrnew opened #255 "Login Application Error"
When I attempted to login this morning I received this application error. I screenshotted it, went back to the login page, tried again, and got in just fine. Not sure why this error popped up, but I figured I should report it.

<img width="960" alt="cora error" src="https://user-images.githubusercontent.com/43450732/45836988-f6bee280-bca9-11e8-9b62-a6e03c9f0df9.png">

[2018-09-22 00:41] ragreid opened #256 "Entering Accession and Provenance in CoRA-cat"
As of 2pm HST, cannot enter accession and provenance when entering a new skeletal element or bone group when testing the new environment in CoRA-cat. The auto-population option is also not working for entering accession or provenance.

[2018-09-22 01:01] SachinPawaskarUNO commented on #256
@ragreid Can you tell me which project in Cora-cat you were using when you had this issue? Can you also please add a screenshot to this issue?

[2018-09-24 17:49] ragreid commented on #256
It was the demo I was testing

![image](https://user-images.githubusercontent.com/39973898/45969030-41a06900-bfce-11e8-808f-c0619b9bdf74.png)

[2018-09-24 20:10] fedamann commented on #256
Check with Rebecca. I believe we fixed this in the manager's meeting. It
has to do with Project Lead's decision for control of data entry.  If the
PL wants users to add in new info, without pulling from a drop down list
then we need to enable this function.

On Mon, Sep 24, 2018 at 12:49 PM Rebecca Reid <notifications@github.com>
wrote:

[2018-09-25 15:20] tlvandeest commented on #235
Confirmed as present in v. 1.0.0 and issued closed

[2018-09-25 15:20] #235 closed

[2018-09-25 15:51] emilystreetman commented on #122
I think it's worth looking at this ticket again to see if the v1.0.0 release captures the desired search function. @skindsc1 @clegarde

[2018-09-25 15:52] emilystreetman commented on #159
I believe this suggestion is integrated into the V1.0.0 - @tlvandeest please verify?

[2018-09-25 15:58] emilystreetman commented on #196
Update - this functionality has not been integrated into the V1.0.0 cat environment

[2018-09-25 16:00] emilystreetman commented on #254
Related back to
#157 Hierarchical groups for inventory
and
 #116 Generating an articulation report

[2018-09-25 16:01] emilystreetman commented on #254
Related back to #162 Articulations for hierarchical groups

[2018-09-25 16:15] emilystreetman commented on #254
**OK**
 - Arm, Arm and Shoulder, Leg, Hand, Ribs

**Recommend CoRA to auto-select "middle", otherwise OK**
 - Cervical vertebrae, Thoracic vertebrae, Lumbar vertebrae

**_Problems:_**
**Cranium**
 - cranium is a middle element, but many constituent elements have left and right sides (e.g., parietals, temporals)
 - cranium is a middle element, but individual teeth are left OR right

**Mandible/Maxi

[2018-09-25 16:20] emilystreetman opened #257 "Menu expansion button placement not intuitive"
Menu button that expands the left menu is not placed directly above left menu. This is unintuitive, possible solution to flip the cora skull and the menu (three lines) icon:
![image](https://user-images.githubusercontent.com/34662044/46027951-db424600-c0b4-11e8-936d-efced948beee.png)

[2018-09-25 16:26] emilystreetman commented on #16
I believe the zones guide is complete. Perhaps this ticket can be closed and new tickets raised regarding dental inventory? Currently, teeth are not included in the zonation method for the skull. @fedamann

[2018-09-25 16:34] emilystreetman opened #258 ""Are you sure, you want to switch the project?""
I suggest removing the comma from this prompt because it reads oddly.
![are you sure](https://user-images.githubusercontent.com/34662044/46028674-d7afbe80-c0b6-11e8-9933-072f35e7fa62.jpg)

[2018-09-25 16:35] emilystreetman commented on #255
I had the same issue a couple of times today (in cora-cat, though) - I was not able to figure out why it worked vs. didn't either.

[2018-09-25 16:39] emilystreetman commented on #249
also related: #60 "set thresholds for measurements to reduce error"

[2018-09-25 16:44] emilystreetman commented on #248
This issue is not corrected in cora-cat yet. Also the right menu link to cora-docs does not currently link to the vertebrae section of the measurements guide:

![cervical measurements](https://user-images.githubusercontent.com/34662044/46029122-2c076e00-c0b8-11e8-89bc-00b3e14a9337.jpg)

![cervical measurements2](https://user-images.githubusercontent.com/34662044/46029166-4e998700-c0b8-11e8-8416-cc

[2018-09-25 16:46] emilystreetman commented on #247
Being addressed in #254 Bone groupings - verification
Siding issues occur with this association design where mandible is a middle element, maxillae may be either left or right, and teeth are only one of left or right.

[2018-09-25 16:53] emilystreetman commented on #236
This looks OK to me now for all elements listed in the original ticket - @tlvandeest as ticket-writer, please close if this is OK for you, too?

![measurements_hum](https://user-images.githubusercontent.com/34662044/46029381-e4cdad00-c0b8-11e8-9609-b086d34ffa4a.jpg)

[2018-09-25 16:54] emilystreetman opened #259 "No image in 'Placeholder' on cranial measurements page"
The cranium measurements page image "placeholder" has not been linked to a cranial image - these are available now.

![cranium_placeholder](https://user-images.githubusercontent.com/34662044/46029683-bd2b1480-c0b9-11e8-8947-2aa577ec19fd.jpg)

[2018-09-25 17:17] tlvandeest commented on #159
This does happen now in V 1.0.0.  Confirmed and closed.

[2018-09-25 17:17] #159 closed

[2018-09-25 17:27] btrnew commented on #255
Yes, as a follow up, I tried to get into cora-cat this morning and all I am getting is the application error. I've refreshed, closed browser, etc. probably 20 different times with no luck.

[2018-09-25 17:30] tlvandeest commented on #255
I have also been getting this error periodically all day when trying to get to different menu options (e.g., Review page, Measurement page) or Searching for an element within CoRA Cat.

[2018-09-25 17:40] tlvandeest opened #260 "Error for Review page in menu in CoRA-CAT"
When trying to get to the Review Tab in v 1.0.0 at CoRA-CAT, one of two errors appears and the Review page will not load. @SachinPawaskarUNO @fedamann

![cora cat review tab error](https://user-images.githubusercontent.com/35308331/46031275-09785380-c0be-11e8-9808-d60f630caca5.JPG)
This error is seen by other trying to login to the system #255

![cora cat review tab error 2](https://user-images.gi

[2018-09-25 17:51] skindsc1 commented on #122
I'm satisfied with the current search function in v1.0.0

[2018-09-25 17:51] #122 closed

[2018-09-25 17:56] tlvandeest commented on #192
Confirmed as present in v 1.0.0 and closed.

[2018-09-25 17:56] #192 closed

[2018-09-25 18:03] tlvandeest commented on #191
Confirmed in v 1.0.0 and closed.

[2018-09-25 18:03] #191 closed

[2018-09-25 18:05] tlvandeest commented on #189
Confirmed in v 1.0.0 and closed.

[2018-09-25 18:05] #189 closed

[2018-09-26 01:00] emilystreetman commented on #259
I need to upload all other needed images - such as cervical vertebra measurements - before this can be addressed

[2018-09-26 02:28] SachinPawaskarUNO commented on #259
@fedamann, I'm confident that there are many more bones (Skeletal Elements) which have missing measurements and/or zone images. I would like to get some eyes on these to identify as many of them as we can. This will allow the DEV team (Nicole/Ryan/Sachin) to do these changes efficiently as part of one commit, instead of revisiting this multiple times.

[2018-09-26 08:29] SachinPawaskarUNO commented on #255
@fedamann, My research on the application issues that users are seeing is due to memory issues related to sizing of the server. We need to have a conversation on getting more resources for the rollout of the next release.

I will continue to dig deeper to identify optimizations.

![image](https://user-images.githubusercontent.com/19599773/46067373-48e58500-c13c-11e8-9bea-f2cafe95bf6a.png)

[2018-09-26 17:15] emilystreetman opened #261 "Inventory - Elements List not alphabetized"
The dropdown for element selection on a single-bone entry page is not in alphabetical order.

![elements_list](https://user-images.githubusercontent.com/34662044/46096855-e0bb9100-c185-11e8-88b8-f5dffc6f9619.jpg)

[2018-09-26 17:28] emilystreetman commented on #254
@SachinPawaskarUNO
Please remove: cranium group, pelvic girdle group, and thorax group
Please rename: Maxillae to "Maxillary dentition" and Mandible to "Mandibular dentition"
Please add Proximal pedal phalanx 2 to Foot

These fixes have been approved by @fedamann

[2018-09-26 17:37] emilystreetman commented on #248
Images for measurements are being addressed in ticket #259

[2018-09-26 17:40] btrnew opened #262 "New Bone Group: Accession Does Not Autofill"
Hi :)

I went into my project settings and had CoRA autofill an accession number for me. When inputting a single skeletal element the autofill function works perfectly. However, the feature does not autofill an accession number when inputting skeletal elements as a bone group. While the Bone Group section is under construction this might be a good thing to consider tweaking.

Thank you! Have a goo

[2018-09-26 17:50] emilystreetman commented on #262
Will you please share a screenshot or two documenting this problem?

[2018-10-01 17:34] JKJuarez opened #263 "Hover function over menu"
Would it be possible to include a hover function over menu items?  I know we talked about the design being set up to save space but it might be helpful to have a quick reference by hovering over the icons.

[2018-10-01 20:21] JKJuarez opened #264 "Bio-material option"
Would it be possible to add into the "bone" option something like "mummified bio-material"?  Cabanatuan has a mummified brain and I imagine other projects have come across other (at least partially) mummified biomaterial.  Without a place to write-in the specific item, a general term might be beneficial.

Thank you,
JKJ

[2018-10-02 19:32] emilystreetman opened #265 "References Section in CoRA Docs"
It would be nice to have a list of reference (citations) in the CoRA Docs area. When the measurements page says "Buikstra and Ubelaker 1994" or "Langley et al 2015" a full citation would be helpful to users.

For example:

Buikstra, J. E. and D. H. Ubelaker (editors)
	1994		Standards for Data Collection from Human Skeletal Remains.  Arkansas Archeological Survey Research Series No. 44, Fayettevill

[2018-10-02 20:56] SachinPawaskarUNO commented on #264
Based on SCRUM discussion today, it has been decided to add a new SE called "Tissue".

[2018-10-02 21:36] emilystreetman commented on #261
The update currently shows the list reverse-alphabetized with zygomatic first. Please adjust to A-to-Z instead of Z-to-A

[2018-10-02 21:39] emilystreetman commented on #250
@fedamann will you please attach the sheets you wanted me to double check for formatting to this ticket or email them to me?

[2018-10-02 21:44] emilystreetman commented on #254
Sorry, dev team - @SachinPawaskarUNO and @rpernst - the long comment above was intended as conversation between @CTegtmeyer and me. The actual requests were in the shorter comment with "please remove" etc.  At present, the current changes are requested:

- Please remove "maxilla" from Maxillary dentition group
- Please remove "mandible" from Mandibular dentition group
- Please delete Skull group
-

[2018-10-02 21:45] btrnew commented on #262
Hi! Follow up to this ticket now that Bone Group is ready to be tested.

The screenshot below indicates that I have my settings set to autofill an accession number.
![saved accession number](https://user-images.githubusercontent.com/43450732/46378655-0dfdb880-c638-11e8-980f-f9d28e0e3f7d.jpg)

The photo below shows that this function works for entering a single skeletal element
<img width="960" alt

[2018-10-02 22:00] emilystreetman commented on #247
I believe this is now an issue to double check whether articulation is possible between:

- cranium and tooth 1 - tooth 16
- maxilla and tooth 1 - tooth 16
- mandible and tooth 17 - tooth 32

Currently: From Tooth 30, I can choose any cranium or mandible to articulate to. This should only be mandibles. From Mandible, I cannot choose any teeth to articulate to. Teeth 17-32 should appear.

If someon

[2018-10-03 02:43] SachinPawaskarUNO commented on #265
@fedamann and @emilystreetman I have added a reference page under the about menu. Please encourage DPAA Anthropologists to add appropriate references used within this page for CoRA.

@emilystreetman Please verify and close out this ticket.

[2018-10-03 13:39] clegarde commented on #265
These should just be under the methods page. Buikstra and Ubelaker are under there, and I thought the measurements references were also, so this might be an oversight on my part since we had a discussion on how to properly reference Byrd and Adams. These could either go under the "Other" section or an additional one could be added labeled "Measurements" but I think all of our references should be

[2018-10-03 14:00] emilystreetman commented on #265
Wow yes, thanks @clegarde - I totally forgot that existed. I made a branch called 'add-references' and tacked the additional references from the measurements page to the methods.md - but not the full citations, because I don't know all of them.

I think we should change the intro paragraph of measurements.md to include a link to that section of methods.md . Currently, that intro paragraph over-sim

[2018-10-03 15:37] nmcelroy commented on #261
Addressed in SachinPawaskarUNO/cora2#498

[2018-10-03 18:49] emilystreetman commented on #255
Should we close this ticket if no one sees the problem between now and the next scrum?

[2018-10-03 23:40] ragreid opened #267 "Viewing Notifications CoRA-CAT"
Error keeps coming up when trying to view notification after entering a new bone group

![cora-cat notification](https://user-images.githubusercontent.com/39973898/46445290-c64b5f80-c711-11e8-8438-6d7cb74175a4.PNG)

[2018-10-08 02:11] Rachel-Voss opened #268 "Help guide missing measurements"
In the help guide, there are no directions to obtain measurements for cervical vertebrae 5 through 7.
https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/measurements/#vertebrae

[2018-10-08 18:48] nmcelroy commented on #240
This is addressed in v1.0.0

[2018-10-08 18:49] nmcelroy commented on #263
Addressed in SachinPawaskarUNO/cora2#500

[2018-10-09 15:35] emilystreetman commented on #268
- This ticket relates back to #248 (cervical measurements activation) and #259 (measurements and images verification)
- Measurement definitions are missing for C3-C7
However, I believe there are only measurements for C1 and C2, and that the issue here is that C3-C7 measurements page is activated although there are no measurements for those elements - rather than measurement descriptions being miss

[2018-10-09 15:35] #268 closed

[2018-10-09 15:57] emilystreetman commented on #248
C1 and C2 pages are now active per the original request of this ticket.

Based on our discussions, I believe the final step before closing this ticket is for @SachinPawaskarUNO to de-activate the measurements pages for Cervical vertebrae 3-7, including cervical vertebra 6/7, since these elements do not have measurements associated. @fedamann, will you please confirm this request?

[2018-10-09 15:58] emilystreetman commented on #261
Verified as fixed - closing ticket.

[2018-10-09 15:58] #261 closed

[2018-10-09 20:46] emilystreetman commented on #255
Per scrum 9OCT18, this ticket will be left open for a few weeks.

[2018-10-09 20:50] ragreid commented on #256
Tested and verified

[2018-10-09 20:50] #256 closed

[2018-10-09 20:50] emilystreetman commented on #254
These requests are verified as activated in CAT

[2018-10-09 20:50] #254 closed

[2018-10-09 21:00] ragreid commented on #267
Tested and verified

[2018-10-09 21:00] #267 closed

[2018-10-09 21:10] emilystreetman opened #269 "Mandibular teeth (17-32) should not be allowed to articulate with cranium"
Tooth 17-32 should only be able to articulate with the mandible, but they can currently articulate with the cranium also. This is related to recently closed ticket #254 .

![image](https://user-images.githubusercontent.com/34662044/46697922-66562c80-cbdb-11e8-8e70-c220304359a3.png)

From Tooth 15, I can select a cranium or a maxilla for articulation (correct). But from a cranium or maxilla, I cann

[2018-10-09 21:13] emilystreetman commented on #248
Following the scrum on 9OCT18, this request is confirmed by @fedamann . I also double checked, this has not yet been put into CAT.

![image](https://user-images.githubusercontent.com/34662044/46699025-3c523980-cbde-11e8-9604-7c360ab1edd4.png)

[2018-10-09 21:14] emilystreetman commented on #247
I have made a new ticket #269 for the current issue with tooth articulations. Closing this one since the original request is verified as active in CAT.

[2018-10-09 21:14] #247 closed

[2018-10-09 21:19] emilystreetman commented on #246
@veronicak7 Hi Veronica - Hawaii CHR folks may have already found you to let you know about this, but in the 9OCT18 scrum, it was requested that you please verify and close this ticket. Thank you!

[2018-10-09 21:20] emilystreetman commented on #199
Hi @clegarde following Franklin's above comment, if it's ok to close this ticket, will you please do so? Thank you!

[2018-10-09 21:29] emilystreetman commented on #157
Ticket #254 (re-verifying these groups) is closed. @clegarde could we verify and close this one since the original request is active in CAT?

[2018-10-09 21:30] emilystreetman commented on #162
@CTegtmeyer We haven't talked about this one in scrum for a while. Do you think it's ready to close since the original issue is now addressed in CAT? (New issues with teeth aside.)

[2018-10-09 21:36] emilystreetman commented on #239
Linked to ticket #249 Min and Max values and thresholds

[2018-10-09 21:44] emilystreetman commented on #269
For group discussion:
- Should occluding molars/premolars be allowed to articulate?
- Should this be allowed only if they also articulate with a maxilla/cranium/mandible?
- Should two neighboring teeth be allowed to articulate?
@clegarde @veronicak7 @CTegtmeyer @skindsc1 @lfkennedy, as people who have participated in some of the tooth tickets, would you consider weighing in? In the interest of str

[2018-10-09 22:03] emilystreetman commented on #196
Recommendations to replace the single measurements with the below left and right entries:

*Cranium*
- Cra_16L | Cra_16 Left Orbital Breadth (d-ec) | Laterally sloping distance from dacryon (d) to ectoconchion (ec).
- Cra_16R | Cra_16 Right Orbital Breadth  (d-ec) | Laterally sloping distance from dacryon (d) to ectoconchion (ec).
- Cra_17L | Cra_17 Left Orbital Height | Direct distance between th

[2018-10-09 22:10] emilystreetman commented on #265
In scrum 9OCT18, @fedamann recommended having references only in one place, the Methods section of the help guide, which already exists. @SachinPawaskarUNO leaving ticket open for now.

[2018-10-10 05:10] veronicak7 commented on #246
Hi Emily,

I did receive that information from Caryn. Thanks.

Best,
Veronica

Veronica A. Keyes, PhD, RPA
DPAA Laboratory
veronica.a.keyes2.civ@mail.mil
(808) 448-4500 ext. 3769

-----Original Message-----
From: Emily Streetman [mailto:notifications@github.com]
Sent: Tuesday, October 9, 2018 11:19 AM
To: spawaskar-cora/cora-docs <cora-docs@noreply.github.com>
Cc: Keyes, Veronica A (Dr.) CIV DPAA

[2018-10-10 14:01] nyukyi opened #270 ""Column visibility" drop down text difficult to see"
![cora_design_issue](https://user-images.githubusercontent.com/34749060/46741434-9e588080-cc6a-11e8-97df-9cf098485fe6.jpg)

When I clicked on the "Column visibility" drop down menu to select which columns I wanted to see, I couldn't read the selected text well because it is white text on light gray background.  Could we maybe have either the background or text a bit darker so we can read the text?

[2018-10-10 18:28] nmcelroy commented on #262
Addressed in SachinPawaskarUNO/cora2#504

[2018-10-10 20:04] Rachel-Voss opened #271 "Ulna-measurement 12 missing"
@emilystreetman When comparing CoRA to the help guide, the help guide has measurement 12 but CoRA does not.   https://cora-cat.herokuapp.com/skeletalelements/13988/measurements
![ticket github 1](https://user-images.githubusercontent.com/43616807/46762742-fb255c80-cca5-11e8-9a5e-a91bb23501e8.jpg)

[2018-10-10 21:59] jjlynch2 commented on #271
Uln_12 is the DCP 2.0 for physiological length that inadvertently changed the measurement by altering the definition. I think this was going to be purposely left out? @clegarde @fedamann

[2018-10-10 22:06] lfkennedy commented on #269
fwiw: if there are interproximal wear facets, it may be useful to archaeological research to be able to articulate loose teeth.

However, while I could see some situations where other users/institutions may attempt this without the benefit of having alveolar bone (i.e., if you are going to allow tooth-tooth articulations, it seems like a good idea to allow it regardless of the presence of maxillar

[2018-10-10 22:18] lfkennedy opened #272 "More info or link with notifications"
After creating a bone group, the notification could be more specific - could it include the accession # at least?

![image](https://user-images.githubusercontent.com/35273714/46768960-c1595380-ccaf-11e8-9c5f-1ceb9bc118e0.png)

After creating multiple bone groups, having the accession number written out or a link would enhance our ability to quickly access those specimen logs in order to edit them

[2018-10-10 22:21] lfkennedy commented on #200
verified in cat.coracore.org

[2018-10-10 22:21] #200 closed

[2018-10-10 22:45] clegarde commented on #271
I had a discussion with @fedamann about this, and it was decided to leave it in so that people could choose which Physiological Length definition they wanted to use/follow. That’s why it’s in the help guide.

[2018-10-10 22:48] clegarde commented on #269
I agree that option should exist for tooth-tooth articulations and any other association deemed possible. These may be things we would use at DPAA, but would be something to make sure it’s applicable for other uses as well (archaeology, thanks @lfkennedy for your outside perspective!).

[2018-10-11 18:56] rpernst commented on #272
Yes, the notification was fixed with this sachinpawaskaruno/cora2#511.
The view link will now send you to a more detailed view of the notification including how long ago it was created, the accession number, provenance1, provenance2, and starting designator number.

[2018-10-11 19:07] CTegtmeyer commented on #162
@emilystreetman Yes, I think this issue has been sufficiently addressed. I will close this issue.

[2018-10-11 19:07] #162 closed

[2018-10-15 17:42] lfkennedy commented on #272
OK!

[2018-10-15 17:42] #272 closed

[2018-10-16 00:19] JKJuarez commented on #264
Decision to close out ticket following implementation and discussion at CoRA scrum on 9 Oct 18

[2018-10-16 00:19] #264 closed

[2018-10-16 14:58] tlvandeest commented on #196
The cranial and mandibular measurements look good to me. @emilystreetman
Citation correction needed: The Byrd and Adams measurement numbers (#81A, etc.) listed for the Cervical verts are not present in in the 2003 article or either the 2008 or 2014 book chapters.  I think @clegarde and I discussed this a while ago, but I do not remember where they are listed so this reference can be corrected.

[2018-10-16 19:27] clegarde commented on #196
There are a number of Byrd and Adams measurements that were not in any of the publications and only within the definition guide we have at DPAA. We had decided to reference the last update of this - Byrd and Adams 2015. The vert measurements should reference this one as well.

[2018-10-16 19:39] #199 closed

[2018-10-16 19:41] clegarde commented on #265
I added some info, including adding Byrd and Adams 2015 for additional measurements not in the earlier articles (and these reference B&A 2015 in the measurement guide), and gave these a once over. Created a pull request @SachinPawaskarUNO

[2018-10-17 14:48] clegarde commented on #240
GTG. I did get the following error when clicking on the sample number (2388A). Using Safari.
![screen shot 2018-10-17 at 9 47 16 am](https://user-images.githubusercontent.com/7350474/47094893-b6dc1400-d1f1-11e8-8289-8821c71d9f36.png)

[2018-10-22 14:19] tlvandeest commented on #233
Suggest we have a discussion/walkthrough of the review process in CoRA.  From what I can see in CoRA-CAT there is still not an accept button on the review page for the analyst to accept and apply the changes (if I am understanding Ryan's note above).  @SachinPawaskarUNO @rpernst

[2018-10-22 14:20] tlvandeest commented on #160
Verfied this issue taken care of in v1.0.0 with selection of automatic next page when creating new element.

[2018-10-22 14:20] #160 closed

[2018-10-22 16:47] tlvandeest commented on #196
@clegarde Thanks, Carrie! I have no changes for the list of right and left measurements. @emilystreetman @skorps

[2018-10-22 17:17] mei215 opened #274 "Remove Manual and Pedal Digit 1 Intermediate Phalanges"
@SachinPawaskarUNO, "intermediate manual phalanx 1" and "intermediate pedal phalanx 1" should be deleted as element options because they do not exist in the skeleton

 ![capture](https://user-images.githubusercontent.com/33871387/47307104-cbeee380-d5f3-11e8-9efa-5c345cd8c4e3.JPG)

[2018-10-22 17:35] tlvandeest opened #275 "Error when Searching in Cora CAT"
The Application error is now happening when searching for elements in CoRA-CAT under the USS Oklahoma project.  See image below.  @SachinPawaskarUNO @fedamann

 ![cora search error](https://user-images.githubusercontent.com/35308331/47305899-84b32380-d5f0-11e8-9fd7-7aa54f96c5cd.JPG)

[2018-10-22 19:14] SachinPawaskarUNO commented on #275
@tlvandeest  I see that it is the USS Oklahoma project. Can you please add information about what search option and search string you where using when you encountered this issue?

[2018-10-22 20:44] tlvandeest commented on #275
@SachinPawaskarUNO I just entered "femur" in the search menu for Bone and this is the error that came up. This also happened when searching for other elements and when transitioning to new pages within CoRA (e.g., when trying to get to the Measurements page for a cranium).

[2018-10-24 14:21] nmcelroy commented on #240
@clegarde was this error only when clicking on specifically 2388A or did it happen multiple times on different DNA sample numbers as well?

[2018-10-29 02:29] nmcelroy commented on #240
Fixed issue in SachinPawaskarUNO/cora2#528

[2018-11-01 17:36] JKJuarez commented on #263
Was asked during last CoRA scrum to give a couple of weeks before closing this. Closing now.

[2018-11-01 17:36] #263 closed

[2018-11-01 17:42] emilystreetman commented on #271
I am closing this issue based on developer commentary and the ongoing ticket #259 that is updating all measurements and related images.

[2018-11-01 17:45] emilystreetman commented on #269
For today - further group discussion in or after the scrum would be helpful so that we can decide on recommendations.

[2018-11-01 17:46] skindsc1 opened #276 "Provenance 1 and 2 not present in skeletal element home page"
When pulling up an element the entire composite key is displayed at the top, for example CIL 2003-116-G-18-X-251H-219 but when you open the element home page there is no Provenance 1 and 2 listed.  This results in failure when searching by composite key.

![image](https://user-images.githubusercontent.com/21186879/47869032-d53a3600-ddd3-11e8-87df-d5a419d2e3c0.png)

[2018-11-01 17:46] emilystreetman commented on #258
Verified as fixed, closing ticket.

[2018-11-01 17:46] #258 closed

[2018-11-01 17:47] emilystreetman commented on #265
Thank you to @clegarde for making a pull request on this. Verified as updated.

[2018-11-01 17:47] #265 closed

[2018-11-01 17:48] emilystreetman commented on #250
I have received the sheets and am working on updating them.

[2018-11-01 17:53] emilystreetman commented on #248
The issue raising in the original ticket has been resolved. Measurements pages are active for C1 and C2 only, with no access to measurements pages of C3-C7. Verified.

[2018-11-01 17:53] #248 closed

[2018-11-01 18:00] emilystreetman commented on #198
This looks good to me in cat (but I don't have admin dashboard access to verify there) - @clegarde will you please close if you agree?
![noclavicletriage1](https://user-images.githubusercontent.com/34662044/47869848-fac83f00-ddd5-11e8-9e38-e10f8a0520ae.JPG)
![noclavicletriage2](https://user-images.githubusercontent.com/34662044/47869854-fdc32f80-ddd5-11e8-94e5-55e00c9ef46a.JPG)

[2018-11-01 18:02] skindsc1 opened #277 "Cannot add new Provenance 1 and 2"
When editing a skeletal element to add Prov 1 and 2 a dropdown appears that is not a full list of provenances (below).

![image](https://user-images.githubusercontent.com/21186879/47869354-bc7e5000-ddd4-11e8-9c1e-1f24aab10c90.png)

When attempting to enter Prov 1 or 2 you are not able to type a provenance that is not already included in a dropdown.

![image](https://user-images.githubusercontent.c

[2018-11-01 18:09] emilystreetman commented on #196
This update is not active for mandible measurements (please note Man_05 and Man_06 are also out of order on this screenshot.
![image](https://user-images.githubusercontent.com/34662044/47870336-50511b80-ddd7-11e8-9bcf-ead0ab56c189.png)

[2018-11-01 18:20] emilystreetman commented on #183
@TarawaProject If this is ok, will you please close the ticket? Please see also the 24Aug18 comment by Franklin on #199, which explains why the existing fields can capture the desired info.

[2018-11-01 18:52] emilystreetman commented on #176
This looks like it is active in cat.coracore.org - @TarawaProject if you agree, will you please close the ticket?
![image](https://user-images.githubusercontent.com/34662044/47872735-5c3fdc00-dddd-11e8-966e-6695e6631844.png)

[2018-11-01 18:55] #183 closed

[2018-11-01 19:06] emilystreetman opened #278 "Possible vs. Final Pair Match options should exist"
@skindsc1 and I would like to bring pair matching back up. (Related to ticket #107)

1) How does Osteosort or CoRA Analytics provide a short list of statistically identified *potential* pair matches?

2) How can an analyst indicate whether these *potential* pair matches actually *are* a pair match to the element in question? When that final pair-match association is made, it should be considered a

[2018-11-02 19:43] emilystreetman opened #279 "Broken links to Help Guide"
Following discussion on the thread for ticket #259, I am writing this ticket because cervical vertebra 1 and cervical vertebra 2 have broken help links on the right panel on their measurements pages.
Please link both of these elements measurements page help guide to:
https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/measurements/#vertebrae

![image](https://user-images.githubuserco

[2018-11-02 19:49] emilystreetman commented on #279
When my interns made this list, the vertebrae were the only ones without a link, but I now see that the cranium measurements page help link is also broken. Please link it to:
https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/measurements/#cranium

![image](https://user-images.githubusercontent.com/34662044/47937375-84e3d680-deae-11e8-9db1-7cbf4346b49c.png)

[2018-11-02 19:52] emilystreetman commented on #279
I think many of the help guide links in the measurements page may have been disconnected - do I need to have them check everything again? Mandible should go to https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/measurements/#mandible but goes to the generic help page

![image](https://user-images.githubusercontent.com/34662044/47937482-e441e680-deae-11e8-8cce-1d6c5654df18.png)

[2018-11-02 19:55] emilystreetman commented on #269
@rpernst I think Sachin said this is one of your things:

Following discussion including @fedamann at CoRA Scrum 1NOV18, the below fixes should be made and the remainder of dental articulation discussion will be tabled until the dental module is in dev.

The following are the correct articulations for teeth and the recommended fixes:

    - Cranium and maxilla should articulate with tooth 1 - toot

[2018-11-02 19:57] emilystreetman commented on #259
This issue has been fixed - closing ticket and opening new ones regarding additional images and measurements.

[2018-11-02 19:57] #259 closed

[2018-11-02 19:58] emilystreetman opened #280 "No images yet for hands, feet, or patellae"
Following discussion on the thread of ticket #259, it is noted that there are currently no images in the CoRA Help Guide for the following bones:

Calcaneus
Capitate
Cervical vertebra 2
Cuboid
First medial cuneiform
Hamate
Lunate
Metacarpal 1
Metacarpal 2
Metacarpal 3
Metacarpal 4
Metacarpal 5
Metatarsal 1
Metatarsal 2
Metatarsal 3
Metatarsal 4
Metatarsal 5
Navicular
Patella
Pisiform
Scaphoid
Seco

[2018-11-02 20:00] emilystreetman opened #281 "Some measurements not represented in help images"
Following discussion on the thread of ticket #259, the following measurements are not currently represented in the help images. Emily and Nandar are working on creating images where needed, and labeling existing images where possible to add these measurements to the help guide.

Cla_04 | Sagittal (Anterior-Posterior)   Diameter at Midshaft
Cla_05 | Vertical (Superior-Inferior) Diameter at Midshaft

[2018-11-02 20:02] emilystreetman commented on #278
I am closing this ticket following discussion with @skindsc1 @SachinPawaskarUNO @rpernst and @fedamann - these issues are in early development.

[2018-11-02 20:02] #278 closed

[2018-11-02 20:05] emilystreetman opened #282 "Pair match elimination list of reasons"
Following discussion on ticket #278, it is recommended that the analyst team come up with a list of reasons for eliminating a possible pair match from the list. Ideas so far include:

- mtDNA
- too fragmentary to compare
- morphology
- age
- mtDNA and morphology

@SachinPawaskarUNO says this can only be a drop down menu and not a multi-select, so any reasonable options that combine simpler options

[2018-11-02 21:08] clegarde commented on #282
This may have been discussed, so ignore if so, but I would hope that elements with a different mtDNA sequence could automatically be eliminated from this list somehow because if it has a different mtDNA sequence it cannot be a potential pair (different DNA = 2 people).
If we want/need all elements listed, then it would be nice if any element with a value in "Mito Sequence Number" could be marked a

[2018-11-05 17:34] emilystreetman commented on #282
@clegarde Best of my understanding, we should be able to eliminate those elements before even sending to OsteoSort, so they should not appear on the short list, sidestepping your scenario. We had been thinking we could leave mtDNA as an elimination method only in case mito results come in following the OsteoSort run.

[2018-11-05 17:37] emilystreetman commented on #246
Verified - closing ticket.

[2018-11-05 17:37] #246 closed

[2018-11-05 17:41] emilystreetman commented on #282
Related to tickets #107 and #278

[2018-11-08 14:55] tlvandeest commented on #275
@SachinPawaskarUNO @fedamann The application error above is also now happening when trying to get to an element from the search list (e.g., clicking on the link for a femur). This error happened at 0850 when presumably when there would not be a large number of people using the program.

[2018-11-08 15:45] SachinPawaskarUNO commented on #275
@fedamann and @tlvandeest, I agree that we need to look at this more closely, even though this is a memory spike issue (See image below), We need to take a look at which operations are causing the memory to spike. Increased memory in production will help but we need to get to root cause of which piece of the code needs to be optimized to alleviate this issue. In order to do that we need to have lo

[2018-11-08 18:16] emilystreetman commented on #281
The following elements/measurements still require drawings and/or digital updates:
- Cervical vertebrae 1 and 2
- Hands
- Feet
- Patella
- Cra_11 | Nasion-Prosthion Height (n-pr)
- Hum_06 | Total Breadth of the Capitulum-Trochlea
- Hum_07 | Anterior-Posterior Breadth of the Head
- Tib_12 | Maximum Anterior-Posterior Distance of the Distal Articular Surface
- Tib_13 | Biarticular Breadth
- Tib_14 |

[2018-11-08 18:18] emilystreetman commented on #280
This list of images needed now found in ticket #281, closing this ticket as duplicate.

[2018-11-08 18:18] #280 closed

[2018-11-08 21:36] emilystreetman commented on #279
Attempted to verify following closure by @SachinPawaskarUNO -- this issue is not resolved. Re-opening ticket per guidance of @fedamann . See original ticket for accurate screenshots of cat environment and right-side help guide not opening to element-specific measurement page.

[2018-11-08 21:41] emilystreetman commented on #250
The below xlsx contains a new dictionary column titled display_interval, indicating the ages in years that each score indicates in McKern and Stewart methods. Github does not support posting csv but this xlsx is simple-formatted and can easily be saved-as by the dev team.

[method_features_ensupdate.xlsx](https://github.com/spawaskar-cora/cora-docs/files/2563697/method_features_ensupdate.xlsx)

[2018-11-08 21:51] emilystreetman opened #284 "Remove age methods"
Following work on McKern and Stewart age methods for ticket #250.

Please remove these McKern and Stewart age methods from the manubrium and the xiphoid, respectively:
id | method_id | feature | display_name | element_name | display_values
118 | 74 | Manubriosternal Joint | Manubriosternal Joint | Manubrium | {"Unfused":"Unfused",   "Fused":"Fused"}
156 | 126 | Xiphoid-sternal fusion | Xiphoid-ste

[2018-11-09 16:42] mei215 commented on #274
Checked this closed ticket and it looks like these two elements (intermediate pedal phalanx 1 and intermediate manual phalanx 1) are still present.

[2018-11-10 00:52] #270 closed

[2018-11-10 22:40] clegarde commented on #250
An update to the excel provided by @emilystreetman is attached.

[method_features_ensupdate2.xlsx](https://github.com/spawaskar-cora/cora-docs/files/2568854/method_features_ensupdate2.xlsx)

[2018-11-13 14:50] nyukyi commented on #76
This issue has come back up in the current version.  When I searched for elements by zones, the zones list was not in order.  These are just two examples I found; not sure how many others there are.

![cora_femur_zones](https://user-images.githubusercontent.com/34749060/48420919-12ca8780-e721-11e8-981a-af24ff6862e3.PNG)

![cora_fibula_zones](https://user-images.githubusercontent.com/34749060/48420

[2018-11-14 20:46] #269 closed

[2018-11-15 00:48] nmcelroy commented on #76
Addressed in SachinPawaskarUNO/cora2#547

[2018-11-15 16:51] emilystreetman commented on #269
Analyst verifies this issue is resolved

[2018-11-15 17:05] emilystreetman opened #285 "CoRA measurement images not using most up-to-date images in GitHub"
Related to ticket #279 Broken links to Help Guide and #281 Some measurements not represented in Help Guide

Links on the right side help guide now link to correct measurements section, but while the images presented in the Help Guide are the most up-to-date files, the measurements page in CoRA is not similarly updated.

Example snip here where main page image is not updated. This issue is present

[2018-11-15 17:05] emilystreetman commented on #279
Most of these instances are resolved, however, the measurements page for Patella currently links to Feet Measurements Help Guide, when it should link to Patella Measurements Help Guide at https://cora-docs.readthedocs.io/en/latest/forensics-anthro-guide/measurements/#patella

![image](https://user-images.githubusercontent.com/34662044/48568786-c2405f00-e8c5-11e8-816d-0fadeb2bdf19.png)

[2018-11-15 18:06] skindsc1 opened #286 "Ability to create a list of elements that have any Individual Number"
I cannot call up a list of elements that are associated with an Individual Number.  For example, if I want to get a list of left femora that have an I-# associated with them.

[2018-11-15 19:32] lfkennedy opened #287 "Zones are incorrectly marked present"
When running a zone search, elements have zones marked as present where this portion of the bone is actually missing.

![image](https://user-images.githubusercontent.com/35273714/48576726-e195b700-e8da-11e8-84a9-d3143bfebdd8.png)

In the above search, the results circled with red are showing zone 1 is present, when in actuality, all zones except for 1 are present for these elements.  I thought thi